<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-spin-clockwise">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<p-toast></p-toast>
<p-panel [toggleable]="false" [style]="{'font-size':'12px'}" header="Capture Actuals">
    <p-menubar [model]="menuActions" [style]="{'font-size':'14px', 'height': '43px'}"></p-menubar>
    <p-messages [(value)]="validationErrors" [closable]="false" [enableService]="false"></p-messages>
    <div style="height: 10px;"></div>
    <p-panel [style]="{'font-size':'12px'}" header="Actuals" *ngIf="isDataAvailable">
        <p-card subheader="Activity Information" [style]="{width: '100%',backgroundColor:'var(--surface-b)'}">
            <div style="margin-top: 0px;" class="p-grid">
                <div class="p-col-6">
                    <div class="p-fluid">
                        <div class="p-grid">
                            <div class="p-col-fixed form-label">
                                <div class="box">
                                    <span class="non-mandatory-content">Activity</span>
                                </div>
                            </div>
                            <div class="p-col">
                                <textarea class="form-text" rows="3" cols="30" pInputTextarea [(ngModel)]="activity.activityList.description" autoResize="autoResize" [disabled]="true"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-col-6">
                    <div class="p-fluid">
                        <div class="p-grid">
                            <div class="p-col-fixed form-label">
                                <div class="box">
                                    <span class="non-mandatory-content">Indicator</span>
                                </div>
                            </div>
                            <div class="p-col">
                                <textarea class="form-text" rows="1" cols="30" pInputTextarea [(ngModel)]="activity.successIndicator" autoResize="autoResize" [disabled]="true"></textarea>
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-fixed form-label">
                                <div class="box">
                                    <span class="non-mandatory-content">Target</span>
                                </div>
                            </div>
                            <div class="p-col">
                                <p-inputNumber [(ngModel)]="activity.target" inputId="integeronly" [style]="{'width':'100%'}" [disabled]="true"></p-inputNumber>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p-card>
        <div style="height: 10px;"></div>
        <p-card [style]="{width: '100%',backgroundColor:'var(--surface-b)'}">
            <div style="margin-top: 0px;" class="p-grid">
                <div class="p-col-6">
                    <div class="p-fluid">
                        <div class="p-grid">
                            <div class="p-col-fixed form-label">
                                <div class="box">
                                    <span class="mandatory-content">Financial Year</span>
                                </div>
                            </div>
                            <div class="p-col">
                                <p-dropdown [options]="filtererdFinancialYears" placeholder="Select a Financial Year" optionLabel="name" [(ngModel)]="selectedFinancialYear" [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}" appendTo="body" (onChange)="financialYearChange()" #financialYear="ngModel" [ngClass]="{'ng-dirty': (financialYear.invalid && validated) || (financialYear.dirty && financialYear.invalid)}" required></p-dropdown>
                                <small *ngIf="(financialYear.invalid && validated) || (financialYear.dirty && financialYear.invalid)" class="p-error">Financial Year is required.</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-col-6">
                    <div class="p-fluid">
                        <div class="p-grid">
                            <div class="p-col-fixed form-label">
                                <div class="box">
                                    <span class="mandatory-content">Frequency</span>
                                </div>
                            </div>
                            <div class="p-col">
                                <p-dropdown [options]="frequencies" placeholder="Select a Frequency" optionLabel="name" [(ngModel)]="selectedFrequency" [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}" appendTo="body" [disabled]="true"></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p-card>
        <div style="height: 10px;" *ngIf="selectedFinancialYear"></div>
        <div *ngIf="selectedFinancialYear">
            <div *ngFor="let workplanActual of filteredWorkplanActuals">
                <p-accordion [multiple]="true">
                    <p-accordionTab header="{{workplanActual.frequencyPeriod.name}} Actuals">
                        <p-card subheader="Performance Information - {{workplanActual.frequencyPeriod.name}}" [style]="{width: '100%',backgroundColor:'var(--surface-b)'}">
                            <div style="margin-top: 0px;" class="p-grid">
                                <div class="p-col-6">
                                    <div class="p-fluid">
                                        <div class="p-grid">
                                            <div class="p-col-fixed form-label">
                                                <div class="box">
                                                    <span class="mandatory-content">Captured Target</span>
                                                </div>
                                            </div>
                                            <div class="p-col">
                                                <p-inputNumber *ngIf="workplanActual.frequencyPeriodId == FrequencyPeriodEnum.Annual" [(ngModel)]="target.annual" inputId="integeronly" [style]="{'width':'100%'}" [disabled]="true"></p-inputNumber>
                                                <p-inputNumber *ngIf="workplanActual.frequencyPeriodId == FrequencyPeriodEnum.Apr" [(ngModel)]="target.apr" inputId="integeronly" [style]="{'width':'100%'}" [disabled]="true"></p-inputNumber>
                                                <p-inputNumber *ngIf="workplanActual.frequencyPeriodId == FrequencyPeriodEnum.May" [(ngModel)]="target.may" inputId="integeronly" [style]="{'width':'100%'}" [disabled]="true"></p-inputNumber>
                                                <p-inputNumber *ngIf="workplanActual.frequencyPeriodId == FrequencyPeriodEnum.Jun" [(ngModel)]="target.jun" inputId="integeronly" [style]="{'width':'100%'}" [disabled]="true"></p-inputNumber>
                                                <p-inputNumber *ngIf="workplanActual.frequencyPeriodId == FrequencyPeriodEnum.Jul" [(ngModel)]="target.jul" inputId="integeronly" [style]="{'width':'100%'}" [disabled]="true"></p-inputNumber>
                                                <p-inputNumber *ngIf="workplanActual.frequencyPeriodId == FrequencyPeriodEnum.Aug" [(ngModel)]="target.aug" inputId="integeronly" [style]="{'width':'100%'}" [disabled]="true"></p-inputNumber>
                                                <p-inputNumber *ngIf="workplanActual.frequencyPeriodId == FrequencyPeriodEnum.Sep" [(ngModel)]="target.sep" inputId="integeronly" [style]="{'width':'100%'}" [disabled]="true"></p-inputNumber>
                                                <p-inputNumber *ngIf="workplanActual.frequencyPeriodId == FrequencyPeriodEnum.Oct" [(ngModel)]="target.oct" inputId="integeronly" [style]="{'width':'100%'}" [disabled]="true"></p-inputNumber>
                                                <p-inputNumber *ngIf="workplanActual.frequencyPeriodId == FrequencyPeriodEnum.Nov" [(ngModel)]="target.nov" inputId="integeronly" [style]="{'width':'100%'}" [disabled]="true"></p-inputNumber>
                                                <p-inputNumber *ngIf="workplanActual.frequencyPeriodId == FrequencyPeriodEnum.Dec" [(ngModel)]="target.dec" inputId="integeronly" [style]="{'width':'100%'}" [disabled]="true"></p-inputNumber>
                                                <p-inputNumber *ngIf="workplanActual.frequencyPeriodId == FrequencyPeriodEnum.Jan" [(ngModel)]="target.jan" inputId="integeronly" [style]="{'width':'100%'}" [disabled]="true"></p-inputNumber>
                                                <p-inputNumber *ngIf="workplanActual.frequencyPeriodId == FrequencyPeriodEnum.Feb" [(ngModel)]="target.feb" inputId="integeronly" [style]="{'width':'100%'}" [disabled]="true"></p-inputNumber>
                                                <p-inputNumber *ngIf="workplanActual.frequencyPeriodId == FrequencyPeriodEnum.Mar" [(ngModel)]="target.mar" inputId="integeronly" [style]="{'width':'100%'}" [disabled]="true"></p-inputNumber>
                                                <p-inputNumber *ngIf="workplanActual.frequencyPeriodId == FrequencyPeriodEnum.Q1" [(ngModel)]="target.quarter1" inputId="integeronly" [style]="{'width':'100%'}" [disabled]="true"></p-inputNumber>
                                                <p-inputNumber *ngIf="workplanActual.frequencyPeriodId == FrequencyPeriodEnum.Q2" [(ngModel)]="target.quarter2" inputId="integeronly" [style]="{'width':'100%'}" [disabled]="true"></p-inputNumber>
                                                <p-inputNumber *ngIf="workplanActual.frequencyPeriodId == FrequencyPeriodEnum.Q3" [(ngModel)]="target.quarter3" inputId="integeronly" [style]="{'width':'100%'}" [disabled]="true"></p-inputNumber>
                                                <p-inputNumber *ngIf="workplanActual.frequencyPeriodId == FrequencyPeriodEnum.Q4" [(ngModel)]="target.quarter4" inputId="integeronly" [style]="{'width':'100%'}" [disabled]="true"></p-inputNumber>
                                            </div>
                                        </div>
                                        <div class="p-grid">
                                            <div class="p-col-fixed form-label">
                                                <div class="box">
                                                    <span class="mandatory-content">Actual</span>
                                                </div>
                                            </div>
                                            <div class="p-col">
                                                <p-inputNumber [(ngModel)]="workplanActual.actual" inputId="integeronly" [style]="{'width':'100%'}" #actual="ngModel" [ngClass]="{'ng-dirty': (actual.invalid && validated) || (actual.dirty && actual.invalid)}" required (onInput)="valueChanged(workplanActual)" [disabled]="isPreviousFinancialYear"></p-inputNumber>
                                                <small *ngIf="(actual.invalid && validated) || (actual.dirty && actual.invalid)" class="p-error">Actual is required.</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-col-6">
                                    <div class="p-fluid">
                                        <div class="p-grid">
                                            <div class="p-col-fixed form-label">
                                                <div class="box">
                                                    <span class="mandatory-content">Statement</span>
                                                </div>
                                            </div>
                                            <div class="p-col">
                                                <textarea class="form-text" rows="1" cols="30" pInputTextarea [(ngModel)]="workplanActual.statement" autoResize="autoResize" #statement="ngModel" [ngClass]="{'ng-dirty': (statement.invalid && validated) || (statement.dirty && statement.invalid)}" required (change)="valueChanged(workplanActual)" [disabled]="isPreviousFinancialYear"></textarea>
                                                <small *ngIf="(statement.invalid && validated) || (statement.dirty && statement.invalid)" class="p-error">Statement is required.</small>
                                            </div>
                                        </div>
                                        <div class="p-grid">
                                            <div class="p-col-fixed form-label">
                                                <div class="box">
                                                    <span class="mandatory-content">Deviation Reason</span>
                                                </div>
                                            </div>
                                            <div class="p-col">
                                                <textarea class="form-text" rows="1" cols="30" pInputTextarea [(ngModel)]="workplanActual.deviationReason" autoResize="autoResize" #deviationReason="ngModel" [ngClass]="{'ng-dirty': (deviationReason.invalid && validated) || (deviationReason.dirty && deviationReason.invalid)}" required (change)="valueChanged(workplanActual)" [disabled]="isPreviousFinancialYear"></textarea>
                                                <small *ngIf="(deviationReason.invalid && validated) || (deviationReason.dirty && deviationReason.invalid)" class="p-error">Deviation Reason is required.</small>
                                            </div>
                                        </div>
                                        <div class="p-grid">
                                            <div class="p-col-fixed form-label">
                                                <div class="box">
                                                    <span class="mandatory-content">Action</span>
                                                </div>
                                            </div>
                                            <div class="p-col">
                                                <textarea class="form-text" rows="1" cols="30" pInputTextarea [(ngModel)]="workplanActual.action" autoResize="autoResize" #action="ngModel" [ngClass]="{'ng-dirty': (action.invalid && validated) || (action.dirty && action.invalid)}" required (change)="valueChanged(workplanActual)" [disabled]="isPreviousFinancialYear"></textarea>
                                                <small *ngIf="(action.invalid && validated) || (action.dirty && action.invalid)" class="p-error">Action is required.</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-fluid" style="margin-top: 3%;">
                                    <div class="p-field">
                                        <label class="non-mandatory-content">Evidence</label>
                                        <p-fileUpload name="demo[]" #form customUpload="true" (uploadHandler)="onUploadChange($event, form, workplanActual)" [showCancelButton]="false" chooseLabel="Browse" [disabled]="isPreviousFinancialYear">
                                            <ng-template let-file pTemplate="file">
                                                <div style="height: 10px;"></div>
                                                <div class="p-grid">
                                                    <div class="p-col-10">
                                                        <div>{{file.name}}</div>
                                                    </div>
                                                    <!-- <div class="p-col-5">
                                                        <div>
                                                            <p-dropdown [options]="documentTypes" placeholder="Select a Document Type" optionLabel="name" [(ngModel)]="file.documentType" [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}" appendTo="body"></p-dropdown>
                                                        </div>
                                                    </div> -->
                                                    <div class="p-col-2">
                                                        <div class="pull-right">
                                                            <button pButton pRipple type="button" class="p-button-text p-button-danger action-button" icon="fa fa-trash" (click)="remove($event, file, form)" pTooltip="Delete" tooltipPosition="top"></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                            <ng-template pTemplate="content">
                                                <div style="height: 10px;"></div>
                                                <p-table [value]="workplanActual.documents" styleClass="p-datatable-sm" [columns]="documentCols">
                                                    <ng-template pTemplate="header" let-columns>
                                                        <tr>
                                                            <th *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                                                                {{col.header}}
                                                            </th>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-document let-rowIndex="rowIndex">
                                                        <tr> 
                                                            <td style="text-align: center;">{{rowIndex + 1}}</td>
                                                            <td>{{document.name}}</td>
                                                            <td>{{document.documentType.name}}</td>
                                                            <td>{{document.fileSize}}</td>
                                                            <td>{{document.createdDateTime | date: 'yyyy-MM-dd'}}</td>
                                                            <td style="text-align: center;">
                                                                <button pButton pRipple type="button" class="p-button-text p-button-success action-button" icon="fa fa-cloud-download" (click)="onDownloadDocument(document)" pTooltip="Download" tooltipPosition="top"></button>
                                                                <button pButton pRipple type="button" class="p-button-text p-button-danger action-button" icon="fa fa-trash" (click)="onDeleteDocument(document, workplanActual)" pTooltip="Delete" tooltipPosition="top" [disabled]="isPreviousFinancialYear"></button>
                                                            </td>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="emptymessage">
                                                        <tr>
                                                            <td colspan="6" style="text-align: center;">There are no documents uploaded.</td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>
                                            </ng-template>
                                        </p-fileUpload>
                                    </div>
                                </div>
                            </div>
                        </p-card>
                    </p-accordionTab>
                </p-accordion>
            </div>
        </div>
        <div style="height: 10px;"></div>
        <p-menubar [model]="menuActions" [style]="{'font-size':'14px', 'height': '43px'}"></p-menubar>
    </p-panel>
</p-panel>

<div class="content-section implementation">
    <p-confirmDialog #cd header="Confirmation" [style]="{width: '30vw'}" icon="pi pi-exclamation-triangle">
        <p-footer>
            <button type="button" pButton icon="fa fa-check" class="ui-button-info" label="Yes" (click)="cd.accept()"></button>
            <button type="button" pButton icon="fa fa-times" class="ui-button-info" label="No" (click)="cd.reject()"></button>
        </p-footer>
    </p-confirmDialog>
</div>