<p-panel [toggleable]="false" [style]="{'font-size':'12px'}" header="List of Funding Capture for Organisations">
    <div class="p-grid">
        <div class="p-col-fixed">
            
        </div>
        <div class="p-col">
            <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="fa fa-search"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search Keyword" />
                </span>
            </div>
        </div>
    </div>
    <p-table [rowHover]="true" #dt [style]="{'border':'none'}" sortMode="multiple" [columns]="cols" [paginator]="true" [rows]="10" [value]="entities" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" 
    [globalFilterFields]="['refNo','name','organisationType.name','approvalStatus.name']" dataKey="name">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 5%;"></th>
                <th *ngFor="let col of columns" [ngStyle]="{'width': col.width}" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
                <th style="width: 8%;">Actions</th>
            </tr>
            <tr>
                <th></th>
                <th><p-columnFilter type="text" matchMode="contains" field="refNo"></p-columnFilter></th>
                <th><p-columnFilter type="text" matchMode="contains" field="refNo"></p-columnFilter></th>
                <th><p-columnFilter type="text" matchMode="contains" field="refNo"></p-columnFilter></th>
                <th><p-columnFilter type="text" matchMode="contains" field="refNo"></p-columnFilter></th>
                <th><p-columnFilter type="text" matchMode="contains" field="refNo"></p-columnFilter></th>
                <th><p-columnFilter type="text" matchMode="contains" field="refNo"></p-columnFilter></th>
                <th><p-columnFilter type="text" matchMode="contains" field="refNo"></p-columnFilter></th>
                <th><p-columnFilter type="text" matchMode="contains" field="refNo"></p-columnFilter></th>
                <th><p-columnFilter type="text" matchMode="contains" field="refNo"></p-columnFilter></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded">
            <tr>
                <td colspan="10">
                    <button type="button" pButton pRipple [pRowToggler]="rowData" class="p-button-text p-button-rounded p-button-plain p-mr-2" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    <span class="p-text-bold p-ml-2"><b>{{rowData.name}} ({{rowData.refNo}})</b></span>
                </td>
                <td style="text-align: center;">
                    <button pButton pRipple type="button" label="Add" class="p-button-text" icon="fa fa-plus" (click)="add(rowData.id)" *ngIf="IsAuthorized(PermissionsEnum.AddFundingCapture)" pTooltip="Add Funding" tooltipPosition="top"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr class="default-font" *ngFor="let funding of rowData.fundingCaptureViewModels; let i = index">
                <td style="text-align: center;">{{i + 1}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr class="default-font">
                <td colspan="11" style="text-align: center;">No results found</td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>