<p-toast></p-toast>
<p-panel [style]="{'font-size':'12px'}" header="Documents">
    <div class="p-grid">
        <div class="p-col-6">
            <div class="p-fluid">
                <div class="p-grid">
                    <div class="p-col-fixed form-label">
                        <div class="box">
                            <span class="non-mandatory-content">TPA Link</span>
                        </div>
                    </div>
                    <div class="p-col">
                        <!-- <p-dropdown [options]="filteredProgrammes" placeholder="Select a Programme" optionLabel="name" [(ngModel)]="selectedProgramme" [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}" appendTo="body" (onChange)="programmeChange()"></p-dropdown> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 10px;"></div>
    <div class="p-grid p-nogutter p-justify-between">
        <p-button label="Back" (onClick)="prevPage()" icon="fa fa-angle-left"></p-button>
    </div>
</p-panel>