<div class="row" *ngIf="fundingAssessmentForm">

  <div class="col-md-12">
    <div class="mb-3">
      <p-panel header="NPO Info" [toggleable]="true">
        <div class="form-group p-fluid grid">
          <div class="col-md-2">
            <label for="npoName">NPO</label>
          </div>
          <div class="col-md-8">
            <input pInputText id="npoName" [(ngModel)]="fundingAssessmentForm.organisationName" class="input-xs"
              [readonly]="true" />
          </div>
        </div>
        <div class="form-group p-fluid grid">
          <div class="col-md-2">
            <label for="ccid">CCID</label>
          </div>
          <div class="col-md-8">
            <input pInputText id="ccid" class="input-xs" [readonly]="true" />
          </div>
        </div>
      </p-panel>

    </div>
    <div class="mb-3">
      <p-panel header="Service Delivery Areas" [toggleable]="true">
        <p-table [value]="subPlaces" responsiveLayout="scroll" class="table-bordered">
          <ng-template pTemplate="header">
            <tr>
              <th>Selected</th>
              <th>Sub Place</th>
              <th>Place</th>
              <th>Service Delivery Area</th>
              <th>Region</th>
              <th>Number of Items</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row>
            <tr>
              <td>
                <p-checkbox formControlName="chkNSP" [(ngModel)]="row.isChecked"></p-checkbox>
              </td>
              <td>{{ row.Name }}</td>
              <td>{{ row.PlaceName }}</td>
              <td>{{ row.SDAName }}</td>
              <td>{{ row.RegionName }}</td>
              <td>{{ row.ItemsRelated }}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-panel>
    </div>
    <app-funding-assessment-form-questionsection [Questions]="getLegislativeCompliance()" [HeaderName]="'Legislative Compliance'">

    </app-funding-assessment-form-questionsection>

    <app-funding-assessment-form-questionsection [Questions]="getPFMACompliance()" [HeaderName]="'PFMA Compliance'">

    </app-funding-assessment-form-questionsection>

    <app-funding-assessment-form-questionsection [Questions]="getAnalysisPerformance()" [HeaderName]="'Analysis Performance'">

    </app-funding-assessment-form-questionsection>

    <div class="mb-3">
      <p-panel header="Summary" [toggleable]="true">
        <p-table [value]="fundingAssessmentForm.summaryItems">
          <ng-template pTemplate="header">
            <tr>

              <th>Summary of Assessment</th>
              <th>% Score</th>
              <th>Final Score</th>
              <th>Approved / Not Approved</th>

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-summaryItem>
            <tr>

              <td>{{ summaryItem.name }}</td>
              <td>{{ summaryItem.score }}&nbsp;%</td>
              <td>{{ summaryItem.finalRating }}</td>
              <td>
                <p-radioButton name="approval-{{summaryItem.name}}" value="true" [(ngModel)]="summaryItem.isApproved"
                               label="Approved"></p-radioButton> &nbsp; &nbsp;
                <p-radioButton name="approval-{{summaryItem.name}}" value="false" [(ngModel)]="summaryItem.isApproved"
                               label="Not Approved"></p-radioButton>
              </td>
          
            </tr>
          </ng-template>
        </p-table>
      </p-panel>
    </div>

    <div class="mb-3">
      <p-panel header="Final Approver Section" [toggleable]="true">
        <p-table [value]="fundingAssessmentForm.finalApprovalItems">
          <ng-template pTemplate="body" let-finalApprovalItem>
            <tr *ngIf="!finalApprovalItem.isComment">
  
              <td>{{ finalApprovalItem.name }}</td>
              <td>{{ 'summaryItem.score' }}</td>
              
          
            </tr>
            <tr *ngIf="finalApprovalItem.isComment">
  
              <td>{{ finalApprovalItem.name }}</td>
              <td><textarea [(ngModel)]="finalApprovalItem.recommendationReason" rows="3" [style]="{'width':'100%'}" placeholder="" ></textarea></td>
              
          
            </tr>
            
          </ng-template>
        </p-table>

        <div style="padding: 10px; background-color: lightgray">
          <p>
            I, the undersigned, accept that the assessments, recommendations, and discussions
            regarding the assessment and/or adjudication and/or allocation with respect to
            applications by NPOs for transfer funding are confidential, and I hereby undertake not to disclose anything related to this.
          </p>
          <p><b>I declare that:</b></p>
          <ul>
            <li>
              I will not deliberately favor or prejudice anybody in the decision-making process or the actual assessment and/or adjudication of NPO applications for transfer funding.
            </li>
            <li>
              During the consideration, acceptance, or allocation of transfer funding, no person employed by the Provincial Government or acting on behalf of the Provincial Government may exercise or use his/her discretion, official powers, or position in such a manner as to obtain an unlawful or unauthorized advantage.
            </li>
          </ul>
          <div class="text-right">
            <p-checkbox  binary="true"></p-checkbox>
          </div>
        </div>
      </p-panel>
    </div>
  </div>

</div>
