<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-spin-clockwise">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<p-toast></p-toast>
<p-panel [toggleable]="false" [style]="{'font-size':'12px'}" header="Supporting Documents">
    <p-menubar [model]="menuActions" [style]="{'font-size':'14px', 'height': '43px'}"
        *ngIf="IsAuthorized(PermissionsEnum.ShowProfileActions)"></p-menubar>
    <p-messages [(value)]="validationErrors" [closable]="false" [enableService]="false"></p-messages>

    <div style="height: 10px;"></div>
    <p-panel [toggleable]="true" [style]="{'font-size':'12px'}">
        <p-fileUpload name="demo[]" #form customUpload="true" (uploadHandler)="onUploadChange($event, form)"
            [showCancelButton]="false" chooseLabel="Browse" [disabled]="readonly()">
            <ng-template let-file pTemplate="file">
                <div style="height: 10px;"></div>
                <div class="p-grid">
                  <div class="p-col-5">
                    <div>{{file.name}}</div>
                  </div>
 
                  <div class="p-col-5">
                    <div>
                      <p-dropdown [options]="documentTypes" placeholder="Select a Document Type" optionLabel="name" [(ngModel)]="file.documentType" [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}" appendTo="body"></p-dropdown>
                    </div>
                  </div>
                  <div class="p-col-2">
                    <div class="pull-right">
                      <button pButton pRipple type="button" class="p-button-text p-button-danger action-button"
                              icon="fa fa-trash" (click)="remove($event, file, form)" pTooltip="Delete"
                              tooltipPosition="top"></button>
                    </div>
                  </div>
                </div>
            </ng-template>
            
            <ng-template pTemplate="content">
                <div style="height: 10px;"></div>
                <p-table [value]="documents" styleClass="p-datatable-sm" [columns]="documentCols">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-document let-rowIndex="rowIndex">
                        <tr>
                            <td style="text-align: center;">{{rowIndex + 1}}</td>
                            <td>{{document?.name}}</td>
                            <td>{{document?.documentType?.name}}</td>                            
                            <td>{{document?.fileSize}}</td>
                            <td>{{document?.createdDateTime | date: 'yyyy-MM-dd'}}</td>
                            <td style="text-align: center;">
                                <button pButton pRipple type="button"
                                    class="p-button-text p-button-success action-button" icon="fa fa-cloud-download"
                                    (click)="onDownloadDocument(document)" pTooltip="Download"
                                    tooltipPosition="top"></button>
                                <button pButton pRipple type="button"
                                    class="p-button-text p-button-danger action-button" icon="fa fa-trash"
                                    (click)="onDeleteDocument(document)" pTooltip="Delete"
                                    tooltipPosition="top"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="6" style="text-align: center;">There are no documents uploaded.</td>
                        </tr>
                    </ng-template>
                </p-table>


            </ng-template>
        </p-fileUpload>
    </p-panel>

</p-panel>
<div class="content-section implementation">
    <p-confirmDialog #cd header="Confirmation" [style]="{width: '30vw'}" icon="pi pi-exclamation-triangle">
        <p-footer>
            <button type="button" pButton icon="fa fa-check" class="ui-button-info" label="Yes" (click)="cd.accept()"></button>
            <button type="button" pButton icon="fa fa-times" class="ui-button-info" label="No" (click)="cd.reject()"></button>
        </p-footer>
    </p-confirmDialog>
</div>
<div style="height: 10px;"></div>
<div class="p-grid p-nogutter p-justify-between">
    <p-button label="Back" (onClick)="prevPage()" icon="fa fa-angle-left"></p-button>
  </div>
