::ng-deep .custom-panel .p-panel-header {
    background-color:  rgb(0, 51, 153)!important; /* Tomato background */
}

::ng-deep .custom-panel .p-panel-header .p-panel-title {
    color: #ffffff !important; /* White title */
}

.form-label {
    width: 25%;
    text-align: right;
    align-self: center;
}

.mandatory-content::after {
    content: "*";
    color: rgb(195, 17, 47);
}

.mandatory-content, .non-mandatory-content {
    font-size: 12px;
}

.form-text {
    width: 100%;
}

.action-button {
    height: 25px; 
    width: 25px;
}

.default-font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px !important;
}