<div class="mb-3">
  <p-panel header="{{HeaderName}}" [toggleable]="true" class="custom-panel">
    <p-table [value]="Questions">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 50%;">Questions</th>
          <th>Select Options</th>
          <th></th>
          <th>Rating</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-question>
        <tr *ngIf="question.name !== 'Approval' && question.name !== 'Analysis of Finding' && question.name !== 'Final comment' &&  !question.name?.includes('Overall')">
          <td>{{question.name}}</td>
          <td> 
            <p-dropdown 
              [options]="question.responseOptions" 
              optionLabel="name" 
              optionValue="id" 
              [(ngModel)]="question.selectedResponseOptionId" 
              placeholder="Select an option"
              [style]="{'width':'100%'}"
              (ngModelChange)="onQuestionChange(question)"
              [disabled]="fundingAssessmentForm.disableCapturerControls"
            ></p-dropdown>
          </td>
          <td>
            <div *ngIf="question.hasComment">
              <input pInputText id="npoName" [(ngModel)]="question.comment" (ngModelChange)="onQuestionChange(question)" [disabled]="fundingAssessmentForm.disableCapturerControls"/>
            </div>
          </td>
          <td>
            <p-dropdown 
              [options]="question.responseRatings" 
              optionLabel="name" 
              optionValue="id" 
              [(ngModel)]="question.selectedResponseRatingId" 
              placeholder="Select an option"
              [style]="{'width':'100%'}"
              (ngModelChange)="onQuestionChange(question)"
              [disabled]="fundingAssessmentForm.disableCapturerControls"
            ></p-dropdown>
          </td>
        </tr>

        <!-- Analysis of Finding -->
        <tr *ngIf="question.name === 'Analysis of Finding'">
          <td>{{question.name}}</td>
          <td colspan="3">
            <textarea [(ngModel)]="question.comment" rows="3" [style]="{'width':'100%'}" placeholder="" (blur)="onQuestionChange(question)" [disabled]="fundingAssessmentForm.disableCapturerControls"></textarea>
          </td>
        </tr>

        <!-- Overall Section -->
        <ng-container *ngIf="question.name?.includes('Overall')">
          <tr>
            <td colspan="4" style="background-color: #F4F4F4; font-weight: 700;">Results of Findings</td>
          </tr>
          <tr>
            <td>{{question.name}}</td>
            <td colspan="3" style="text-align: left;">
              <input pInputText id="npoName" [readonly]="true" [(ngModel)]="question.comment"  [disabled]="fundingAssessmentForm.disableCapturerControls"/>
            </td>
          </tr>
        </ng-container>

        <!-- Approval Section -->
        <tr *ngIf="question.name === 'Approval'">
          <td colspan="4" style="text-align: center;">
            <span *ngFor="let option of question.responseOptions">
              <p-radioButton 
                name="option-{{question.id}}" 
                [value]="option.id" 
                [(ngModel)]="question.selectedResponseOptionId" 
                label="{{ option.name }}" 
                (ngModelChange)="onQuestionChange(question)"
                [disabled]="fundingAssessmentForm.disableCapturerControls"
              ></p-radioButton> &nbsp; &nbsp;
            </span>
          </td>
        </tr>

        <!-- Final Comment Section -->
        <tr *ngIf="question.name === 'Final comment'"
          [ngStyle]="{'background-color': FinalCommentRequired === true ? '#ffcccc' : 'transparent'}">
          <td>{{question.name}}</td>
          <td colspan="3">
            <textarea [(ngModel)]="question.comment" rows="3" [style]="{'width':'100%'}" (blur)="onQuestionChange(question)" [disabled]="fundingAssessmentForm.disableCapturerControls"></textarea>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>


</div>
