<!-- Activity Table Component -->
<div class="p-grid">
    <div class="p-col-12">
        <div class="p-field">
            <label class="mandatory-content">District</label>
            <p-dropdown [options]="districts" 
                       [(ngModel)]="selectedDistrict" 
                       optionLabel="name"
                       (onChange)="onDistrictChange($event)"
                       placeholder="Select a District"
                       [style]="{'width':'100%'}"
                       appendTo="body">
            </p-dropdown>
        </div>
    </div>
    
    <div class="p-col-12">
        <div class="p-field">
            <label class="mandatory-content">Municipality</label>
            <p-dropdown [options]="filteredMunicipalities" 
                       [(ngModel)]="selectedMunicipality" 
                       optionLabel="name"
                       placeholder="Select a Municipality"
                       [disabled]="municipalityDisabled"
                       [style]="{'width':'100%'}"
                       appendTo="body">
            </p-dropdown>
        </div>
    </div>

    <!-- Quarter Selection in Actuals Tab -->
    <div class="p-col-12" *ngIf="showActualsTab">
        <div class="p-field">
            <label>Quarter</label>
            <p-dropdown [options]="quarters" 
                       [(ngModel)]="selectedQuarter" 
                       optionLabel="name"
                       placeholder="Select Quarter"
                       [style]="{'width':'100%'}"
                       appendTo="body">
            </p-dropdown>
        </div>
    </div>

    <!-- Activity Table -->
    <div class="p-col-12">
        <p-table [value]="activities" [scrollable]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th>Activity</th>
                    <th>Target</th>
                    <th>Actual</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-activity>
                <tr>
                    <td>{{activity.name}}</td>
                    <td>{{activity.target}}</td>
                    <td>
                        <input type="number" 
                               pInputText 
                               [(ngModel)]="activity.actual" 
                               [disabled]="!showActualsTab">
                    </td>
                    <td>
                        <button pButton icon="pi pi-pencil" 
                                class="p-button-rounded p-button-text"
                                (click)="editActivity(activity)">
                        </button>
                        <button pButton icon="pi pi-trash" 
                                class="p-button-rounded p-button-text p-button-danger"
                                (click)="deleteActivity(activity)">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>