
<div *ngIf="isApplicationAvailable">
    <div *ngIf="application.applicationPeriod.applicationTypeId == ApplicationTypeEnum.FA">
        <div *ngIf="!application.isQuickCapture">
            <app-view-application-details 
                [(activeStep)]="activeStep"
                [application]="application"
                [(fundingApplicationDetails)]="fundingApplicationDetails"
                [(Amount)]="fundingApplicationDetails.applicationDetails.amountApplyingFor" 
                [programId]="application.applicationPeriod.programmeId" 
                [subProgramId] = "application.applicationPeriod.subProgrammeId"
                [subProgramTypeId] = "application.applicationPeriod.subProgrammeTypeId"
                (getPlace)="places($event)"
                (getSubPlace)=" subPlaces($event)">
            </app-view-application-details>
            <app-view-financial-matters 
                [(activeStep)]="activeStep"
                [application]="application"
                [programId]="application.applicationPeriod.programmeId" 
                [subProgramId] = "application.applicationPeriod.subProgrammeId"
                [subProgramTypeId] = "application.applicationPeriod.subProgrammeTypeId"
                [source]="source" 
                [isAdmin]=false
                [(fundingApplicationDetails)]="fundingApplicationDetails"
                (financialMattersChange)="getfinFund($event)">
            </app-view-financial-matters>
            <app-view-project-information
                [(activeStep)]="activeStep"
                [application]="application"
                [(purposeQuestion)]="fundingApplicationDetails.projectInformation.purposeQuestion"
                [(fundingApplicationDetails)]="fundingApplicationDetails">
            </app-view-project-information>
            <app-view-monitoring-evaluation 
                [(activeStep)]="activeStep"
                [application]="application"
                [(monEvalDescription)]="fundingApplicationDetails.monitoringEvaluation.monEvalDescription"
                [(fundingApplicationDetails)]="fundingApplicationDetails">
            </app-view-monitoring-evaluation>
            <app-view-project-implementation 
                [(activeStep)]="activeStep"
                [application]="application"
                [(implementations)]="fundingApplicationDetails.implementations"
                [(fundingApplicationDetails)]="fundingApplicationDetails"
                [places]="placeAll"
                [allsubPlaces]="subPlacesAll">
            </app-view-project-implementation>
            <app-view-document-upload 
                [(activeStep)]="activeStep"
                [application]="application"
                [(fundingApplicationDetails)]="fundingApplicationDetails">
            </app-view-document-upload>
        </div>       
    </div>
    <div *ngIf="application.applicationPeriod.applicationTypeId == ApplicationTypeEnum.QC">
        <div *ngIf="application.isQuickCapture">
            <app-view-application-details 
                [(activeStep)]="activeStep"
                [application]="application"
                [(fundingApplicationDetails)]="fundingApplicationDetails"
                [programId]="application.applicationPeriod.programmeId" 
                [subProgramId] = "application.applicationPeriod.subProgrammeId"
                [subProgramTypeId] = "application.applicationPeriod.subProgrammeTypeId"
                [(Amount)]="fundingApplicationDetails.applicationDetails.amountApplyingFor" 
                (getPlace)="places($event)"
                (getSubPlace)=" subPlaces($event)">
            </app-view-application-details>
            <div style="height: 10px;"></div>
           <app-qc-document-upload 
                [(activeStep)]="activeStep"
                [application]="application"
                [(fundingApplicationDetails)]="fundingApplicationDetails">
            </app-qc-document-upload>
        </div>        
    </div>
</div>