<p-panel [style]="{'font-size':'12px'}" header="Funding">
    <p-panel [style]="{'font-size':'12px'}" header="Funding Details">
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-6">
                <label class="mandatory-content">Organisation</label>
                <!-- <input type="text" class="form-text" pInputText [(ngModel)]="npo.name" [ngModelOptions]="{standalone: true}" [disabled]="true"> -->
                <!-- <input type="text" class="form-text" pInputText [(ngModel)]="npo.name" [ngModelOptions]="{standalone: true}" #npoName="ngModel" [ngClass]="{'ng-dirty': (npoName.invalid && validated) || (npoName.dirty && npoName.invalid)}" [disabled]="true"> -->
                <!-- <small *ngIf="(npoName.invalid && validated) || (npoName.dirty && npoName.invalid)" class="p-error">Organisation Name is required.</small> -->
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label class="non-mandatory-content">Allow Variable Funding</label>
                <!-- <input type="text" class="form-text" pInputText [(ngModel)]="npo.name" [ngModelOptions]="{standalone: true}" #npoName="ngModel" [ngClass]="{'ng-dirty': (npoName.invalid && validated) || (npoName.dirty && npoName.invalid)}" [disabled]="true"> -->
                <!-- <small *ngIf="(npoName.invalid && validated) || (npoName.dirty && npoName.invalid)" class="p-error">Organisation Name is required.</small> -->
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label class="mandatory-content">C-Code</label>
                <!-- <input type="text" class="form-text" pInputText [(ngModel)]="npo.name" [ngModelOptions]="{standalone: true}" #npoName="ngModel" [ngClass]="{'ng-dirty': (npoName.invalid && validated) || (npoName.dirty && npoName.invalid)}" [disabled]="true"> -->
                <!-- <small *ngIf="(npoName.invalid && validated) || (npoName.dirty && npoName.invalid)" class="p-error">Organisation Name is required.</small> -->
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label class="non-mandatory-content">Allow Claims</label>
                <!-- <input type="text" class="form-text" pInputText [(ngModel)]="npo.name" [ngModelOptions]="{standalone: true}" #npoName="ngModel" [ngClass]="{'ng-dirty': (npoName.invalid && validated) || (npoName.dirty && npoName.invalid)}" [disabled]="true"> -->
                <!-- <small *ngIf="(npoName.invalid && validated) || (npoName.dirty && npoName.invalid)" class="p-error">Organisation Name is required.</small> -->
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label class="mandatory-content">Financial Year</label>
                <!-- <input type="text" class="form-text" pInputText [(ngModel)]="npo.name" [ngModelOptions]="{standalone: true}" #npoName="ngModel" [ngClass]="{'ng-dirty': (npoName.invalid && validated) || (npoName.dirty && npoName.invalid)}" [disabled]="true"> -->
                <!-- <small *ngIf="(npoName.invalid && validated) || (npoName.dirty && npoName.invalid)" class="p-error">Organisation Name is required.</small> -->
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label class="mandatory-content">Programme</label>
                <!-- <input type="text" class="form-text" pInputText [(ngModel)]="npo.name" [ngModelOptions]="{standalone: true}" #npoName="ngModel" [ngClass]="{'ng-dirty': (npoName.invalid && validated) || (npoName.dirty && npoName.invalid)}" [disabled]="true"> -->
                <!-- <small *ngIf="(npoName.invalid && validated) || (npoName.dirty && npoName.invalid)" class="p-error">Organisation Name is required.</small> -->
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label class="mandatory-content">Start Date</label>
                <!-- <input type="text" class="form-text" pInputText [(ngModel)]="npo.name" [ngModelOptions]="{standalone: true}" #npoName="ngModel" [ngClass]="{'ng-dirty': (npoName.invalid && validated) || (npoName.dirty && npoName.invalid)}" [disabled]="true"> -->
                <!-- <small *ngIf="(npoName.invalid && validated) || (npoName.dirty && npoName.invalid)" class="p-error">Organisation Name is required.</small> -->
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label class="mandatory-content">Subsidy Group</label>
                <!-- <input type="text" class="form-text" pInputText [(ngModel)]="npo.name" [ngModelOptions]="{standalone: true}" #npoName="ngModel" [ngClass]="{'ng-dirty': (npoName.invalid && validated) || (npoName.dirty && npoName.invalid)}" [disabled]="true"> -->
                <!-- <small *ngIf="(npoName.invalid && validated) || (npoName.dirty && npoName.invalid)" class="p-error">Organisation Name is required.</small> -->
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label class="mandatory-content">Payment Frequency</label>
                <!-- <input type="text" class="form-text" pInputText [(ngModel)]="npo.name" [ngModelOptions]="{standalone: true}" #npoName="ngModel" [ngClass]="{'ng-dirty': (npoName.invalid && validated) || (npoName.dirty && npoName.invalid)}" [disabled]="true"> -->
                <!-- <small *ngIf="(npoName.invalid && validated) || (npoName.dirty && npoName.invalid)" class="p-error">Organisation Name is required.</small> -->
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label class="mandatory-content">Subsidy Type</label>
                <!-- <input type="text" class="form-text" pInputText [(ngModel)]="npo.name" [ngModelOptions]="{standalone: true}" #npoName="ngModel" [ngClass]="{'ng-dirty': (npoName.invalid && validated) || (npoName.dirty && npoName.invalid)}" [disabled]="true"> -->
                <!-- <small *ngIf="(npoName.invalid && validated) || (npoName.dirty && npoName.invalid)" class="p-error">Organisation Name is required.</small> -->
            </div>
        </div>
    </p-panel>
    <div style="height: 10px;"></div>
    <p-panel [style]="{'font-size':'12px'}" header="Amounts">

    </p-panel>
</p-panel>