<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-spin-clockwise">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<p-toast></p-toast>
<p-panel header="Organisation Approval" [toggleable]="false" [style]="{'font-size':'12px'}">
    <div class="p-grid">
        <div class="p-col-fixed"></div>
        <div class="p-col">
            <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="fa fa-search"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search Keyword" />
                </span>
            </div>
        </div>
    </div>
    <p-table #dt [style]="{'border':'none'}" [columns]="cols" [paginator]="true" [rows]="10" [value]="npos" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="['createdUser.fullName','createdUser.email','name','approvalStatus.name','approvalUser.fullName']">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 5%;"></th>
                <th *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                    {{col.header}}
                </th>
                <th style="width: 5%;">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr class="default-font">
                <td style="text-align: center;">{{rowIndex + 1}}</td>
                <td *ngFor="let col of columns">
                    <span>{{getCellData(rowData, col)}}</span>
                </td>
                <td class="ui-fluid" style="text-align: center;">
                    <button pButton pRipple type="button" class="p-button-text action-button" icon="fa fa-pencil-square-o" (click)="edit(rowData)" pTooltip="Edit" tooltipPosition="top" *ngIf="IsAuthorized(PermissionsEnum.EditNpoRequests)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="9" style="text-align: center;">No results found</td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>

<p-dialog header="Review Organisation"
          [(visible)]="showDialog" 
          [modal]="true" 
          [style]="{width: '50vw'}" 
          [maximizable]="false" 
          [resizable]="false">
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="mandatory-content">Requested By</span>
            </div>
        </div>
        <div class="p-col">
            <input type="text" class="form-text" pInputText [(ngModel)]="requestedBy" [ngModelOptions]="{standalone: true}" disabled="true">
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="mandatory-content">User Name</span>
            </div>
        </div>
        <div class="p-col">
            <input type="text" class="form-text" pInputText [(ngModel)]="userName" [ngModelOptions]="{standalone: true}" disabled="true">
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="mandatory-content">Name of Organisation</span>
            </div>
        </div>
        <div class="p-col">
            <input type="text" class="form-text" pInputText [(ngModel)]="npoName" [ngModelOptions]="{standalone: true}" disabled="true">
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="View Organisation Details" class="p-button-text p-button-info pull-left" icon="fa fa-file-text-o" (click)="viewOrganisatonDetails()"></button>
        <button pButton pRipple type="button" label="Approve" class="p-button-text p-button-info" icon="fa fa-thumbs-o-up" (click)="updateRequest(AccessStatusEnum.Approved)"></button>
        <button pButton pRipple type="button" label="Reject" class="p-button-text p-button-danger" icon="fa fa-thumbs-o-down" (click)="updateRequest(AccessStatusEnum.Rejected)"></button>
    </ng-template>
</p-dialog>

<p-dialog header="Organisation Details"
          [(visible)]="showOrganisationDialog" 
          [modal]="true" 
          [style]="{width: '90vw'}" 
          [maximizable]="false" 
          [resizable]="false"
          *ngIf="npo">
    <app-view-npo
        [npoId]="npo.id">
    </app-view-npo>
    <div style="height: 10px;"></div>
    <app-view-profile
        [npoId]="npo.id">
    </app-view-profile>
</p-dialog>