<p-toast></p-toast>
<p-panel [toggleable]="false" [style]="{'font-size':'12px'}" header="Programme Budget Management">
    <div style="height: 10px;"></div>
    <div class="p-grid">
        <div class="p-col-3">
            <p-card subheader="Programme Budget Summary" [style]="{width: '100%',backgroundColor:'var(--surface-b)'}">
                <div class="p-fluid">
                    <div class="p-grid" *ngIf="isSystemAdmin">
                        <div class="p-col-fixed form-label">
                            <div class="box">
                                <span class="non-mandatory-content">Department</span>
                            </div>
                        </div>
                        <div class="p-col">
                            <p-dropdown [options]="departments" placeholder="Select a Department" optionLabel="name" [(ngModel)]="selectedDepartmentSummary" [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}" appendTo="body" (onChange)="departmentSummaryChange()"></p-dropdown>
                        </div>
                    </div>
                    <div class="p-grid">
                        <div class="p-col-fixed form-label">
                            <div class="box">
                                <span class="non-mandatory-content">Financial Year</span>
                            </div>
                        </div>
                        <div class="p-col">
                            <p-dropdown [options]="financialYears" placeholder="Select a Financial Year" optionLabel="name" [(ngModel)]="selectedFinancialYearSummary" [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}" appendTo="body" (onChange)="financialYearSummaryChange()"></p-dropdown>
                        </div>
                    </div>
                    <div class="p-grid">
                        <div class="p-col-fixed form-label">
                            <div class="box">
                                <span class="non-mandatory-content">Budget</span>
                            </div>
                        </div>
                        <div class="p-col summary-value">
                            R {{totalBudget | number : '1.2-2'}}
                        </div>
                    </div>
                    <div class="p-grid">
                        <div class="p-col-fixed form-label">
                            <div class="box">
                                <span class="non-mandatory-content">Allocated</span>
                            </div>
                        </div>
                        <div class="p-col summary-value">
                            R {{totalAllocated | number : '1.2-2'}}
                        </div>
                    </div>
                    <div class="p-grid">
                        <div class="p-col-fixed form-label">
                            <div class="box">
                                <span class="non-mandatory-content">Paid</span>
                            </div>
                        </div>
                        <div class="p-col summary-value">
                            R {{totalPaid | number : '1.2-2'}}
                        </div>
                    </div>
                    <div class="p-grid">
                        <div class="p-col-fixed form-label">
                            <div class="box">
                                <span class="non-mandatory-content">Balance</span>
                            </div>
                        </div>
                        <div class="p-col summary-value">
                            R {{totalBalance | number : '1.2-2'}}
                        </div>
                    </div>
                </div>
            </p-card>
        </div>
        <div class="p-col-9">
            <div class="p-grid" *ngIf="selectedDepartmentSummary && selectedFinancialYearSummary">
                <div class="p-col-fixed">
                    <button pButton pRipple type="button" label="Add Programme Budget" class="p-button-text" icon="fa fa-plus" (click)="add()" *ngIf="IsAuthorized(PermissionsEnum.AddProgrammeBudget)"></button>
                </div>
                <div class="p-col">
                    <div class="p-d-flex">
                        <span class="p-input-icon-left p-ml-auto">
                            <i class="fa fa-search"></i>
                            <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search Keyword" />
                        </span>
                    </div>
                </div>
            </div>
            <p-table [rowHover]="true" #dt [columns]="budgetCols" [value]="programmeBudgets" styleClass="p-datatable-sm" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="['directorate.name','programme.name']">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                            {{col.header}}
                        </th>
                        <th style="width: 10%;">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr class="default-font">
                        <td>
                            <span *ngIf="rowData.financialYear">{{rowData.financialYear.name}}</span>
                        </td>
                        <td>
                            <span *ngIf="rowData.directorate">{{rowData.directorate.name}}</span>
                        </td>
                        <td>
                            <span *ngIf="rowData.programme">{{rowData.programme.name}}</span>
                        </td>
                        <td>{{rowData.amount | number : '1.2-2'}}</td>
                        <td style="text-align: center;">
                            <button pButton pRipple type="button" class="p-button-text action-button" icon="fa fa-pencil-square-o" (click)="edit(rowData)" pTooltip="Edit" tooltipPosition="top"></button>
                            <!-- <button pButton pRipple type="button" class="p-button-text p-button-danger action-button" icon="fa fa-trash" (click)="deleteContactInformation(rowData)" pTooltip="Delete" tooltipPosition="top"></button> -->
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="default-font">
                        <td colspan="5" style="text-align: center;">No results found</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-panel>

<p-dialog header="Add Programme Budget" 
          [(visible)]="displayNewDialog" 
          [style]="{width: '50vw'}" 
          [focusOnShow]="false"
          showEffect="fade"
          [transitionOptions]="'0ms'"
          [modal]="true">
    <div class="p-grid" *ngIf="isSystemAdmin">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="mandatory-content">Department</span>
            </div>
        </div>
        <div class="p-col">
            <p-dropdown [options]="departments" placeholder="Select a Department" optionLabel="name" [(ngModel)]="selectedDepartment" [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}" appendTo="body" (onChange)="departmentChange()"></p-dropdown>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="mandatory-content">Financial Year</span>
            </div>
        </div>
        <div class="p-col">
            <!-- <p-dropdown [options]="financialYears" placeholder="Select a Financial Year" optionLabel="name" [(ngModel)]="selectedNewFinancialYear" [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}" appendTo="body"></p-dropdown> -->
            <p-dropdown [options]="financialYears" placeholder="Select a Financial Year" optionLabel="name" [(ngModel)]="selectedFinancialYear" [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}" appendTo="body"></p-dropdown>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="mandatory-content">Directorate</span>
            </div>
        </div>
        <div class="p-col">
            <!-- <p-dropdown [options]="directorates" placeholder="Select a Directorate" optionLabel="name" [(ngModel)]="selectedDirectorate" [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}" appendTo="body"></p-dropdown> -->
            <p-dropdown [options]="filteredDirectorates" placeholder="Select a Directorate" optionLabel="name" [(ngModel)]="selectedDirectorate" [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}" appendTo="body" (onChange)="directorateChange()"></p-dropdown>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="mandatory-content">Programme</span>
            </div>
        </div>
        <div class="p-col">
            <p-dropdown [options]="filteredProgrammes" placeholder="Select a Programme" optionLabel="name" [(ngModel)]="selectedProgramme" [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}" appendTo="body"></p-dropdown>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="mandatory-content">Amount</span>
            </div>
        </div>
        <div class="p-col">
            <!-- <p-inputNumber [(ngModel)]="amount" inputId="minmaxfraction" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" [style]="{'width':'100%'}"></p-inputNumber> -->
            <p-inputNumber [(ngModel)]="programmeBudget.amount" inputId="minmaxfraction" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" [style]="{'width':'100%'}"></p-inputNumber>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="non-mandatory-content">Description</span>
            </div>
        </div>
        <div class="p-col">
            <!-- <textarea class="form-text" [rows]="2" [cols]="30" pInputTextarea [(ngModel)]="description"></textarea> -->
            <textarea class="form-text" [rows]="2" [cols]="30" pInputTextarea [(ngModel)]="programmeBudget.description"></textarea>
        </div>
    </div>
    <!-- <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="non-mandatory-content">Directorate Balance</span>
            </div>
        </div>
        <div class="p-col">
            <p-inputNumber [(ngModel)]="directorateBalance" inputId="minmaxfraction" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" [style]="{'width':'100%'}" [disabled]="true"></p-inputNumber>
        </div>
    </div> -->    
    <!-- <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="non-mandatory-content">Programme Balance</span>
            </div>
        </div>
        <div class="p-col">
            <p-inputNumber [(ngModel)]="programmeBalance" inputId="minmaxfraction" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" [style]="{'width':'100%'}" [disabled]="true"></p-inputNumber>
        </div>
    </div> -->
    <ng-template pTemplate="footer">
        <!-- <button pButton pRipple type="button" label="Save" class="p-button-text" icon="fa fa-floppy-o" [disabled]=disableSaveNewBudget() (click)="saveNewBudget()"></button> -->
        <button pButton pRipple type="button" label="Save" class="p-button-text" icon="fa fa-floppy-o" [disabled]=disableSave() (click)="saveNewBudget()"></button>
    </ng-template>
</p-dialog>

<p-dialog header="Edit Programme Budget" 
          [(visible)]="displayEditDialog" 
          [style]="{width: '50vw'}" 
          [focusOnShow]="false"
          showEffect="fade"
          [transitionOptions]="'0ms'"
          [modal]="true">
    <div class="p-grid" *ngIf="isSystemAdmin">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="mandatory-content">Department</span>
            </div>
        </div>
        <div class="p-col">
            <p-dropdown [options]="departments" placeholder="Select a Department" optionLabel="name" [(ngModel)]="selectedDepartment" [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}" appendTo="body" [disabled]="true"></p-dropdown>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="mandatory-content">Financial Year</span>
            </div>
        </div>
        <div class="p-col">
            <p-dropdown [options]="financialYears" placeholder="Select a Financial Year" optionLabel="name" [(ngModel)]="selectedFinancialYear" [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}" appendTo="body" [disabled]="true"></p-dropdown>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="mandatory-content">Directorate</span>
            </div>
        </div>
        <div class="p-col">
            <!-- <p-dropdown [options]="directorates" placeholder="Select a Directorate" optionLabel="name" [(ngModel)]="selectedDirectorate" [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}" appendTo="body"></p-dropdown> -->
            <p-dropdown [options]="filteredDirectorates" placeholder="Select a Directorate" optionLabel="name" [(ngModel)]="selectedDirectorate" [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}" appendTo="body" [disabled]="true"></p-dropdown>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="mandatory-content">Programme</span>
            </div>
        </div>
        <div class="p-col">
            <p-dropdown [options]="filteredProgrammes" placeholder="Select a Programme" optionLabel="name" [(ngModel)]="selectedProgramme" [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}" appendTo="body" [disabled]="true"></p-dropdown>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="mandatory-content">Amount</span>
            </div>
        </div>
        <div class="p-col">
            <!-- <p-inputNumber [(ngModel)]="amount" inputId="minmaxfraction" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" [style]="{'width':'100%'}"></p-inputNumber> -->
            <p-inputNumber [(ngModel)]="programmeBudget.amount" inputId="minmaxfraction" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" [style]="{'width':'100%'}"></p-inputNumber>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="non-mandatory-content">Description</span>
            </div>
        </div>
        <div class="p-col">
            <!-- <textarea class="form-text" [rows]="2" [cols]="30" pInputTextarea [(ngModel)]="description" autoResize="autoResize"></textarea> -->
            <textarea class="form-text" [rows]="2" [cols]="30" pInputTextarea [(ngModel)]="programmeBudget.description" autoResize="autoResize"></textarea>
        </div>
    </div>
    <!-- <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="non-mandatory-content">Directorate Balance</span>
            </div>
        </div>
        <div class="p-col">
            <p-inputNumber [(ngModel)]="directorateBalance" inputId="minmaxfraction" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" [style]="{'width':'100%'}" [disabled]="true"></p-inputNumber>
        </div>
    </div> -->
    <!-- <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="non-mandatory-content">Programme Balance</span>
            </div>
        </div>
        <div class="p-col">
            <p-inputNumber [(ngModel)]="programmeBalance" inputId="minmaxfraction" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" [style]="{'width':'100%'}" [disabled]="true"></p-inputNumber>
        </div>
    </div> -->
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="Save" class="p-button-text" icon="fa fa-floppy-o" [disabled]=disableSave() (click)="saveEditBudget()"></button>
    </ng-template>
</p-dialog>