<ng-container>
    <footer class="footer">
        <div class="container">
            <div class="well">
                <p class="text-center" id="name-and-version"></p>
                <div class="row">
                    <div class="col-sm-3 wcg-m-l-xl-only">
                        <a class="pull-right" href="{{primefacesUrl}}" target="_blank">
                            <img alt="South Africa" border="0" src="../assets/Images/zastavaafrika.png" style="width: 40px; padding-top: 20px;" />
                        </a>
                    </div>
                    <div class="col-sm-6 text-center small wcg-m-l-xl-only wcg-footer-links">
                        <div class="text-muted">
                            <h6>
                                <span class="text-uppercase font-weight-bold text-muted footer-detail">WCG: NPOMS <span *ngIf="environmentName" style="text-transform: none;">({{environmentName}})</span> <br />Version: {{currentVersion()}} | {{deploymentDate()}}</span>
                            </h6>
                        </div>
                        <div class="text-center small" style="padding-bottom: 20px;">
                            <div>
                                <span class="font-weight-bold text-muted footer-detail">Western Cape Government © {{currentYear()}}. All rights reserved.</span>
                            </div>
                            <a class="footlink" style="font-size: 10px;" target="_blank" href="https://www.westerncape.gov.za/about-us">About Us</a> |
                            <a class="footlink" style="font-size: 10px;" target="_blank" href="https://www.westerncape.gov.za/contact-us">Contact Us</a> |
                            <a class="footlink" style="font-size: 10px;" target="_blank" href="https://www.westerncape.gov.za/terms/">Terms of Use</a> |
                            <a class="footlink" style="font-size: 10px;" target="_blank" href="https://www.westerncape.gov.za/privacy">Privacy Policy</a> |
                            <a class="footlink" style="font-size: 10px;" target="_blank" href="https://www.westerncape.gov.za/copyright">Copyright</a>
                            <div>
                                <span class="font-weight-bold text-muted footer-detail">This project is an initiative of the Western Cape Government.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 wcg-m-l-xl-only">
                        <a href="http://www.gov.za/" target="_blank">
                            <img alt="South African National Government crest" border="0" src="../assets/Images/11.png" style="width: 35px; padding-top: 10px;" />
                        </a>
                    </div>
                    <div class="col-sm-12 wcg-xs-s-only text-center wcg-footer-links">
                        <div class="text-muted">
                            <h6>
                                <span class="text-uppercase font-weight-bold text-muted footer-detail">WCG: NPOMS <span *ngIf="environmentName" style="text-transform: none;">({{environmentName}})</span> <br />Version: {{currentVersion()}} | {{deploymentDate()}}</span>
                            </h6>
                        </div>
                        <div class="text-center small" style="padding-bottom: 20px;">
                            <div>
                                <span class="font-weight-bold text-muted footer-detail">Western Cape Government © {{currentYear()}}. All rights reserved.</span>
                            </div>
                            <a class="footlink" style="font-size: 10px;" target="_blank" href="https://www.westerncape.gov.za/about-us">About Us</a> |
                            <a class="footlink" style="font-size: 10px;" target="_blank" href="https://www.westerncape.gov.za/contact-us">Contact Us</a> |
                            <a class="footlink" style="font-size: 10px;" target="_blank" href="https://www.westerncape.gov.za/terms/">Terms of Use</a> |
                            <a class="footlink" style="font-size: 10px;" target="_blank" href="https://www.westerncape.gov.za/privacy">Privacy Policy</a> |
                            <a class="footlink" style="font-size: 10px;" target="_blank" href="https://www.westerncape.gov.za/copyright">Copyright</a>
                            <div>
                                <span class="font-weight-bold text-muted footer-detail">This project is an initiative of the Western Cape Government.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
  </ng-container>