<p-panel [toggleable]="false" [style]="{'font-size':'12px'}" header="New Organisation">
    <p-menubar [model]="menuActions" [style]="{'font-size':'14px', 'height': '43px'}" *ngIf="IsAuthorized(PermissionsEnum.ShowNpoActions)"></p-menubar>
    <p-messages [(value)]="validationErrors" [closable]="false" [enableService]="false"></p-messages>
    <div style="height: 10px;"></div>
    <p-panel [toggleable]="true" [style]="{'font-size':'12px'}" header="General Information">
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-6">
                <label class="mandatory-content">Organisation Name</label>
                <input type="text" class="form-text" pInputText [(ngModel)]="npo.name" [ngModelOptions]="{standalone: true}" #npoName="ngModel" [ngClass]="{'ng-dirty': (npoName.invalid && validated) || (npoName.dirty && npoName.invalid)}" required>
                <small *ngIf="(npoName.invalid && validated) || (npoName.dirty && npoName.invalid)" class="p-error">Organisation Name is required.</small>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label class="non-mandatory-content">Registration Number</label>
                <input type="text" name="registrationNumber" class="form-text" pInputText [(ngModel)]="npo.registrationNumber" [ngModelOptions]="{standalone: true}">
            </div>          
            <div class="p-field p-col-12 p-md-6">
                <label class="mandatory-content">Organisation Type</label>
                <p-dropdown [options]="organisationTypes" placeholder="Select an Organisation Type" optionLabel="name" [(ngModel)]="selectedOrganisationType" [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}" [filter]="true" filterBy="name" appendTo="body" #organisationType="ngModel" [ngClass]="{'ng-dirty': (organisationType.invalid && validated) || (organisationType.dirty && organisationType.invalid)}" required></p-dropdown>
                <small *ngIf="(organisationType.invalid && validated) || (organisationType.dirty && organisationType.invalid)" class="p-error">Organisation Type is required.</small>
            </div>  
            <div class="p-field p-col-12 p-md-6">
                <label class="non-mandatory-content">Year Registered</label>
                <input type="text" name="yearRegistered" class="form-text" pInputText [(ngModel)]="npo.yearRegistered" [ngModelOptions]="{standalone: true}" minlength="4" maxlength="4" (keypress)="numberOnly($event)"> 
            </div>
            <div class="p-field p-col-12 p-md-6">

            </div>
            <div class="p-field p-col-12 p-md-6">
                <label class="non-mandatory-content">Website</label>
                <input type="text" name="website" class="form-text" pInputText [(ngModel)]="npo.website" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
    </p-panel>
    <div style="height: 10px;"></div>
    <p-panel [toggleable]="true" [style]="{'font-size':'12px'}" header="Contact / Stakeholder Details">            
        <div class="heading">Organisation Contact List</div>
        <p-table [columns]="contactCols" [value]="npo.contactInformation" styleClass="p-datatable-sm">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                        {{col.header}}
                    </th>
                    <th style="width: 7%;">Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr class="default-font">
                    <td>{{rowData.title.name}} {{rowData.firstName}} {{rowData.lastName}}</td>
                    <td>{{rowData.position.name}}</td>
                    <td>{{rowData.emailAddress}}</td>
                    <td>{{rowData.cellphone}}</td>
                    <td style="text-align: center;">
                        <button pButton pRipple type="button" class="p-button-text action-button" icon="fa fa-pencil-square-o" (click)="editContactInformation(rowData)" pTooltip="Edit" tooltipPosition="top"></button>
                        <button pButton pRipple type="button" class="p-button-text p-button-danger action-button" icon="fa fa-trash" (click)="deleteContactInformation(rowData)" pTooltip="Delete" tooltipPosition="top"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr class="default-font">
                    <td colspan="5" style="text-align: center;">No results found</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary" let-rowData>
                <div style="text-align:left">
                    <button pButton pRipple type="button" label="Add Contact / Stakeholder Details" class="p-button-text" icon="fa fa-plus" (click)="addContactInformation()"></button>
                </div>
            </ng-template>
        </p-table>
    </p-panel>
</p-panel>

<p-dialog header="Contact / Stakeholder Details" 
          [(visible)]="displayContactDialog" 
          [style]="{width: '50vw'}" 
          [focusOnShow]="false"
          showEffect="fade"
          [transitionOptions]="'0ms'"
          [modal]="true">
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="mandatory-content">Title</span>
            </div>
        </div>
        <div class="p-col">
            <p-dropdown [options]="titles" placeholder="Select a Title" optionLabel="name" [(ngModel)]="selectedTitle" [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}" appendTo="body"></p-dropdown>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="mandatory-content">First Name</span>
            </div>
        </div>
        <div class="p-col">
            <input type="text" class="form-text" pInputText [(ngModel)]="contactInformation.firstName" [ngModelOptions]="{standalone: true}">
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="mandatory-content">Last Name</span>
            </div>
        </div>
        <div class="p-col">
            <input type="text" class="form-text" pInputText [(ngModel)]="contactInformation.lastName" [ngModelOptions]="{standalone: true}">
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="non-mandatory-content">RSA ID No.</span>
            </div>
        </div>
        <div class="p-col">
            <p-selectButton [options]="stateOptions" optionLabel="label" optionValue="value" [style]="{'font-size': '12px'}" [(ngModel)]="contactInformation.rsaIdNumber" [ngModelOptions]="{standalone: true}" (onChange)="clearIdPassportNumber($event)"></p-selectButton>
        </div>
    </div>
    <div class="p-grid" *ngIf="contactInformation.rsaIdNumber === true">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="non-mandatory-content">RSA ID Number</span>
            </div>
        </div>
        <div class="p-col">
            <input type="text" class="form-text" pInputText [(ngModel)]="contactInformation.idNumber" [ngModelOptions]="{standalone: true}" [minlength]="13" [maxlength]="13" (keypress)="numberOnly($event)">
        </div>
    </div>
    <div class="p-grid" *ngIf="contactInformation.rsaIdNumber === false">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="non-mandatory-content">Passport Number</span>
            </div>
        </div>
        <div class="p-col">
            <input type="text" class="form-text" pInputText [(ngModel)]="contactInformation.passportNumber" [ngModelOptions]="{standalone: true}">
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="mandatory-content">Email</span>
            </div>
        </div>
        <div class="p-col">
            <input type="text" class="form-text" pInputText [(ngModel)]="contactInformation.emailAddress" [ngModelOptions]="{standalone: true}" #emailAddress="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            <div class="md-errors-spacer" [hidden]="emailAddress.valid || emailAddress.untouched">
                <small class="text-danger" *ngIf="emailAddress.errors && emailAddress.errors.pattern">Please provide a valid email address</small>
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="non-mandatory-content">Telephone</span>
            </div>
        </div>
        <div class="p-col">
            <input type="text" class="form-text" pInputText [(ngModel)]="contactInformation.telephone" [ngModelOptions]="{standalone: true}" [minlength]="10" [maxlength]="10" (keypress)="numberOnly($event)">
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="mandatory-content">Cellphone</span>
            </div>
        </div>
        <div class="p-col">
            <input type="text" class="form-text" pInputText [(ngModel)]="contactInformation.cellphone" [ngModelOptions]="{standalone: true}" [minlength]="10" [maxlength]="10" (keypress)="numberOnly($event)">
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="mandatory-content">Position</span>
            </div>
        </div>
        <div class="p-col">
            <p-dropdown [options]="positions" placeholder="Select a Position" optionLabel="name" [(ngModel)]="selectedPosition" [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}" [filter]="true" filterBy="name" appendTo="body"></p-dropdown>
        </div>
    </div>  
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="non-mandatory-content">Races</span>
            </div>
        </div>
        <div class="p-col">
            <p-dropdown [options]="races" placeholder="Select a Race" optionLabel="name" [(ngModel)]="selectedRace" [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}" [filter]="true" filterBy="name" appendTo="body"></p-dropdown>
        </div>
    </div> 
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="non-mandatory-content">Preferred Language</span>
            </div>
        </div>
        <div class="p-col">
            <p-dropdown [options]="languages" placeholder="Select a Preferred Language" optionLabel="name" [(ngModel)]="selectedLanguage" [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}" [filter]="true" filterBy="name" appendTo="body"></p-dropdown>
        </div>
    </div>     
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="non-mandatory-content">Gender</span>
            </div>
        </div>
        <div class="p-col">
            <p-dropdown [options]="gender" placeholder="Select a Gender" optionLabel="name" [(ngModel)]="selectedGender" [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}" [filter]="true" filterBy="name" appendTo="body"></p-dropdown>
        </div>
    </div>  
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="non-mandatory-content">Qualifications</span>
            </div>
        </div>
        <div class="p-col">
            <input type="text" class="form-text" pInputText [(ngModel)]="contactInformation.qualifications" [ngModelOptions]="{standalone: true}">
        </div>
    </div>  
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="non-mandatory-content">Physical Address</span>
            </div>
        </div>
        <div class="p-col">
            <input type="text" class="form-text" pInputText [(ngModel)]="contactInformation.addressInformation" [ngModelOptions]="{standalone: true}">
        </div>
    </div>    
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="non-mandatory-content">Years of Experience</span>
            </div>
        </div>
        <div class="p-col">
            <input type="text" class="form-text" pInputText [(ngModel)]="contactInformation.yearsOfExperience" [ngModelOptions]="{standalone: true}">
        </div>
    </div>  
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="non-mandatory-content">Date of Employment</span>
            </div>
        </div>
        <div class="p-col">
            <p-calendar [minDate]="minDate" [maxDate]="maxDate" [ngModelOptions]="{standalone: true}" dateFormat="yy-mm-dd" [style]="{'width': '50%'}" inputId="time" appendTo="body"></p-calendar>
        </div>
    </div> 
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="non-mandatory-content">Comments</span>
            </div>
        </div>
        <div class="p-col">
            <textarea class="form-text" [rows]="5" [cols]="30" pInputTextarea [(ngModel)]="contactInformation.comments" [ngModelOptions]="{standalone: true}" [maxlength]="1000"></textarea>
        </div>
    </div> 
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="mandatory-content">Is Primary Contact</span>
            </div>
        </div>
        <div class="p-col">
            <p-selectButton [options]="stateOptions" optionLabel="label" optionValue="value" [style]="{'font-size': '12px'}" [(ngModel)]="contactInformation.isPrimaryContact" [ngModelOptions]="{standalone: true}"></p-selectButton>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="non-mandatory-content">Is Disabled</span>
            </div>
        </div>
        <div class="p-col">
            <p-checkbox [(ngModel)]="contactInformation.isDisabled" binary="true" inputId="binary"></p-checkbox>
        </div>
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="non-mandatory-content">Is Bank Signatory</span>
            </div>
        </div>
        <div class="p-col">
            <p-checkbox [(ngModel)]="contactInformation.isSignatory" binary="true" inputId="binary"></p-checkbox>
        </div>
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="non-mandatory-content">Is Written Agreement Signatory</span>
            </div>
        </div>
        <div class="p-col">
            <p-checkbox [(ngModel)]="isWrittenAgreementSignatory" binary="true" inputId="binary"></p-checkbox>
        </div>        
    </div>
    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="non-mandatory-content">Is Board Member</span>
            </div>
        </div>
        <div class="p-col">
            <p-checkbox [(ngModel)]="contactInformation.isBoardMember" binary="true" inputId="binary"></p-checkbox>
        </div>
    </div>         

    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="Save" class="p-button-text" icon="fa fa-floppy-o" [disabled]=disableSaveContactInfo() (click)="saveContactInformation()"></button>
    </ng-template>
</p-dialog>

<div class="content-section implementation">
    <p-confirmDialog #cd header="Confirmation" [style]="{width: '30vw'}" icon="pi pi-exclamation-triangle">
        <p-footer>
            <button type="button" pButton icon="fa fa-check" class="ui-button-info" label="Yes" (click)="cd.accept()"></button>
            <button type="button" pButton icon="fa fa-times" class="ui-button-info" label="No" (click)="cd.reject()"></button>
        </p-footer>
    </p-confirmDialog>
</div>