<p-toast></p-toast>
<p-panel [toggleable]="false" [style]="{'font-size':'12px'}" header="Review Application" *ngIf="isApplicationAvailable && isStepsAvailable">

    <div class="p-grid p-nogutter p-justify-between" *ngIf="application.createdUser && application.updatedUser">
        <div>
            <span class="ui-panel-title text-uppercase text-muted" style="font-size:10px;display:inline-block;margin-top:2px;font-weight: bold;height: 20px;">Created By: {{application.createdUser.fullName}}</span>
                <i style="vertical-align: middle; padding: 10px;"></i>
            <span class="ui-panel-title text-uppercase text-muted" style="font-size:10px;display:inline-block;margin-top:2px;font-weight: bold;height: 20px;">Created Date: {{application.createdDateTime | date:"yyyy-MM-dd HH:mm:ss"}}</span>
        </div>
        <div>
            <span class="ui-panel-title text-uppercase text-muted" style="font-size:10px;display:inline-block;margin-top:2px;font-weight: bold;height: 20px;">Updated By: {{application.updatedUser.fullName}}</span>
                <i style="vertical-align: middle; padding: 10px;"></i>
            <span class="ui-panel-title text-uppercase text-muted" style="font-size:10px;display:inline-block;margin-top:2px;font-weight: bold;height: 20px;">Updated Date: {{application.updatedDateTime | date:"yyyy-MM-dd HH:mm:ss"}}</span>
        </div>
    </div>
    <div style="height: 10px;"></div>
    
    <p-menubar [model]="menuActions" [style]="{'font-size':'14px', 'height': '43px'}" *ngIf="IsAuthorized(PermissionsEnum.ShowApplicationActions)"></p-menubar>
    <p-messages [(value)]="validationErrors" [closable]="false" [enableService]="false"></p-messages>
    <div style="height: 10px;"></div>
    <p-steps [model]="items" [readonly]="true" [activeIndex]="activeStep"></p-steps>
    <div style="height: 10px;"></div>
    <div *ngIf="application.applicationPeriod.applicationTypeId == ApplicationTypeEnum.FA">
        this is the funding application portion
    </div>
    <div *ngIf="application.applicationPeriod.applicationTypeId == ApplicationTypeEnum.SP">
        <app-npo-details *ngIf="activeStep == ServiceProvisionStepsEnum.NpoConfirmation" [(activeStep)]="activeStep" [application]="application" [newApplication]="false"></app-npo-details>
        <app-objectives *ngIf="activeStep == ServiceProvisionStepsEnum.Objectives" [(activeStep)]="activeStep" [application]="application" (objectiveChange)="loadObjectives()" [canAddComments]="true" [isReview]="true"></app-objectives>
        <app-activities *ngIf="activeStep == ServiceProvisionStepsEnum.Activities" [(activeStep)]="activeStep" [application]="application" (activityChange)="loadActivities()" [canAddComments]="true" [isReview]="true"></app-activities>
        <app-sustainability *ngIf="activeStep == ServiceProvisionStepsEnum.Sustainability" [(activeStep)]="activeStep" [application]="application" (sustainabilityPlanChange)="loadSustainabilityPlans()" [canAddComments]="true" [isReview]="true"></app-sustainability>
        <app-resourcing *ngIf="activeStep == ServiceProvisionStepsEnum.Resourcing" [(activeStep)]="activeStep" [application]="application" (resourceChange)="loadResources()" [reviewApplication]="true" [canReviewOrApprove]="canReviewOrApprove" [canAddComments]="true" [isReview]="true"></app-resourcing>
        <app-confirmation *ngIf="activeStep == ServiceProvisionStepsEnum.ApplicationConfirmation" [(activeStep)]="activeStep" [application]="application" [(status)]="status" [profile]="profile" [approveApplication]="false"></app-confirmation>
    </div>
    <div style="height: 10px;"></div>
    <p-menubar [model]="menuActions" [style]="{'font-size':'14px', 'height': '43px'}" *ngIf="IsAuthorized(PermissionsEnum.ShowApplicationActions)"></p-menubar>
</p-panel>