<p-toast></p-toast>
<p-panel [toggleable]="false" [style]="{'font-size':'12px'}" header="NPO Reporting">
    <div class="p-grid">
        <div class="p-col-fixed"></div>
        <div class="p-col">
        </div>
    </div>

    <p-accordion  *ngIf="isApplicationAvailable">
 
        <p-accordionTab header="Section 1: Indicator Report">
            <app-indicator-report [application]="application"></app-indicator-report>
        </p-accordionTab>


         <p-accordionTab header="Section 2: Post Report">
            <app-post-report [application]="application"></app-post-report>
        </p-accordionTab>

  
        <p-accordionTab header="Section 3: Income and Expenditure Report">
            <app-details-of-income-and-and-expenditure-report [application]="application"></app-details-of-income-and-and-expenditure-report>
        </p-accordionTab>

  
        <p-accordionTab header="Section 4: Governance">
            <app-governance-report [application]="application"></app-governance-report>
        </p-accordionTab>
 
        <p-accordionTab header="Section 5: Any other information">
            <app-any-other-information-report [application]="application"></app-any-other-information-report>
        </p-accordionTab>

      
        <!-- <p-accordionTab header="Quartely SDIP Reporting">
            <app-quarterly-sdip-reporting-report [application]="application"></app-quarterly-sdip-reporting-report>
        </p-accordionTab>  -->
    </p-accordion>
</p-panel>
