<div style="width: 100%;">
    <div style="font-size:20px;margin-top:2px;font-weight: bold;height: 26px; text-align: center;">
        Score Card
    </div>
</div>
<div style="height: 10px;"></div>
<div class="p-grid p-nogutter p-justify-between" style="border: solid 1px rgb(172, 168, 168);">
    <div>
        <span class="ui-panel-title text-uppercase text-muted" style="font-size:12px;display:inline-block;margin-top:2px;font-weight: bold;height: 20px;">Application RefNo: <span *ngIf="application">"{{application.refNo}}"</span></span>
            <i style="vertical-align: middle; padding: 10px;"></i>
        <span class="ui-panel-title text-uppercase text-muted" style="font-size:12px;display:inline-block;margin-top:2px;font-weight: bold;height: 20px;">Financial Year: <span *ngIf="financialYears">"{{financialYears[0].name}}"</span></span>
    </div>
    <div>
        <span class="ui-panel-title text-uppercase text-muted" style="font-size:12px;display:inline-block;margin-top:2px;font-weight: bold;height: 20px;">Organisation: <span *ngIf="organisation">"{{organisation}}"</span></span>
            <i style="vertical-align: middle; padding: 10px;"></i>
        <span class="ui-panel-title text-uppercase text-muted" style="font-size:12px;display:inline-block;margin-top:2px;font-weight: bold;height: 20px;">Application Name: <span *ngIf="application && application.applicationPeriod">"{{application.applicationPeriod.name}}"</span></span>
    </div>
</div>
<div>
    <p-panel header="Engagement" [style]="{'font-size':'12px', 'width':'100%'}" >
        <p-table [value]="engagementQuestionnaire" *ngIf="engagementQuestionnaire" [rowHover]="true" 
            styleClass="p-datatable-striped" sortMode="single" dataKey="questionSectionName">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5%; text-align: center;">#</th>
                        <th style="width: 45%;">Name (Question/Statement)</th>
                        <th style="width: 10%;">Score/Rating</th>
                        <th style="width: 25%;" *ngIf="hasComment(engagementQuestionnaire)">Comment</th>
                        <!-- <th style="width: 7%;" *ngIf="hasDocument(engagementQuestionnaire)">Evidence</th> -->
                        <th style="width: 8%;" colspan="4"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-question let-rowIndex="rowIndex" let-expanded="expanded">
                    <tr *ngIf="updateRowGroupMetaData(engagementQuestionnaire)[question.questionSectionName].index === rowIndex">
                        <td [attr.colspan]="getColspan(engagementQuestionnaire, 7)">
                            <span class="p-text-bold p-ml-2"><b>{{question.questionSectionName}}</b></span>
                            <div class="pull-right"><span class="{{'product-badge status-' + getStatus(engagementQuestionnaire, question)}}">{{getStatusText(engagementQuestionnaire, question)}}</span></div>
                        </td>
                    </tr>
                    <tr class="default-font">
                        <td style="text-align: center;">{{rowIndex + 1}}</td>
                        <td>{{question.questionName}}</td>
                        <td [pEditableColumn]="question" pEditableColumn>
                            <p-dropdown *ngIf="displayField(question)" [options]="getResponseOptions(question.responseTypeId)"
                                optionLabel="name" [(ngModel)]="question.responseOption" [ngModelOptions]="{standalone: true}"
                                placeholder="Select a Response" appendTo="body" [style]="{'width':'100%'}" 
                                (onChange)="onSaveResponse($event, question)" [disabled]="hasScorecardSubmitted"></p-dropdown>
                        </td>
                        <td [pEditableColumn]="question" pEditableColumn *ngIf="hasComment(engagementQuestionnaire)">
                            <textarea class="form-text" *ngIf="question.hasComment" [rows]="1" pInputTextarea [(ngModel)]="question.comment" 
                            [ngModelOptions]="{standalone: true}" (change)="onSaveComment($event, question)"
                             (keydown)="onInputCommentChange(question)" [disabled]="hasScorecardSubmitted"
                            [autoResize]="true"></textarea>
                        </td>
                        
                        <td style="text-align: center;">
                            <i *ngIf="displayField(question)" class="fa fa-circle {{getRagColour(engagementQuestionnaire)}}" style="font-size: 1rem"></i>
                        </td>
                        <td style="text-align: center;" colspan="3">
                            <!-- <span *ngIf="displayField(question)" style="font-weight: bold;" class="{{getRagColour(engagementQuestionnaire)}}">{{getRagText(engagementQuestionnaire)}}</span> -->
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-question let-rowIndex="rowIndex" >
                    
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="default-font">
                        <td [attr.colspan]="getColspan(engagementQuestionnaire, 7)" style="text-align: center;">No results found</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer" *ngIf="hasWeighting(engagementQuestionnaire)">
                    <tr>
                        <td colspan="2"><span style="font-weight: bold;">Selected Score</span></td>
                        <td [attr.colspan]="getColspan(engagementQuestionnaire, 3)"><span style="font-weight: bold;" class="{{getRagColour(engagementQuestionnaire)}}">{{getAverageScoreTotal(engagementQuestionnaire)}}</span></td>
                        <td colspan="2"></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="default-font">
                        <td [attr.colspan]="getColspan(engagementQuestionnaire, 7)" style="text-align: center;">No results found</td>
                    </tr>
                </ng-template>
        </p-table>
    </p-panel>
    <div style="height: 10px;"></div>
</div>
<div>
    <p-panel header="Timely Work Plan Submission" [style]="{'font-size':'12px', 'width':'100%'}" >
        <p-table [value]="timeWorkPlanQuestionnaire" *ngIf="timeWorkPlanQuestionnaire" [rowHover]="true" 
            styleClass="p-datatable-striped" sortMode="single" dataKey="questionSectionName">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5%; text-align: center;">#</th>
                        <th style="width: 45%;">Name (Question/Statement)</th>
                        <th style="width: 10%;">Score/Rating</th>
                        <th style="width: 25%;" *ngIf="hasComment(timeWorkPlanQuestionnaire)">Comment</th>
                        <!-- <th style="width: 7%;" *ngIf="hasDocument(timeWorkPlanQuestionnaire)">Evidence</th> -->
                        <th style="width: 8%;" colspan="4"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-question let-rowIndex="rowIndex" let-expanded="expanded">
                    <tr *ngIf="updateRowGroupMetaData(timeWorkPlanQuestionnaire)[question.questionSectionName].index === rowIndex">
                        <td [attr.colspan]="getColspan(timeWorkPlanQuestionnaire, 7)">
                            <span class="p-text-bold p-ml-2"><b>{{question.questionSectionName}}</b></span>
                            <div class="pull-right"><span class="{{'product-badge status-' + getStatus(timeWorkPlanQuestionnaire, question)}}">{{getStatusText(timeWorkPlanQuestionnaire, question)}}</span></div>
                        </td>
                    </tr>
                    <tr class="default-font">
                        <td style="text-align: center;">{{rowIndex + 1}}</td>
                        <td>{{question.questionName}}</td>
                        <td [pEditableColumn]="question" pEditableColumn>
                            <p-dropdown *ngIf="displayField(question)" [options]="getResponseOptions(question.responseTypeId)"
                                optionLabel="name" [(ngModel)]="question.responseOption" [ngModelOptions]="{standalone: true}"
                                placeholder="Select a Response" appendTo="body" [style]="{'width':'100%'}" 
                                (onChange)="onSaveResponse($event, question)" [disabled]="hasScorecardSubmitted"></p-dropdown>
                        </td>
                        <td [pEditableColumn]="question" pEditableColumn *ngIf="hasComment(timeWorkPlanQuestionnaire)">
                            <textarea class="form-text" *ngIf="question.hasComment" [rows]="1" pInputTextarea [(ngModel)]="question.comment" 
                            [ngModelOptions]="{standalone: true}" (change)="onSaveComment($event, question)" (keydown)="onInputCommentChange(question)" 
                            [autoResize]="true" [disabled]="hasScorecardSubmitted"></textarea>
                        </td>
                        
                        <td style="text-align: center;">
                            <i *ngIf="displayField(question)" class="fa fa-circle {{getRagColour(timeWorkPlanQuestionnaire)}}" style="font-size: 1rem"></i>
                        </td>
                        <td style="text-align: center;" colspan="3">
                            <!-- <span *ngIf="displayField(question)" style="font-weight: bold;" class="{{getRagColour(timeWorkPlanQuestionnaire)}}">{{getRagText(timeWorkPlanQuestionnaire)}}</span> -->
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-question let-rowIndex="rowIndex" >
                   
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="default-font">
                        <td [attr.colspan]="getColspan(timeWorkPlanQuestionnaire, 7)" style="text-align: center;">No results found</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer" *ngIf="hasWeighting(timeWorkPlanQuestionnaire)">
                    <tr>
                        <td colspan="2"><span style="font-weight: bold;">Selected Score</span></td>
                        <td [attr.colspan]="getColspan(timeWorkPlanQuestionnaire, 3)"><span style="font-weight: bold;" class="{{getRagColour(timeWorkPlanQuestionnaire)}}">{{getAverageScoreTotal(timeWorkPlanQuestionnaire)}}</span></td>
                        <td colspan="2"></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="default-font">
                        <td [attr.colspan]="getColspan(timeWorkPlanQuestionnaire, 7)" style="text-align: center;">No results found</td>
                    </tr>
                </ng-template>
        </p-table>
    </p-panel>
    <div style="height: 10px;"></div>
</div>
<div>
    <p-panel header="Impact" [style]="{'font-size':'12px', 'width':'100%'}" >
        <p-table [value]="impactQuestionnaire" *ngIf="impactQuestionnaire" [rowHover]="true" 
            styleClass="p-datatable-striped" sortMode="single" dataKey="questionSectionName">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5%; text-align: center;">#</th>
                        <th style="width: 45%;">Name (Question/Statement)</th>
                        <th style="width: 10%;">Score/Rating</th>
                        <th style="width: 25%;" *ngIf="hasComment(impactQuestionnaire)">Comment</th>
                        <!-- <th style="width: 7%;" *ngIf="hasDocument(impactQuestionnaire)">Evidence</th> -->
                        <th style="width: 8%;" colspan="4"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-question let-rowIndex="rowIndex" let-expanded="expanded">
                    <tr *ngIf="updateRowGroupMetaData(impactQuestionnaire)[question.questionSectionName].index === rowIndex">
                        <td [attr.colspan]="getColspan(impactQuestionnaire, 7)">
                            <span class="p-text-bold p-ml-2"><b>{{question.questionSectionName}}</b></span>
                            <div class="pull-right"><span class="{{'product-badge status-' + getStatus(impactQuestionnaire, question)}}">{{getStatusText(impactQuestionnaire, question)}}</span></div>
                        </td>
                    </tr>
                    <tr class="default-font">
                        <td style="text-align: center;">{{rowIndex + 1}}</td>
                        <td>{{question.questionName}}</td>
                        <td [pEditableColumn]="question" pEditableColumn>
                            <p-dropdown *ngIf="displayField(question)" [options]="getResponseOptions(question.responseTypeId)"
                                optionLabel="name" [(ngModel)]="question.responseOption" [ngModelOptions]="{standalone: true}"
                                placeholder="Select a Response" appendTo="body" [style]="{'width':'100%'}" 
                                (onChange)="onSaveResponse($event, question)" [disabled]="hasScorecardSubmitted"></p-dropdown>
                        </td>
                        <td [pEditableColumn]="question" pEditableColumn *ngIf="hasComment(impactQuestionnaire)">
                            <textarea class="form-text" *ngIf="question.hasComment" [rows]="1" pInputTextarea [(ngModel)]="question.comment" 
                            [ngModelOptions]="{standalone: true}" (change)="onSaveComment($event, question)" (keydown)="onInputCommentChange(question)" 
                            [autoResize]="true" [disabled]="hasScorecardSubmitted"></textarea>
                        </td>
                        <td style="text-align: center;">
                            <i *ngIf="displayField(question)" class="fa fa-circle {{getRagColour(impactQuestionnaire)}}" style="font-size: 1rem"></i>
                        </td>
                        <td style="text-align: center;" colspan="3">
                            <!-- <span *ngIf="displayField(question)" style="font-weight: bold;" class="{{getRagColour(impactQuestionnaire)}}">{{getRagText(impactQuestionnaire)}}</span> -->
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-question let-rowIndex="rowIndex" >
                   
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="default-font">
                        <td [attr.colspan]="getColspan(impactQuestionnaire, 7)" style="text-align: center;">No results found</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer" *ngIf="hasWeighting(impactQuestionnaire)">
                    <tr>
                        <td colspan="2"><span style="font-weight: bold;">Selected Score</span></td>
                        <td [attr.colspan]="getColspan(impactQuestionnaire, 3)"><span style="font-weight: bold;" class="{{getRagColour(impactQuestionnaire)}}">{{getAverageScoreTotal(impactQuestionnaire)}}</span></td>
                        <td colspan="2"></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="default-font">
                        <td [attr.colspan]="getColspan(impactQuestionnaire, 7)" style="text-align: center;">No results found</td>
                    </tr>
                </ng-template>
        </p-table>
    </p-panel>
    <div style="height: 10px;"></div>
</div>
<div>
    <p-panel header="Risk Mitigation" [style]="{'font-size':'12px', 'width':'100%'}" >
        <p-table [value]="riskMitigationQuestionnaire" *ngIf="riskMitigationQuestionnaire" [rowHover]="true" 
            styleClass="p-datatable-striped" sortMode="single" dataKey="questionSectionName">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5%; text-align: center;">#</th>
                        <th style="width: 45%;">Name (Question/Statement)</th>
                        <th style="width: 10%;">Score/Rating</th>
                        <th style="width: 25%;" *ngIf="hasComment(riskMitigationQuestionnaire)">Comment</th>
                        <!-- <th style="width: 7%;" *ngIf="hasDocument(riskMitigationQuestionnaire)">Evidence</th> -->
                        <th style="width: 8%;" colspan="4"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-question let-rowIndex="rowIndex" let-expanded="expanded">
                    <tr *ngIf="updateRowGroupMetaData(riskMitigationQuestionnaire)[question.questionSectionName].index === rowIndex">
                        <td [attr.colspan]="getColspan(riskMitigationQuestionnaire, 7)">
                            <span class="p-text-bold p-ml-2"><b>{{question.questionSectionName}}</b></span>
                            <div class="pull-right"><span class="{{'product-badge status-' + getStatus(riskMitigationQuestionnaire, question)}}">{{getStatusText(riskMitigationQuestionnaire, question)}}</span></div>
                        </td>
                    </tr>
                    <tr class="default-font">
                        <td style="text-align: center;">{{rowIndex + 1}}</td>
                        <td>{{question.questionName}}</td>
                        <td [pEditableColumn]="question" pEditableColumn>
                            <p-dropdown *ngIf="displayField(question)" [options]="getResponseOptions(question.responseTypeId)"
                                optionLabel="name" [(ngModel)]="question.responseOption" [ngModelOptions]="{standalone: true}"
                                placeholder="Select a Response" appendTo="body" [style]="{'width':'100%'}" 
                                (onChange)="onSaveResponse($event, question)" [disabled]="hasScorecardSubmitted"></p-dropdown>
                        </td>
                        <td [pEditableColumn]="question" pEditableColumn *ngIf="hasComment(riskMitigationQuestionnaire)">
                            <textarea class="form-text" *ngIf="question.hasComment" [rows]="1" pInputTextarea [(ngModel)]="question.comment" 
                            [ngModelOptions]="{standalone: true}" (change)="onSaveComment($event, question)" (keydown)="onInputCommentChange(question)" 
                            [autoResize]="true" [disabled]="hasScorecardSubmitted"></textarea>
                        </td>
                        <td style="text-align: center;">
                            <i *ngIf="displayField(question)" class="fa fa-circle {{getRagColour(riskMitigationQuestionnaire)}}" style="font-size: 1rem"></i>
                        </td>
                        <td style="text-align: center;" colspan="3">
                            <!-- <span *ngIf="displayField(question)" style="font-weight: bold;" class="{{getRagColour(riskMitigationQuestionnaire)}}">{{getRagText(riskMitigationQuestionnaire)}}</span> -->
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-question let-rowIndex="rowIndex" >
                   
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="default-font">
                        <td [attr.colspan]="getColspan(riskMitigationQuestionnaire, 7)" style="text-align: center;">No results found</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer" *ngIf="hasWeighting(riskMitigationQuestionnaire)">
                    <tr>
                        <td colspan="2"><span style="font-weight: bold;">Selected Score</span></td>
                        <td [attr.colspan]="getColspan(riskMitigationQuestionnaire, 3)"><span style="font-weight: bold;" class="{{getRagColour(riskMitigationQuestionnaire)}}">{{getAverageScoreTotal(riskMitigationQuestionnaire)}}</span></td>
                        <td colspan="2"></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="default-font">
                        <td [attr.colspan]="getColspan(riskMitigationQuestionnaire, 7)" style="text-align: center;">No results found</td>
                    </tr>
                </ng-template>
        </p-table>
    </p-panel>
    <div style="height: 10px;"></div>
</div>
<div>
    <p-panel header="Appropriation of Resources" [style]="{'font-size':'12px', 'width':'100%'}" >
        <p-table [value]="appropriationOfResourcesQuestionnaire" *ngIf="appropriationOfResourcesQuestionnaire" [rowHover]="true" 
            styleClass="p-datatable-striped" sortMode="single" dataKey="questionSectionName">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5%; text-align: center;">#</th>
                        <th style="width: 45%;">Name (Question/Statement)</th>
                        <th style="width: 10%;">Score/Rating</th>
                        <th style="width: 25%;" *ngIf="hasComment(appropriationOfResourcesQuestionnaire)">Comment</th>
                        <!-- <th style="width: 7%;" *ngIf="hasDocument(appropriationOfResourcesQuestionnaire)">Evidence</th> -->
                        <th style="width: 8%;" colspan="4"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-question let-rowIndex="rowIndex" let-expanded="expanded">
                    <tr *ngIf="updateRowGroupMetaData(appropriationOfResourcesQuestionnaire)[question.questionSectionName].index === rowIndex">
                        <td [attr.colspan]="getColspan(appropriationOfResourcesQuestionnaire, 7)">
                            <span class="p-text-bold p-ml-2"><b>{{question.questionSectionName}}</b></span>
                            <div class="pull-right"><span class="{{'product-badge status-' + getStatus(appropriationOfResourcesQuestionnaire, question)}}">{{getStatusText(appropriationOfResourcesQuestionnaire, question)}}</span></div>
                        </td>
                    </tr>
                    <tr class="default-font">
                        <td style="text-align: center;">{{rowIndex + 1}}</td>
                        <td>{{question.questionName}}</td>
                        <td [pEditableColumn]="question" pEditableColumn>
                            <p-dropdown *ngIf="displayField(question)" [options]="getResponseOptions(question.responseTypeId)"
                                optionLabel="name" [(ngModel)]="question.responseOption" [ngModelOptions]="{standalone: true}"
                                placeholder="Select a Response" appendTo="body" [style]="{'width':'100%'}" 
                                (onChange)="onSaveResponse($event, question)" [disabled]="hasScorecardSubmitted"></p-dropdown>
                        </td>
                        <td [pEditableColumn]="question" pEditableColumn *ngIf="hasComment(appropriationOfResourcesQuestionnaire)">
                            <textarea class="form-text" *ngIf="question.hasComment" [rows]="1" pInputTextarea [(ngModel)]="question.comment" 
                            [ngModelOptions]="{standalone: true}" (change)="onSaveComment($event, question)" (keydown)="onInputCommentChange(question)" 
                            [autoResize]="true" [disabled]="hasScorecardSubmitted"></textarea>
                        </td>
                        <td style="text-align: center;">
                            <i *ngIf="displayField(question)" class="fa fa-circle {{getRagColour(appropriationOfResourcesQuestionnaire)}}" style="font-size: 1rem"></i>
                        </td>
                        <td style="text-align: center;" colspan="3">
                            <!-- <span *ngIf="displayField(question)" style="font-weight: bold;" class="{{getRagColour(appropriationOfResourcesQuestionnaire)}}">{{getRagText(appropriationOfResourcesQuestionnaire)}}</span> -->
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-question let-rowIndex="rowIndex" >
                   
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="default-font">
                        <td [attr.colspan]="getColspan(appropriationOfResourcesQuestionnaire, 7)" style="text-align: center;">No results found</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer" *ngIf="hasWeighting(appropriationOfResourcesQuestionnaire)">
                    <tr>
                        <td colspan="2"><span style="font-weight: bold;">Selected Score</span></td>
                        <td [attr.colspan]="getColspan(appropriationOfResourcesQuestionnaire, 3)"><span style="font-weight: bold;" class="{{getRagColour(appropriationOfResourcesQuestionnaire)}}">{{getAverageScoreTotal(appropriationOfResourcesQuestionnaire)}}</span></td>
                        <td colspan="2"></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="default-font">
                        <td [attr.colspan]="getColspan(appropriationOfResourcesQuestionnaire, 7)" style="text-align: center;">No results found</td>
                    </tr>
                </ng-template>
        </p-table>
    </p-panel>
    <div style="height: 10px;"></div>
        <table style="width: 80%; border-width: 1px;">
            <tr>
                <td style="width: 60%;"></td>
                <td>  <span style="text-align: right;"><b>Overall Total Score</b></span></td>
                <td><span style="text-align: left;"><b>{{overallTotalScores}}</b></span></td>
                <td></td>
            </tr>
            <tr>
                <td style="width: 60%;"></td>
                <td class="{{getRagColour1(overallAvgScore)}}"><span style="text-align: right;"><b>Overall Average Score</b></span></td>
                <td> <span style="text-align: left;" class="{{getRagColour1(overallAvgScore)}}"><b>{{overallAvgScore.toFixed(2)}}/10</b></span></td>
                <td><span style="text-align: center;" class="{{getRagColour1(overallAvgScore)}}"><b>{{getRagText1(overallAvgScore)}}</b></span></td>
            </tr>
        </table>
    <div style="height: 10px;"></div>
</div>
<div style="height: 10px;"></div>   
    <div style="width: 100%;">
        <!-- <div class="p-grid" style="width: 25%;">
            <div>
                <div class="p-col">
                    <span>&nbsp;&nbsp;<b>Financial Year</b></span>
                </div>
            </div>
            <div class="p-col">
                <p-dropdown [options]="financialYears" placeholder="Select a Financial Year" optionLabel="name" [(ngModel)]="selectedFinancialYear" [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}" appendTo="body" (onChange)="financialYearChange()"></p-dropdown>
            </div>
        </div> -->
        <div class="p-col-fixed form-label">
            <div class="box" style="text-align: left;">
                <span class="non-mandatory-content"><b>Quantitative Performance</b></span>
            </div>
        </div>
        <p-table [rowHover]="true" [value]="filterWorkplanIndicators()" *ngIf="filterWorkplanIndicators()">
            <ng-template pTemplate="header">
                <tr>
                    <th style="text-align: center; width: 5%;">#</th>
                    <th style="text-align: center; width: 40%;">Activity</th>
                    <th style="text-align: center; width: 30%;">Indicator</th>
                    <th style="text-align: center; width: 7%;">Target</th>
                    <th style="text-align: center; width: 10%;">Actual YTD</th>
                    <th style="text-align: center; width: 8%;">Performance</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-indicator let-rowIndex="rowIndex">
                <tr *ngIf="rowGroupMetadataActivities && rowGroupMetadataActivities[rowIndex].itemExists === false" class="heading">
                    <td [attr.colspan]="3"><span class="p-text-bold">{{indicator.ObjectiveName}}</span></td>
                    <td style="text-align: center;"><span class="p-text-bold">{{getObjectiveTargets(indicator.activity.objective)}}</span></td>
                    <td style="text-align: center;"><span class="p-text-bold">{{getObjectiveActuals(indicator.activity.objective)}}</span></td>
                    <td style="text-align: center;"><span class="p-text-bold">{{getPerformanceAvg(indicator.activity.objective)}}</span></td>
                </tr>
                <tr class="default-font">
                    <td style="text-align: center;">{{rowIndex + 1}}</td>
                    <td style="text-align: left;">{{indicator.activity.activityList.description}}</td>
                    <td style="text-align: left;">{{indicator.activity.successIndicator}}</td>
                    <td style="text-align: center;">{{indicator.totalTargets}}</td>
                    <td style="text-align: center;">{{indicator.totalActuals}}</td>
                    <td style="text-align: center;" *ngIf="indicator.totalAvg > 10" >{{10}}</td>
                    <td style="text-align: center;">{{(indicator.totalAvg).toFixed(2)}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr class="default-font">
                    <td style="text-align: left; width: 20%;" colspan="5"><b>Overall Quantitative Performance</b></td>
                    <td style="text-align: center;">{{(getOverallPerformancePercentage()).toFixed(2)}}</td>
                </tr>
              
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr class="default-font">
                    <td colspan="6" style="text-align: center;">No results found</td>
                </tr>
            </ng-template>
        </p-table>
        <div style="height: 10px;"></div>
        <p-panel>
            <div class="p-grid">
                <div class="p-col-3 form-label">
                    <div class="box">
                        <span class="non-mandatory-content">Improvement Areas
                        </span>
                    </div>
                </div>
                <div class="p-col-9">
                    <textarea class="form-text" [rows]="3" pInputTextarea 
                    [(ngModel)]="captureImprovementArea" [ngModelOptions]="{standalone: true}" 
                    [autoResize]="true" [disabled]="hascapturedImprovementArea"></textarea>
                </div>
                <div class="p-col-3 form-label">
                    <div class="box">
                        <span class="non-mandatory-content">Required Actions
                        </span>
                    </div>
                </div>
                <div class="p-col-9">
                    <textarea class="form-text" [rows]="3" pInputTextarea 
                    [(ngModel)]="captureRequiredAction" [ngModelOptions]="{standalone: true}" 
                    [autoResize]="true" [disabled]="hasCapturedRequiredAction"></textarea>
                </div>
            </div>
            <div style="height: 10px;"></div>
            <div class="p-grid">
                <div class="p-col-3 form-label">
                    <div class="box">
                        <span class="non-mandatory-content">Submitted By</span>
                    </div>
                </div>
                <div class="p-col-9">
                    <span>{{signedByUser}}</span>
                </div>
            </div>
            <div style="height: 10px;"></div>
            <div class="p-grid">
                <div class="p-col-3 form-label">
                    <div class="box">
                        <span class="non-mandatory-content">Submitted Date</span>
                    </div>
                </div>
                <div class="p-col-9">
                    <span>{{submittedDate | date: 'yyyy-MM-dd'}}</span>
                </div>
            </div>
            <div class="p-grid p-nogutter p-justify-end" *ngIf="!hasScorecardSubmitted">
                <button pButton type="button" label="Submit" icon="fa fa-floppy-o"
                [disabled]="disableElement()" (click)="submit()"></button>
            </div>
        </p-panel>
    </div>     


