<p></p>
<div>
    <p-panel header="Engagement" [style]="{'font-size':'12px', 'width':'75%'}" >
        <p-table [value]="engagementQuestionnaire" *ngIf="engagementQuestionnaire" [rowHover]="true" 
            styleClass="p-datatable-striped" sortMode="single" dataKey="questionSectionName">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5%; text-align: center;">#</th>
                        <th style="width: 45%;">Name (Question/Statement)</th>
                        <th style="width: 10%;">Score/Rating</th>
                        <th style="width: 25%;" *ngIf="hasComment(engagementQuestionnaire)">Comment</th>
                        <th style="width: 7%;" *ngIf="hasDocument(engagementQuestionnaire)">Evidence</th>
                        <th style="width: 8%;" colspan="4"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-question let-rowIndex="rowIndex" let-expanded="expanded">
                    <tr *ngIf="updateRowGroupMetaData(engagementQuestionnaire)[question.questionSectionName].index === rowIndex">
                        <td [attr.colspan]="getColspan(engagementQuestionnaire, 7)">
                            <button type="button" pButton pRipple [pRowToggler]="question" class="p-button-text p-button-rounded p-button-plain p-mr-2" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                            <span class="p-text-bold p-ml-2"><b>{{question.questionSectionName}}</b></span>
                            <div class="pull-right"><span class="{{'product-badge status-' + getStatus(engagementQuestionnaire, question)}}">{{getStatusText(engagementQuestionnaire, question)}}</span></div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-question let-rowIndex="rowIndex" >
                    <tr class="default-font">
                        <td style="text-align: center;">{{rowIndex + 1}}</td>
                        <td>{{question.questionName}}</td>
                        <td [pEditableColumn]="question" pEditableColumn>
                            <p-dropdown *ngIf="displayField(question)" [options]="getResponseOptions(question.responseTypeId)"
                                optionLabel="name" [(ngModel)]="question.responseOption" [ngModelOptions]="{standalone: true}"
                                placeholder="Select a Response" appendTo="body" [style]="{'width':'100%'}" 
                                (onChange)="onSaveResponse($event, question)" [disabled]="isEvaluationDisable"></p-dropdown>
                        </td>
                        <td [pEditableColumn]="question" pEditableColumn *ngIf="hasComment(engagementQuestionnaire)">
                            <textarea class="form-text" *ngIf="question.hasComment" [rows]="1" pInputTextarea [(ngModel)]="question.comment" 
                            [ngModelOptions]="{standalone: true}" (change)="onSaveComment($event, question)" (keydown)="onInputCommentChange(question)" 
                            [autoResize]="true"   [disabled]="isEvaluationDisable"></textarea>
                        </td>
                        
                        <td style="text-align: center;">
                            <i *ngIf="displayField(question)" class="fa fa-circle {{getRagColour(question)}}" style="font-size: 1rem"></i>
                        </td>
                        <td style="text-align: center;">
                            <p-button *ngIf="displayField(question)" tooltipPosition="left" pTooltip="View History" 
                            (onClick)="onSelectViewHistory(question)" icon="pi pi-eye" class="action-button"></p-button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="default-font">
                        <td [attr.colspan]="getColspan(engagementQuestionnaire, 7)" style="text-align: center;">No results found</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer" *ngIf="hasWeighting(engagementQuestionnaire)">
                    <tr>
                        <td colspan="2"><span style="font-weight: bold;">Total Score</span></td>
                        <td [attr.colspan]="getColspan(engagementQuestionnaire, 3)"><span style="font-weight: bold;">{{getAverageScoreTotal(engagementQuestionnaire)}}</span></td>
                        <td colspan="2"></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="default-font">
                        <td [attr.colspan]="getColspan(engagementQuestionnaire, 7)" style="text-align: center;">No results found</td>
                    </tr>
                </ng-template>
        </p-table>
    </p-panel>
    <div style="height: 10px;"></div>
</div>
<div>
    <p-panel header="Timely Work Plan Submission" [style]="{'font-size':'12px', 'width':'75%'}" >
        <p-table [value]="timeWorkPlanQuestionnaire" *ngIf="timeWorkPlanQuestionnaire" [rowHover]="true" 
            styleClass="p-datatable-striped" sortMode="single" dataKey="questionSectionName">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5%; text-align: center;">#</th>
                        <th style="width: 45%;">Name (Question/Statement)</th>
                        <th style="width: 10%;">Score/Rating</th>
                        <th style="width: 25%;" *ngIf="hasComment(timeWorkPlanQuestionnaire)">Comment</th>
                        <th style="width: 7%;" *ngIf="hasDocument(timeWorkPlanQuestionnaire)">Evidence</th>
                        <th style="width: 8%;" colspan="4"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-question let-rowIndex="rowIndex" let-expanded="expanded">
                    <tr *ngIf="updateRowGroupMetaData(timeWorkPlanQuestionnaire)[question.questionSectionName].index === rowIndex">
                        <td [attr.colspan]="getColspan(timeWorkPlanQuestionnaire, 7)">
                            <button type="button" pButton pRipple [pRowToggler]="question" class="p-button-text p-button-rounded p-button-plain p-mr-2" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                            <span class="p-text-bold p-ml-2"><b>{{question.questionSectionName}}</b></span>
                            <div class="pull-right"><span class="{{'product-badge status-' + getStatus(timeWorkPlanQuestionnaire, question)}}">{{getStatusText(timeWorkPlanQuestionnaire, question)}}</span></div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-question let-rowIndex="rowIndex" >
                    <tr class="default-font">
                        <td style="text-align: center;">{{rowIndex + 1}}</td>
                        <td>{{question.questionName}}</td>
                        <td [pEditableColumn]="question" pEditableColumn>
                            <p-dropdown *ngIf="displayField(question)" [options]="getResponseOptions(question.responseTypeId)"
                                optionLabel="name" [(ngModel)]="question.responseOption" [ngModelOptions]="{standalone: true}"
                                placeholder="Select a Response" appendTo="body" [style]="{'width':'100%'}" 
                                (onChange)="onSaveResponse($event, question)" [disabled]="isEvaluationDisable"></p-dropdown>
                        </td>
                        <td [pEditableColumn]="question" pEditableColumn *ngIf="hasComment(timeWorkPlanQuestionnaire)">
                            <textarea class="form-text" *ngIf="question.hasComment" [rows]="1" pInputTextarea [(ngModel)]="question.comment" 
                            [ngModelOptions]="{standalone: true}" (change)="onSaveComment($event, question)" (keydown)="onInputCommentChange(question)" 
                            [autoResize]="true"   [disabled]="isEvaluationDisable"></textarea>
                        </td>
                        
                        <td style="text-align: center;">
                            <i *ngIf="displayField(question)" class="fa fa-circle {{getRagColour(question)}}" style="font-size: 1rem"></i>
                        </td>
                        <td style="text-align: center;">
                            <p-button *ngIf="displayField(question)" tooltipPosition="left" pTooltip="View History" 
                            (onClick)="onSelectViewHistory(question)" icon="pi pi-eye" class="action-button"></p-button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="default-font">
                        <td [attr.colspan]="getColspan(timeWorkPlanQuestionnaire, 7)" style="text-align: center;">No results found</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer" *ngIf="hasWeighting(timeWorkPlanQuestionnaire)">
                    <tr>
                        <td colspan="2"><span style="font-weight: bold;">Total Score</span></td>
                        <td [attr.colspan]="getColspan(timeWorkPlanQuestionnaire, 3)"><span style="font-weight: bold;">{{getAverageScoreTotal(timeWorkPlanQuestionnaire)}}</span></td>
                        <td colspan="2"></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="default-font">
                        <td [attr.colspan]="getColspan(timeWorkPlanQuestionnaire, 7)" style="text-align: center;">No results found</td>
                    </tr>
                </ng-template>
        </p-table>
    </p-panel>
    <div style="height: 10px;"></div>
</div>
<div>
    <p-panel header="Impact" [style]="{'font-size':'12px', 'width':'75%'}" >
        <p-table [value]="impactQuestionnaire" *ngIf="impactQuestionnaire" [rowHover]="true" 
            styleClass="p-datatable-striped" sortMode="single" dataKey="questionSectionName">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5%; text-align: center;">#</th>
                        <th style="width: 45%;">Name (Question/Statement)</th>
                        <th style="width: 10%;">Score/Rating</th>
                        <th style="width: 25%;" *ngIf="hasComment(impactQuestionnaire)">Comment</th>
                        <th style="width: 7%;" *ngIf="hasDocument(impactQuestionnaire)">Evidence</th>
                        <th style="width: 8%;" colspan="4"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-question let-rowIndex="rowIndex" let-expanded="expanded">
                    <tr *ngIf="updateRowGroupMetaData(impactQuestionnaire)[question.questionSectionName].index === rowIndex">
                        <td [attr.colspan]="getColspan(impactQuestionnaire, 7)">
                            <button type="button" pButton pRipple [pRowToggler]="question" class="p-button-text p-button-rounded p-button-plain p-mr-2" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                            <span class="p-text-bold p-ml-2"><b>{{question.questionSectionName}}</b></span>
                            <div class="pull-right"><span class="{{'product-badge status-' + getStatus(impactQuestionnaire, question)}}">{{getStatusText(impactQuestionnaire, question)}}</span></div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-question let-rowIndex="rowIndex" >
                    <tr class="default-font">
                        <td style="text-align: center;">{{rowIndex + 1}}</td>
                        <td>{{question.questionName}}</td>
                        <td [pEditableColumn]="question" pEditableColumn>
                            <p-dropdown *ngIf="displayField(question)" [options]="getResponseOptions(question.responseTypeId)"
                                optionLabel="name" [(ngModel)]="question.responseOption" [ngModelOptions]="{standalone: true}"
                                placeholder="Select a Response" appendTo="body" [style]="{'width':'100%'}" 
                                (onChange)="onSaveResponse($event, question)" [disabled]="isEvaluationDisable"></p-dropdown>
                        </td>
                        <td [pEditableColumn]="question" pEditableColumn *ngIf="hasComment(impactQuestionnaire)">
                            <textarea class="form-text" *ngIf="question.hasComment" [rows]="1" pInputTextarea [(ngModel)]="question.comment" 
                            [ngModelOptions]="{standalone: true}" (change)="onSaveComment($event, question)" (keydown)="onInputCommentChange(question)" 
                            [autoResize]="true"   [disabled]="isEvaluationDisable"></textarea>
                        </td>
                        
                        <td style="text-align: center;">
                            <i *ngIf="displayField(question)" class="fa fa-circle {{getRagColour(question)}}" style="font-size: 1rem"></i>
                        </td>
                        <td style="text-align: center;">
                            <p-button *ngIf="displayField(question)" tooltipPosition="left" pTooltip="View History" 
                            (onClick)="onSelectViewHistory(question)" icon="pi pi-eye" class="action-button"></p-button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="default-font">
                        <td [attr.colspan]="getColspan(impactQuestionnaire, 7)" style="text-align: center;">No results found</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer" *ngIf="hasWeighting(impactQuestionnaire)">
                    <tr>
                        <td colspan="2"><span style="font-weight: bold;">Total Score</span></td>
                        <td [attr.colspan]="getColspan(impactQuestionnaire, 3)"><span style="font-weight: bold;">{{getAverageScoreTotal(impactQuestionnaire)}}</span></td>
                        <td colspan="2"></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="default-font">
                        <td [attr.colspan]="getColspan(impactQuestionnaire, 7)" style="text-align: center;">No results found</td>
                    </tr>
                </ng-template>
        </p-table>
    </p-panel>
    <div style="height: 10px;"></div>
</div>
<div>
    <p-panel header="Risk Mitigation" [style]="{'font-size':'12px', 'width':'75%'}" >
        <p-table [value]="riskMitigationQuestionnaire" *ngIf="riskMitigationQuestionnaire" [rowHover]="true" 
            styleClass="p-datatable-striped" sortMode="single" dataKey="questionSectionName">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5%; text-align: center;">#</th>
                        <th style="width: 45%;">Name (Question/Statement)</th>
                        <th style="width: 10%;">Score/Rating</th>
                        <th style="width: 25%;" *ngIf="hasComment(riskMitigationQuestionnaire)">Comment</th>
                        <th style="width: 7%;" *ngIf="hasDocument(riskMitigationQuestionnaire)">Evidence</th>
                        <th style="width: 8%;" colspan="4"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-question let-rowIndex="rowIndex" let-expanded="expanded">
                    <tr *ngIf="updateRowGroupMetaData(riskMitigationQuestionnaire)[question.questionSectionName].index === rowIndex">
                        <td [attr.colspan]="getColspan(riskMitigationQuestionnaire, 7)">
                            <button type="button" pButton pRipple [pRowToggler]="question" class="p-button-text p-button-rounded p-button-plain p-mr-2" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                            <span class="p-text-bold p-ml-2"><b>{{question.questionSectionName}}</b></span>
                            <div class="pull-right"><span class="{{'product-badge status-' + getStatus(riskMitigationQuestionnaire, question)}}">{{getStatusText(riskMitigationQuestionnaire, question)}}</span></div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-question let-rowIndex="rowIndex" >
                    <tr class="default-font">
                        <td style="text-align: center;">{{rowIndex + 1}}</td>
                        <td>{{question.questionName}}</td>
                        <td [pEditableColumn]="question" pEditableColumn>
                            <p-dropdown *ngIf="displayField(question)" [options]="getResponseOptions(question.responseTypeId)"
                                optionLabel="name" [(ngModel)]="question.responseOption" [ngModelOptions]="{standalone: true}"
                                placeholder="Select a Response" appendTo="body" [style]="{'width':'100%'}" 
                                (onChange)="onSaveResponse($event, question)" [disabled]="isEvaluationDisable"></p-dropdown>
                        </td>
                        <td [pEditableColumn]="question" pEditableColumn *ngIf="hasComment(riskMitigationQuestionnaire)">
                            <textarea class="form-text" *ngIf="question.hasComment" [rows]="1" pInputTextarea [(ngModel)]="question.comment" 
                            [ngModelOptions]="{standalone: true}" (change)="onSaveComment($event, question)" (keydown)="onInputCommentChange(question)" 
                            [autoResize]="true"   [disabled]="isEvaluationDisable"></textarea>
                        </td>
                        
                        <td style="text-align: center;">
                            <i *ngIf="displayField(question)" class="fa fa-circle {{getRagColour(question)}}" style="font-size: 1rem"></i>
                        </td>
                        <td style="text-align: center;">
                            <p-button *ngIf="displayField(question)" tooltipPosition="left" pTooltip="View History" 
                            (onClick)="onSelectViewHistory(question)" icon="pi pi-eye" class="action-button"></p-button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="default-font">
                        <td [attr.colspan]="getColspan(riskMitigationQuestionnaire, 7)" style="text-align: center;">No results found</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer" *ngIf="hasWeighting(riskMitigationQuestionnaire)">
                    <tr>
                        <td colspan="2"><span style="font-weight: bold;">Total Score</span></td>
                        <td [attr.colspan]="getColspan(riskMitigationQuestionnaire, 3)"><span style="font-weight: bold;">{{getAverageScoreTotal(riskMitigationQuestionnaire)}}</span></td>
                        <td colspan="2"></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="default-font">
                        <td [attr.colspan]="getColspan(riskMitigationQuestionnaire, 7)" style="text-align: center;">No results found</td>
                    </tr>
                </ng-template>
        </p-table>
    </p-panel>
    <div style="height: 10px;"></div>
</div>
<div>
    <p-panel header="Appropriation of Resources" [style]="{'font-size':'12px', 'width':'75%'}" >
        <p-table [value]="appropriationOfResourcesQuestionnaire" *ngIf="appropriationOfResourcesQuestionnaire" [rowHover]="true" 
            styleClass="p-datatable-striped" sortMode="single" dataKey="questionSectionName">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5%; text-align: center;">#</th>
                        <th style="width: 45%;">Name (Question/Statement)</th>
                        <th style="width: 10%;">Score/Rating</th>
                        <th style="width: 25%;" *ngIf="hasComment(appropriationOfResourcesQuestionnaire)">Comment</th>
                        <th style="width: 7%;" *ngIf="hasDocument(appropriationOfResourcesQuestionnaire)">Evidence</th>
                        <th style="width: 8%;" colspan="4"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-question let-rowIndex="rowIndex" let-expanded="expanded">
                    <tr *ngIf="updateRowGroupMetaData(appropriationOfResourcesQuestionnaire)[question.questionSectionName].index === rowIndex">
                        <td [attr.colspan]="getColspan(appropriationOfResourcesQuestionnaire, 7)">
                            <button type="button" pButton pRipple [pRowToggler]="question" class="p-button-text p-button-rounded p-button-plain p-mr-2" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                            <span class="p-text-bold p-ml-2"><b>{{question.questionSectionName}}</b></span>
                            <div class="pull-right"><span class="{{'product-badge status-' + getStatus(appropriationOfResourcesQuestionnaire, question)}}">{{getStatusText(appropriationOfResourcesQuestionnaire, question)}}</span></div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-question let-rowIndex="rowIndex" >
                    <tr class="default-font">
                        <td style="text-align: center;">{{rowIndex + 1}}</td>
                        <td>{{question.questionName}}</td>
                        <td [pEditableColumn]="question" pEditableColumn>
                            <p-dropdown *ngIf="displayField(question)" [options]="getResponseOptions(question.responseTypeId)"
                                optionLabel="name" [(ngModel)]="question.responseOption" [ngModelOptions]="{standalone: true}"
                                placeholder="Select a Response" appendTo="body" [style]="{'width':'100%'}" 
                                (onChange)="onSaveResponse($event, question)" [disabled]="isEvaluationDisable"></p-dropdown>
                        </td>
                        <td [pEditableColumn]="question" pEditableColumn *ngIf="hasComment(appropriationOfResourcesQuestionnaire)">
                            <textarea class="form-text" *ngIf="question.hasComment" [rows]="1" pInputTextarea [(ngModel)]="question.comment" 
                            [ngModelOptions]="{standalone: true}" (change)="onSaveComment($event, question)" (keydown)="onInputCommentChange(question)" 
                            [autoResize]="true"   [disabled]="isEvaluationDisable"></textarea>
                        </td>
                        
                        <td style="text-align: center;">
                            <i *ngIf="displayField(question)" class="fa fa-circle {{getRagColour(question)}}" style="font-size: 1rem"></i>
                        </td>
                        <td style="text-align: center;">
                            <p-button *ngIf="displayField(question)" tooltipPosition="left" pTooltip="View History" 
                            (onClick)="onSelectViewHistory(question)" icon="pi pi-eye" class="action-button"></p-button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="default-font">
                        <td [attr.colspan]="getColspan(appropriationOfResourcesQuestionnaire, 7)" style="text-align: center;">No results found</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer" *ngIf="hasWeighting(appropriationOfResourcesQuestionnaire)">
                    <tr>
                        <td colspan="2"><span style="font-weight: bold;">Total Score</span></td>
                        <td [attr.colspan]="getColspan(appropriationOfResourcesQuestionnaire, 3)"><span style="font-weight: bold;">{{getAverageScoreTotal(appropriationOfResourcesQuestionnaire)}}</span></td>
                        <td colspan="2"></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="default-font">
                        <td [attr.colspan]="getColspan(appropriationOfResourcesQuestionnaire, 7)" style="text-align: center;">No results found</td>
                    </tr>
                </ng-template>
        </p-table>
    </p-panel>
    <div style="height: 10px;"></div>
</div>
<div style="height: 10px;"></div>   
    <div>
        <p-table [rowHover]="true" [value]="filteredWorkplanIndicators" styleClass="p-datatable-sm" [columns]="scrollableCols" [frozenColumns]="frozenCols" [scrollable]="true" frozenWidth="55%">
            <!-- <ng-template pTemplate="frozencolgroup" let-columns>
                <colgroup>
                    <col style="width: 5%;">
                    <col style="width: 35%;">
                    <col style="width: 15%;">
                </colgroup>
            </ng-template> -->
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <!-- <col style="width: 100px;">
                    <col style="width: 100px;">
                    <col style="width: 100px;">
                    <col style="width: 100px;">
                    <col style="width: 100px;">
                    <col style="width: 100px;">
                    <col style="width: 100px;">
                    <col style="width: 100px;">
                    <col style="width: 100px;">
                    <col style="width: 100px;">
                    <col style="width: 100px;">
                    <col style="width: 100px;">
                    <col style="width: 100px;">
                    <col style="width: 100px;">
                    <col style="width: 100px;">
                    <col style="width: 100px;">
                    <col style="width: 100px;">
                    <col style="width: 100px;">
                    <col style="width: 100px;">
                    <col style="width: 100px;">
                    <col style="width: 100px;">
                    <col style="width: 100px;">
                    <col style="width: 100px;">-->
                    <col style="width: 100px;"> 
                    <col style="width: 100px;">
                    <col style="width: 100px;">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="frozenheader" let-columns>
                <tr style="border-bottom: hidden;">
                    <th style="text-align: center;">Activity</th>
                    <th style="text-align: center;">Indicator</th>
                </tr>
                <tr>
                    <th style="text-align: center;">&nbsp;</th>
                    <th style="text-align: center;">&nbsp;</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <!-- <th colspan="2" style="text-align: center;">April</th>
                    <th colspan="2" style="text-align: center;">May</th>
                    <th colspan="2" style="text-align: center;">June</th>
                    <th colspan="2" style="text-align: center;">July</th>
                    <th colspan="2" style="text-align: center;">August</th>
                    <th colspan="2" style="text-align: center;">September</th>
                    <th colspan="2" style="text-align: center;">October</th>
                    <th colspan="2" style="text-align: center;">November</th>
                    <th colspan="2" style="text-align: center;">December</th>
                    <th colspan="2" style="text-align: center;">January</th>
                    <th colspan="2" style="text-align: center;">February</th> -->
                    <th colspan="2" style="text-align: center;">March</th>
                    <th colspan="2" style="text-align: center;">Total</th>
                </tr>
                <tr>
                    <!-- <th colspan="1" style="text-align: center;">Target</th>
                    <th colspan="1" style="text-align: center;">Actual</th>
                    <th colspan="1" style="text-align: center;">Target</th>
                    <th colspan="1" style="text-align: center;">Actual</th>
                    <th colspan="1" style="text-align: center;">Target</th>
                    <th colspan="1" style="text-align: center;">Actual</th>
                    <th colspan="1" style="text-align: center;">Target</th>
                    <th colspan="1" style="text-align: center;">Actual</th>
                    <th colspan="1" style="text-align: center;">Target</th>
                    <th colspan="1" style="text-align: center;">Actual</th>
                    <th colspan="1" style="text-align: center;">Target</th>
                    <th colspan="1" style="text-align: center;">Actual</th>
                    <th colspan="1" style="text-align: center;">Target</th>
                    <th colspan="1" style="text-align: center;">Actual</th>
                    <th colspan="1" style="text-align: center;">Target</th>
                    <th colspan="1" style="text-align: center;">Actual</th>
                    <th colspan="1" style="text-align: center;">Target</th>
                    <th colspan="1" style="text-align: center;">Actual</th>
                    <th colspan="1" style="text-align: center;">Target</th>
                    <th colspan="1" style="text-align: center;">Actual</th>
                    <th colspan="1" style="text-align: center;">Target</th>
                    <th colspan="1" style="text-align: center;">Actual</th>
                    <th colspan="1" style="text-align: center;">Target</th>-->
                    <th colspan="1" style="text-align: center;">Actual</th> 
                    <th colspan="1" style="text-align: center;">Target</th>
                    <th colspan="1" style="text-align: center;">Actual YTD</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="frozenbody" let-rowData let-rowIndex="rowIndex">
                <tr class="default-font">
                    <td style="text-align: center;">{{rowIndex + 1}}</td>
                    <td>{{rowData.activity.activityList.description}}</td>
                    <td>{{rowData.activity.successIndicator}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr class="default-font">
                    <!-- April targets and actuals -->
                    <td style="text-align: center;">
                        <span *ngIf="rowData.workplanTargets[0] && rowData.workplanTargets[0].frequencyId === FrequencyEnum.Monthly">
                            {{rowData.workplanTargets[0].apr}}
                        </span>
                    </td>
                    <td style="text-align: center;">
                        <span *ngIf="rowData.workplanActuals[0] && rowData.workplanActuals[0].frequencyPeriodId === FrequencyPeriodEnum.Apr">
                            {{rowData.workplanActuals[0].actual}}
                        </span>
                    </td>

                    <!-- May targets and actuals -->
                    <td style="text-align: center;">
                        <span *ngIf="rowData.workplanTargets[0] && rowData.workplanTargets[0].frequencyId === FrequencyEnum.Monthly">
                            {{rowData.workplanTargets[0].may}}
                        </span>
                    </td>
                    <td style="text-align: center;">
                        <span *ngIf="rowData.workplanActuals[1] && rowData.workplanActuals[1].frequencyPeriodId === FrequencyPeriodEnum.May">
                            {{rowData.workplanActuals[1].actual}}
                        </span>
                    </td>

                    <!-- June and Quarter 1 targets and actuals -->
                    <td style="text-align: center;">
                        <span *ngIf="rowData.workplanTargets[0] && rowData.workplanTargets[0].frequencyId === FrequencyEnum.Monthly">
                            {{rowData.workplanTargets[0].jun}}
                        </span>
                        <!-- <span *ngIf="rowData.workplanTarget.frequency.id === FrequencyEnum.Quarterly">
                            {{rowData.workplanTarget.quarter1}}
                        </span> -->
                    </td>
                    <td style="text-align: center;">
                        <span *ngIf="rowData.workplanActuals[2] && rowData.workplanActuals[2].frequencyPeriodId === FrequencyPeriodEnum.Jun">
                            {{rowData.workplanActuals[2].actual}}
                        </span>
                        <!-- <span *ngIf="rowData.workplanActuals[0] && rowData.workplanActuals[0].frequencyPeriod.id === FrequencyPeriodEnum.Q1">
                            {{rowData.workplanActuals[0].actual}}
                        </span> -->
                    </td>

                    <!-- July targets and actuals -->
                    <td style="text-align: center;">
                        <span *ngIf="rowData.workplanTargets[0] && rowData.workplanTargets[0].frequencyId === FrequencyEnum.Monthly">
                            {{rowData.workplanTargets[0].jul}}
                        </span>
                    </td>
                    <td style="text-align: center;">
                        <span *ngIf="rowData.workplanActuals[3] && rowData.workplanActuals[3].frequencyPeriodId === FrequencyPeriodEnum.Jul">
                            {{rowData.workplanActuals[3].actual}}
                        </span>
                    </td>

                    <!-- August targets and actuals -->
                    <td style="text-align: center;">
                        <span *ngIf="rowData.workplanTargets[0] && rowData.workplanTargets[0].frequencyId === FrequencyEnum.Monthly">
                            {{rowData.workplanTargets[0].aug}}
                        </span>
                    </td>
                    <td style="text-align: center;">
                        <span *ngIf="rowData.workplanActuals[4] && rowData.workplanActuals[4].frequencyPeriodId === FrequencyPeriodEnum.Aug">
                            {{rowData.workplanActuals[4].actual}}
                        </span>
                    </td>

                    <!-- September and Quarter 2 targets and actuals -->
                    <td style="text-align: center;">
                        <span *ngIf="rowData.workplanTargets[0] && rowData.workplanTargets[0].frequencyId === FrequencyEnum.Monthly">
                            {{rowData.workplanTargets[0].sep}}
                        </span>
                        <!-- <span *ngIf="rowData.workplanTarget.frequency.id === FrequencyEnum.Quarterly">
                            {{rowData.workplanTarget.quarter2}}
                        </span> -->
                    </td>
                    <td style="text-align: center;">
                        <span *ngIf="rowData.workplanActuals[5] && rowData.workplanActuals[5].frequencyPeriodId === FrequencyPeriodEnum.Sep">
                            {{rowData.workplanActuals[5].actual}}
                        </span>
                        <!-- <span *ngIf="rowData.workplanActuals[1] && rowData.workplanActuals[1].frequencyPeriod.id === FrequencyPeriodEnum.Q2">
                            {{rowData.workplanActuals[1].actual}}
                        </span> -->
                    </td>

                    <!-- October targets and actuals -->
                    <td style="text-align: center;">
                        <span *ngIf="rowData.workplanTargets[0] && rowData.workplanTargets[0].frequencyId === FrequencyEnum.Monthly">
                            {{rowData.workplanTargets[0].oct}}
                        </span>
                    </td>
                    <td style="text-align: center;">
                        <span *ngIf="rowData.workplanActuals[6] && rowData.workplanActuals[6].frequencyPeriodId === FrequencyPeriodEnum.Oct">
                            {{rowData.workplanActuals[6].actual}}
                        </span>
                    </td>

                    <!-- November targets and actuals -->
                    <td style="text-align: center;">
                        <span *ngIf="rowData.workplanTargets[0] && rowData.workplanTargets[0].frequencyId === FrequencyEnum.Monthly">
                            {{rowData.workplanTargets[0].nov}}
                        </span>
                    </td>
                    <td style="text-align: center;">
                        <span *ngIf="rowData.workplanActuals[7] && rowData.workplanActuals[7].frequencyPeriodId === FrequencyPeriodEnum.Nov">
                            {{rowData.workplanActuals[7].actual}}
                        </span>
                    </td>

                    <!-- December and Quarter 3 targets and actuals -->
                    <td style="text-align: center;">
                        <span *ngIf="rowData.workplanTargets[0] && rowData.workplanTargets[0].frequencyId === FrequencyEnum.Monthly">
                            {{rowData.workplanTargets[0].dec}}
                        </span>
                        <!-- <span *ngIf="rowData.workplanTarget.frequency.id === FrequencyEnum.Quarterly">
                            {{rowData.workplanTarget.quarter3}}
                        </span> -->
                    </td>
                    <td style="text-align: center;">
                        <span *ngIf="rowData.workplanActuals[8] && rowData.workplanActuals[8].frequencyPeriodId === FrequencyPeriodEnum.Dec">
                            {{rowData.workplanActuals[8].actual}}
                        </span>
                        <!-- <span *ngIf="rowData.workplanActuals[2] && rowData.workplanActuals[2].frequencyPeriod.id === FrequencyPeriodEnum.Q3">
                            {{rowData.workplanActuals[2].actual}}
                        </span> -->
                    </td>

                    <!-- January targets and actuals -->
                    <td style="text-align: center;">
                        <span *ngIf="rowData.workplanTargets[0] && rowData.workplanTargets[0].frequencyId === FrequencyEnum.Monthly">
                            {{rowData.workplanTargets[0].jan}}
                        </span>
                    </td>
                    <td style="text-align: center;">
                        <span *ngIf="rowData.workplanActuals[9] && rowData.workplanActuals[9].frequencyPeriodId === FrequencyPeriodEnum.Jan">
                            {{rowData.workplanActuals[9].actual}}
                        </span>
                    </td>

                    <!-- February targets and actuals -->
                    <td style="text-align: center;">
                        <span *ngIf="rowData.workplanTargets[0] && rowData.workplanTargets[0].frequencyId === FrequencyEnum.Monthly">
                            {{rowData.workplanTargets[0].feb}}
                        </span>
                    </td>
                    <td style="text-align: center;">
                        <span *ngIf="rowData.workplanActuals[10] && rowData.workplanActuals[10].frequencyPeriodId === FrequencyPeriodEnum.Feb">
                            {{rowData.workplanActuals[10].actual}}
                        </span>
                    </td>

                    <!-- Annual, March and Quarter 4 targets and actuals -->
                    <td style="text-align: center;">
                        <!-- <span *ngIf="rowData.workplanTarget.frequency.id === FrequencyEnum.Annually">
                            {{rowData.workplanTarget.annual}}
                        </span> -->
                        <span *ngIf="rowData.workplanTargets[0] && rowData.workplanTargets[0].frequencyId === FrequencyEnum.Monthly">
                            {{rowData.workplanTargets[0].mar}}
                        </span>
                        <!-- <span *ngIf="rowData.workplanTarget.frequency.id === FrequencyEnum.Quarterly">
                            {{rowData.workplanTarget.quarter4}}
                        </span> -->
                    </td>
                    <td style="text-align: center;">
                        <!-- <span *ngIf="rowData.workplanActuals[0] && rowData.workplanActuals[0].frequencyPeriod.id === FrequencyPeriodEnum.Annual">
                            {{rowData.workplanActuals[0].actual}}
                        </span> -->
                        <span *ngIf="rowData.workplanActuals[11] && rowData.workplanActuals[11].frequencyPeriodId === FrequencyPeriodEnum.Mar">
                            {{rowData.workplanActuals[11].actual}}
                        </span>
                        <!-- <span *ngIf="rowData.workplanActuals[3] && rowData.workplanActuals[3].frequencyPeriod.id === FrequencyPeriodEnum.Q4">
                            {{rowData.workplanActuals[3].actual}}
                        </span> -->
                    </td>
                    <td>{{rowData.totalTargets}}</td>
                    <td>{{rowData.totalActuals}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr class="default-font">
                    <td colspan="28" style="text-align: center;">No results found</td>
                </tr>
            </ng-template>
        </p-table>
    </div>     

<p-dialog header="Audit History" [(visible)]="displayHistory" [style]="{width: '50vw'}" [focusOnShow]="false"
    showEffect="fade" [transitionOptions]="'0ms'" [modal]="true">
    <p-table [rowHover]="true" [style]="{'border':'none'}" [columns]="auditCols" [paginator]="true" [rows]="10"
        [value]="applicationAudits" styleClass="p-datatable-sm" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr class="default-font">
                <td style="text-align: center;">{{rowIndex + 1}}</td>
                <td>{{rowData.status.name}}</td>
                <td>{{rowData.createdUser.fullName}}</td>
                <td>{{rowData.createdDateTime | date: 'yyyy-MM-dd'}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>

