.default-font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px !important;
}

.action-button {
    height: 25px;
    width: 25px;
}

.form-label {
    width: 25%;
    text-align: right;
    align-self: center;
}

.mandatory-content::after {
    content: "*";
    color: rgb(195, 17, 47);
}

.mandatory-content, .non-mandatory-content {
    font-size: 12px;
}

.form-text {
    width: 100%;
}

table.display {
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
}