<p-table [columns]="cols" [value]="financialMattersIncome">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="text-align:center">
        Income
      </th>
    </tr>
  </ng-template>
</p-table>
<p-table [columns]="cols" [value]="financialMattersIncome" selectionMode="single"
  [(selection)]="selectedFinancialMatter" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-financialMattersIncome let-rowData let-columns="columns">
    <tr [pSelectableRow]="financialMattersIncome">
      <td>{{financialMattersIncome.property}}</td>
      <td>{{financialMattersIncome.subProperty}}</td>
      <td>{{financialMattersIncome.amountOne}}</td>
      <td>{{financialMattersIncome.amountTwo}}</td>
      <td>{{financialMattersIncome.amountThree}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <ng-container *ngIf="displayIncomeTotal">
      <div style="margin-left:0">
        <table border="0" cellpadding="10" width="100%">
          <tr>
            <td>Total</td>
            <td></td>
            <td><input type="text" [(ngModel)]="calculatedFinMattersIncome.totalOne" readonly="readonly"
                [disabled]="readonly()" /></td>
            <td><input type="text" [(ngModel)]="calculatedFinMattersIncome.totalTwo" readonly="readonly"
                [disabled]="readonly()" /></td>
            <td><input type="text" [(ngModel)]="calculatedFinMattersIncome.totalThree" readonly="readonly"
                [disabled]="readonly()" /></td>
          </tr>
        </table>
      </div>
    </ng-container>
    <div style="text-align:right;">
      <button pButton pRipple type="button" icon="pi pi-plus" label="Add" (click)="showDialogAddFin('income')"
        [disabled]="readonly()"></button>
    </div>
  </ng-template>

</p-table>
<!-- Expenditure -->
<p-table [columns]="cols" [value]="financialMattersExpenditure">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="text-align:center">
        Expenditure
      </th>
    </tr>
  </ng-template>
</p-table>
<p-table [columns]="cols" [value]="financialMattersExpenditure" selectionMode="single"
  [(selection)]="selectedFinancialMatter" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-financialMattersExpenditure>
    <tr [pSelectableRow]="financialMattersExpenditure">
      <td>{{financialMattersExpenditure.property}}</td>
      <td>{{financialMattersExpenditure.subProperty}}</td>
      <td>{{financialMattersExpenditure.amountOne}}</td>
      <td>{{financialMattersExpenditure.amountTwo}}</td>
      <td>{{financialMattersExpenditure.amountThree}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <ng-container *ngIf="displayExpenditureTotal">
      <div style="margin-left:0">
        <table border="0" cellpadding="10" width="100%">
          <tr>
            <td>Total</td>
            <td></td>
            <td><input type="text" [(ngModel)]="calculatedExpenditureFinMatters.totalOne" readonly="readonly"
                [disabled]="readonly()" /></td>
            <td><input type="text" [(ngModel)]="calculatedExpenditureFinMatters.totalTwo" readonly="readonly"
                [disabled]="readonly()" /></td>
            <td><input type="text" [(ngModel)]="calculatedExpenditureFinMatters.totalThree" readonly="readonly"
                [disabled]="readonly()" /></td>
          </tr>
        </table>
      </div>
    </ng-container>
    <div style="text-align:right;">
      <button pButton pRipple type="button" icon="pi pi-plus" label="Add" (click)="showDialogAddFin('expenditure')"
        [disabled]="readonly()"></button>
    </div>

  </ng-template>
</p-table>


<p-dialog header="Financial Matters" [(visible)]="displayDialogAddFin" [focusOnShow]="false" [responsive]="true"
  showEffect="fade" [modal]="true" [style]="{width: '45vw'}">
  <div class="p-grid ui-fluid">
    <div class="p-col-4">
      <label for="property">Property<span class="bid-required">*</span></label>
    </div>


    <div class="p-col-6">
      <p-dropdown [options]="propertyTypes" [(ngModel)]="selectedPropertyTypes" [style]="{'width':'100%'}"
        optionLabel="name" (onChange)="propertyTypeChange($event.value)" [ngModelOptions]="{standalone: true}"
        [disabled]="readonly()"></p-dropdown>
    </div>
    <div class="p-col-4">
      <label for="subProperty">Sub Property<span class="bid-required">*</span></label>
    </div>
    <div class="p-col-6">
      <p-dropdown [options]="propertySubtypes" [(ngModel)]="selectedPropertySubtypes" [style]="{'width':'100%'}"
        optionLabel="name" [ngModelOptions]="{standalone: true}" [disabled]="readonly()"></p-dropdown>
    </div>
    <div class="p-col-4">
      <label for="amountOne">Year 1 Amount <span class="bid-required">*</span></label>
    </div>
    <div class="p-col-6">
      <input type="text" pInputText pKeyFilter="int" [(ngModel)]="financialmatter.amountOne" [disabled]="readonly()" />

    </div>
    <div class="p-col-4">
      <label for="amountTwo">Year 2 Amount <span class="bid-required">*</span></label>

    </div>
    <div class="p-col-6">
      <input type="text" pInputText pKeyFilter="int" [(ngModel)]="financialmatter.amountTwo" [disabled]="readonly()" />

    </div>
    <div class="p-col-4">
      <label for="amountThree">Year 3 Amount <span class="bid-required">*</span></label>
    </div>
    <div class="p-col-6">
      <input type="text" pInputText pKeyFilter="int" [(ngModel)]="financialmatter.amountThree"
        [disabled]="readonly()" />

    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check" (click)="saveAddFun()" label="Save"
        [disabled]="readonly()"></button>
      <button type="button" pButton icon="fa fa-times" (click)="closeDialogAddFin()" label="Close"
        class="ui-button-info" [disabled]="readonly()"></button>
    </div>
  </p-footer>
</p-dialog>

<div style="height: 10px;"></div>
<div class="p-grid p-nogutter p-justify-between">
  <p-button label="Back" (onClick)="prevPage()" icon="fa fa-angle-left"></p-button>
  <p-button label="Next" (onClick)="nextPage()" icon="fa fa-angle-right" iconPos="right"></p-button>
</div>