<p-toast></p-toast>
<p-panel [toggleable]="false" [style]="{'font-size':'12px'}" header="List of Submissions">
    <div class="p-grid">
        <div class="p-col-fixed">

        </div>
        <div class="p-col">
          <div class="p-d-flex">
            <span class="p-input-icon-left p-ml-auto">
                <i class="fa fa-search"></i>
                <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search Keyword" />
            </span>
          </div>
        </div>
    </div>
    <p-table [rowHover]="true" #dt [style]="{'border':'none'}" sortMode="multiple" [columns]="cols" [paginator]="true" 
    [rows]="10" [value]="allApplications" *ngIf="allApplications" [showCurrentPageReport]="true" 
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" 
    [globalFilterFields]="['refNo','npo.name','applicationPeriod.applicationType.name',
    'applicationPeriod.subProgramme.name','applicationPeriod.financialYear.name', 
    'applicationPeriod.closingDate', 'status.name']">
        <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width: 5%;" *ngIf="IsAuthorized(PermissionsEnum.ViewOptions) && canShowOptions">Options</th>
              <th style="width: 5%;"></th>
              <th *ngFor="let col of columns" [ngStyle]="{'width': col.width}" [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" 
                  ariaLabelDesc="Activate to sort in descending order" 
                  ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
              <th style="width: 5%;">Actions</th>
            </tr>
            <tr>
                <th *ngIf="IsAuthorized(PermissionsEnum.ViewOptions) && canShowOptions"></th>
                <th></th>
                <th><p-columnFilter type="text" field="refNo"></p-columnFilter></th>
                <th><p-columnFilter type="text" field="npo.name"></p-columnFilter></th>
                <th><p-columnFilter type="text" field="applicationPeriod.applicationType.name"></p-columnFilter></th>
                <th><p-columnFilter type="text" field="applicationPeriod.name"></p-columnFilter></th>
                <th><p-columnFilter type="text" field="applicationPeriod.subProgramme.name"></p-columnFilter></th>
                <th><p-columnFilter type="text" field="applicationPeriod.financialYear.name"></p-columnFilter></th>
                <th><p-columnFilter type="text" field="applicationPeriod.closingDate"></p-columnFilter></th>
                <th><p-columnFilter type="text" field="status.name"></p-columnFilter></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr class="default-font">
                <td style="text-align: center;" *ngIf="IsAuthorized(PermissionsEnum.ViewOptions) && canShowOptions">
                    <button pButton pRipple type="button" class="p-button-text action-button" icon="fa fa-bars" 
                    (click)="selectedApplication=rowData; menu.toggle($event)" pTooltip="Options" tooltipPosition="right" 
                    *ngIf="IsAuthorized(PermissionsEnum.ViewOptions) && rowData.statusId === StatusEnum.AcceptedSLA"></button>
                    <p-menu #menu [popup]="true" [model]="optionItems" appendTo="body"></p-menu>
                </td>
                <td style="text-align: center;">{{rowIndex + 1}}</td>
                <td *ngFor="let col of columns">
                    <span>{{getCellData(rowData, col)}}</span>
                </td>
                <td style="text-align: center;">
                    <button pButton pRipple type="button" class="p-button-text action-button" icon="fa fa-bars" (click)="selectedApplication=rowData; menu.toggle($event); updateButtonItems();" pTooltip="Actions" tooltipPosition="left"></button>
                    <p-menu #menu [popup]="true" [model]="buttonItems" appendTo="body"></p-menu>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr class="default-font">
                <td colspan="10" style="text-align: center;" *ngIf="!IsAuthorized(PermissionsEnum.ViewOptions)">No results found</td>
                <td colspan="11" style="text-align: center;" *ngIf="IsAuthorized(PermissionsEnum.ViewOptions)">No results found</td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>

<div class="content-section implementation">
    <p-confirmDialog #cd header="Confirmation" [style]="{width: '30vw'}" icon="pi pi-exclamation-triangle">
        <p-footer>
            <button type="button" pButton icon="pi pi-check" class="ui-button-info" label="Yes" (click)="cd.accept()"></button>
            <button type="button" pButton icon="pi pi-times" class="ui-button-info" label="No" (click)="cd.reject()"></button>
        </p-footer>
    </p-confirmDialog>
</div>