<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-spin-clockwise">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<p-panel [toggleable]="false" [style]="{'font-size':'12px'}" header="List of Applications">
    <div class="p-grid">
        <div class="p-col-fixed">

        </div>
        <div class="p-col">
          <div class="p-d-flex">
            <span class="p-input-icon-left p-ml-auto">
                <i class="fa fa-search"></i>
                <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search Keyword" />
            </span>
          </div>
        </div>
    </div>
    <p-table #dt [style]="{'border':'none'}" [columns]="cols" [paginator]="true" [rows]="10" [value]="allApplications" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="['refNo','npo.name','applicationPeriod.applicationType.name','status.name']">
        <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width: 5%;" *ngIf="IsAuthorized(PermissionsEnum.ViewAcceptedApplication)"></th>
              <th style="width: 5%;"></th>
              <th *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                  {{col.header}}
              </th>
              <th style="width: 5%;">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr class="default-font">
                <td style="text-align: center;" *ngIf="IsAuthorized(PermissionsEnum.ViewAcceptedApplication)">
                    <button pButton pRipple type="button" class="p-button-text action-button" icon="fa fa-ellipsis-v" (click)="selectedApplication = rowData; menu.toggle($event)" pTooltip="Options" tooltipPosition="right" *ngIf="IsAuthorized(PermissionsEnum.ViewAcceptedApplication) && rowData.statusId === StatusEnum.AcceptedSLA"></button>
                    <p-menu #menu [popup]="true" [model]="buttonItems" appendTo="body"></p-menu>
                </td>
                <td style="text-align: center;">{{rowIndex + 1}}</td>
                <td *ngFor="let col of columns">
                    <span>{{getCellData(rowData, col)}}</span>
                </td>
                <td style="text-align: center;">
                    <button pButton pRipple type="button" class="p-button-text action-button" icon="fa fa-pencil-square-o" (click)="edit(rowData)" pTooltip="Edit Application" tooltipPosition="left" *ngIf="IsAuthorized(PermissionsEnum.EditApplication) && rowData.applicationPeriod.status == 'Open' && (rowData.statusId === StatusEnum.Saved || rowData.statusId === StatusEnum.AmendmentsRequired)"></button>
                    <button pButton pRipple type="button" class="p-button-text action-button" icon="fa fa-pencil-square-o" (click)="review(rowData)" pTooltip="Review Application" tooltipPosition="left" *ngIf="IsAuthorized(PermissionsEnum.ReviewApplication) && rowData.statusId === StatusEnum.PendingReview"></button>
                    <button pButton pRipple type="button" class="p-button-text action-button" icon="fa fa-pencil-square-o" (click)="approve(rowData)" pTooltip="Approve Application" tooltipPosition="left" *ngIf="IsAuthorized(PermissionsEnum.ApproveApplication) && (rowData.statusId === StatusEnum.PendingApproval || rowData.statusId === StatusEnum.ApprovalInProgress)"></button>
                    <button pButton pRipple type="button" class="p-button-text action-button" icon="fa fa-pencil-square-o" (click)="uploadSLA(rowData)" pTooltip="Upload SLA" tooltipPosition="left" *ngIf="IsAuthorized(PermissionsEnum.UploadSLA) && (rowData.statusId === StatusEnum.PendingSLA || rowData.statusId === StatusEnum.PendingSignedSLA || rowData.statusId === StatusEnum.DeptComments || rowData.statusId === StatusEnum.OrgComments)"></button>
                    <button pButton pRipple type="button" class="p-button-text action-button" icon="fa fa-file-text-o" (click)="view(rowData)" pTooltip="View Application" tooltipPosition="left" *ngIf="IsAuthorized(PermissionsEnum.ViewAcceptedApplication) && rowData.statusId === StatusEnum.AcceptedSLA"></button>                    
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7" style="text-align: center;">No results found</td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>