<p-toast></p-toast>
<p-panel [toggleable]="false" [style]="{'font-size':'12px'}" header="List of Submissions">
    <div class="p-grid">
        <div class="p-col-fixed">

        </div>
        <div class="p-col">
          <div class="p-d-flex">
            <span class="p-input-icon-left p-ml-auto">
                <i class="fa fa-search"></i>
                <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search Keyword" />
            </span>
          </div>
        </div>
    </div>
    <p-table [rowHover]="true" #dt [style]="{'border':'none'}" sortMode="multiple" [columns]="cols" [paginator]="true" 
    [rows]="10" [value]="allApplications" *ngIf="allApplications" [showCurrentPageReport]="true" 
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" 
    [globalFilterFields]="['refNo','npo.name','applicationPeriod.applicationType.name',
    'applicationPeriod.subProgramme.name','applicationPeriod.financialYear.name', 
    'applicationPeriod.closingDate', 'status.name']">
        <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width: 5%;" *ngIf="IsAuthorized(PermissionsEnum.ViewOptions) && canShowOptions">Options</th>
              <th style="width: 5%;"></th>
              <th *ngFor="let col of columns" [ngStyle]="{'width': col.width}" [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" 
                  ariaLabelDesc="Activate to sort in descending order" 
                  ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
              <th style="width: 5%;">Actions</th>
            </tr>
            <tr>
                <th *ngIf="IsAuthorized(PermissionsEnum.ViewOptions) && canShowOptions"></th>
                <th></th>
                <th><p-columnFilter type="text" field="refNo"></p-columnFilter></th>
                <th><p-columnFilter type="text" field="npo.name"></p-columnFilter></th>
                <th><p-columnFilter type="text" field="applicationPeriod.applicationType.name"></p-columnFilter></th>
                <th><p-columnFilter type="text" field="applicationPeriod.name"></p-columnFilter></th>
                <th><p-columnFilter type="text" field="applicationPeriod.subProgramme.name"></p-columnFilter></th>
                <th><p-columnFilter type="text" field="applicationPeriod.financialYear.name"></p-columnFilter></th>
                <th><p-columnFilter type="text" field="applicationPeriod.closingDate"></p-columnFilter></th>
                <th><p-columnFilter type="text" field="status.name"></p-columnFilter></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr class="default-font">
                <td style="text-align: center;" *ngIf="IsAuthorized(PermissionsEnum.ViewOptions) && (canShowOptions || canShowOptionsNpo)">
                    <button pButton pRipple type="button" class="p-button-text action-button" icon="fa fa-bars" 
                    (click)="selectedApplication=rowData; menu.toggle($event); updateOptionItems();" pTooltip="Options" tooltipPosition="right" 
                    *ngIf="IsAuthorized(PermissionsEnum.ViewOptions) && (rowData.statusId === StatusEnum.AcceptedSLA || (rowData.statusId === StatusEnum.Approved && rowData.applicationPeriod.departmentId === 11))"></button>
                    <p-menu #menu [popup]="true" [model]="optionItems" appendTo="body"></p-menu>
                </td>
                <td style="text-align: center;">{{rowIndex + 1}}</td>
                <td *ngFor="let col of columns"> 
                    <span>{{getCellData(rowData, col)}}</span>
                </td>
                <td style="text-align: center;">
                    <button pButton pRipple type="button" class="p-button-text action-button" icon="fa fa-bars" (click)="selectedApplication=rowData; menu.toggle($event); updateButtonItems();" pTooltip="Actions" tooltipPosition="left"></button>
                    <p-menu #menu [popup]="true" [model]="buttonItems" appendTo="body"></p-menu>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr class="default-font">
                <td colspan="10" style="text-align: center;" *ngIf="IsAuthorized(PermissionsEnum.ViewOptions)">No results found</td>
                <td colspan="11" style="text-align: center;" *ngIf="!IsAuthorized(PermissionsEnum.ViewOptions)">No results found</td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>

<div class="content-section implementation">
    <p-confirmDialog #cd header="Confirmation" [style]="{width: '30vw'}" icon="pi pi-exclamation-triangle">
        <p-footer>
            <button type="button" pButton icon="pi pi-check" class="ui-button-info" label="Yes" (click)="cd.accept()"></button>
            <button type="button" pButton icon="pi pi-times" class="ui-button-info" label="No" (click)="cd.reject()"></button>
        </p-footer>
    </p-confirmDialog>
</div>

<p-dialog header="Select Reviewers" [(visible)]="displayDialog" [modal]="true" [style]="{width: '50vw'}"
    [maximizable]="false" [resizable]="false" *ngIf="reviewerForm">
    <form novalidate [formGroup]="reviewerForm">
        <div class="form-group">
            <div class="p-fluid">
                <div class="p-field p-grid">
                    <label for="selectedUser" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
                        style="font-size: 13px; font-weight: bold;">Full Name</label>
                    <div class="p-col-12 p-md-10">
                        <p-multiSelect [options]="reviewerlist" [(ngModel)]="selectedreviewerlist" defaultLabel="Select reviewer(s)"
                            optionLabel="email" [ngModelOptions]="{standalone: true}" appendTo="body"
                            selectedItemsLabel="{0} items selected"></p-multiSelect>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <p-footer *ngIf="IsAuthorized(PermissionsEnum.ShowUserActions)">
        <button type="submit" [disabled]="disableSubmit()" pButton icon="fa fa-thumbs-o-up" (click)="submit()"
            class="ui-button-success" label="Submit"></button>
    </p-footer>
</p-dialog>


<p-dialog header="Select Reviewers" [(visible)]="displayReviewDialog" [modal]="true" [style]="{width: '50vw'}"
    [maximizable]="false" [resizable]="false" *ngIf="reviewerForm">
    <form novalidate [formGroup]="reviewerForm">
        <div class="form-group">
            <div class="p-fluid">
                <div class="p-field p-grid">
                    <label for="selectedUser" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
                        style="font-size: 13px; font-weight: bold;">Full Name</label>
                    <div class="p-col-12 p-md-10">
                        <p-multiSelect [options]="reviewerlist" [(ngModel)]="selectedreviewerlist" defaultLabel="Select reviewer(s)"
                            optionLabel="email" [ngModelOptions]="{standalone: true}" appendTo="body"
                            selectedItemsLabel="{0} items selected"></p-multiSelect>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <p-footer *ngIf="IsAuthorized(PermissionsEnum.ShowUserActions)">
        <button type="submit" [disabled]="disableSubmit()" pButton icon="fa fa-thumbs-o-up" (click)="btnSubmitReviewers()"
            class="ui-button-success" label="Submit"></button>
    </p-footer>
</p-dialog>
