<div style="height: 10px;"></div>
<p-panel [style]="{'font-size':'12px'}" header="Payment Schedule" [toggleable]="toggleable">
    <p-panel [style]="{'font-size':'12px'}" header="Payment List" *ngIf="paymentFrequencyId && startDate && amountAwarded && paymentSchedule">
        <p-table [rowHover]="true" [style]="{'border':'none'}" [columns]="cols" [value]="paymentSchedule.paymentScheduleItemViewModels">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 5%;"></th>
                    <th *ngFor="let col of columns" [ngStyle]="{'width': col.width}">{{col.header}}</th>
                    <th style="width: 5%;" *ngIf="paymentFrequencyId === FrequencyEnum.Adhoc">Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr class="default-font">
                    <td style="text-align: center;">{{rowIndex + 1}}</td>
                    <td>{{rowData.cycleNumber}}</td>
                    <td>{{rowData.paymentDate | date : "yyyy-MM-dd"}}</td>
                    <td>{{rowData.paymentStatus}}</td>
                    <td>{{rowData.allocatedAmount | currency: 'R'}}</td>
                    <td>{{rowData.approvedAmount | currency: 'R'}}</td>
                    <td>{{rowData.paidAmount | currency: 'R'}}</td>
                    <td>
                        <p-checkbox (onChange)="onComplianceChange()" [(ngModel)]="rowData.isCompliant" [binary]="true"></p-checkbox>
                    </td>
                    <td *ngIf="paymentFrequencyId === FrequencyEnum.Adhoc"></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr class="default-font">
                    <td colspan="4" style="text-align: right;">Total Allocated</td>
                    <td>{{paymentSchedule.allocatedAmountTotal | currency: 'R'}}</td>
                    <td>{{paymentSchedule.approvedAmountTotal | currency: 'R'}}</td>
                    <td>{{paymentSchedule.paidAmountTotal | currency: 'R'}}</td>
                    <td *ngIf="paymentFrequencyId === FrequencyEnum.Adhoc"></td>
                    <td></td>
                </tr>
                <tr class="default-font">
                    <td colspan="4" style="text-align: right;">Balance</td>
                    <td>{{paymentSchedule.allocatedAmountBalance | currency: 'R'}}</td>
                    <td>{{paymentSchedule.approvedAmountBalance | currency: 'R'}}</td>
                    <td>{{paymentSchedule.paidAmountBalance | currency: 'R'}}</td>
                    <td *ngIf="paymentFrequencyId === FrequencyEnum.Adhoc"></td>
                    <td></td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>

    <div *ngIf="!paymentFrequencyId || !startDate || !amountAwarded">
        Please select a payment frequency and capture an amount awarded...
    </div>
</p-panel>



<p-dialog header="Compliance" [(visible)]="showComplianceDialog" modal="true" closeOnEscape="true" (onHide)="hideComplianceDialog()">
    <ng-template pTemplate="header">
        Compliance Status
    </ng-template>

    <p-table [rowHover]="true" [style]="{'border':'none'}" [value]="compliances">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:10%; text-align: center;">Financial Year</th>
                <th style="width:10%; text-align: center;">Compliance Cycle</th>
                <th style="width:10%; text-align: center;">Signed TPA</th>
                <th style="width:10%; text-align: center;">Progress Report</th>
                <th style="width:10%; text-align: center;">Non Financial Data</th>
                <th style="width:10%; text-align: center;">Is Overidden</th>
                <th style="width:10%; text-align: center;">Is Compliant</th>
                <th style="width:10%; text-align: center;">Edit</th>
            </tr>
        </ng-template>
    
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr class="default-font">
                <td style="text-align: center;">{{rowData.finyear}}</td>
                <td style="text-align: center;">{{rowData.complianceCycle}}</td>
                <td style="text-align: center;">
                    <div >
                        <button *ngIf="rowData.signedTpa===true" pButton type="button"  icon="pi pi-check" class="p-button-success p-button-raised p-button-rounded p-button-outlined"></button>
                        <button *ngIf="!rowData.signedTpa===true"pButton type="button"  icon="pi pi-times" class="p-button-danger p-button-raised p-button-rounded p-button-outlined"></button>
                    </div>
                </td>
                <td style="text-align: center;">
                    <div >
                        <button *ngIf="rowData.progressReport===true" pButton type="button"  icon="pi pi-check" class="p-button-success p-button-raised p-button-rounded p-button-outlined"></button>
                        <button *ngIf="!rowData.progressReport===true"pButton type="button"  icon="pi pi-times" class="p-button-danger p-button-raised p-button-rounded p-button-outlined"></button>
                    </div>
                </td>
                <td style="text-align: center;">
                    <div >
                        <button *ngIf="rowData.nonFinData===true" pButton type="button"  icon="pi pi-check" class="p-button-success p-button-raised p-button-rounded p-button-outlined"></button>
                        <button *ngIf="!rowData.nonFinData===true"pButton type="button"  icon="pi pi-times" class="p-button-danger p-button-raised p-button-rounded p-button-outlined"></button>
                    </div>
                </td>
                <td style="text-align: center;">
                    <div >
                        <button *ngIf="rowData.isOverridden===true" pButton type="button"  icon="pi pi-check" class="p-button-success p-button-raised p-button-rounded p-button-outlined"></button>
                        <button *ngIf="!rowData.isOverridden===true"pButton type="button"  icon="pi pi-times" class="p-button-danger p-button-raised p-button-rounded p-button-outlined"></button>
                    </div>
                </td>
                <td style="text-align: center;">
                    <div >
                        <button *ngIf="rowData.isCompliant===true" pButton type="button"  icon="pi pi-check" class="p-button-success p-button-raised p-button-rounded p-button-outlined"></button>
                        <button *ngIf="!rowData.isCompliant===true"pButton type="button"  icon="pi pi-times" class="p-button-danger p-button-raised p-button-rounded p-button-outlined"></button>
                    </div>
                </td>
                <td style="text-align: center;">
                    <button pButton label="Edit" icon="pi pi-times" (click)="selectedCompliance=rowData;onEditCompliance(rowData)"></button>
                </td>
            </tr>
        </ng-template>  
    </p-table>  
    <p-footer>
    </p-footer>
</p-dialog>


<p-dialog [(visible)]="showComplianceDetail">
    <ng-template pTemplate="header">
        NPO Compliance Management
    </ng-template>

    <ng-template pTemplate="body">

    <p-panel [style]="{'font-size':'12px'}" header="Compliance Detail">

        <table>
            <tr>
                <td style="width:50%; text-align: right;">Cycle No</td>
                <td style="width:50%; text-align: left;padding-left: 10px;">
                    <input type="text" pInputText  disabled="true" [(ngModel)]="selectedCycleNo"/>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="width:70%; text-align: right;">Have you received TPA / Submission</td>
                <td style="width:50%; text-align: left;">
                    <p-dropdown [options]="yesNoOptions" (onChange)="onOptionChange()" [(ngModel)]="selectedTpaOption" optionLabel="name" optionValue="value"></p-dropdown>              
                </td>
            </tr>
            <tr>
                <td style="width:70%; text-align: right;">Have you received Progress Report</td>
                <td style="width:50%; text-align: left;">
                    <p-dropdown [options]="yesNoOptions"  (onChange)="onOptionChange()"   [(ngModel)]="selectedProgressOption" optionLabel="name" optionValue="value"></p-dropdown>              
                </td>
            </tr>
            <tr>
                <td style="width:70%; text-align: right;">Have you received Non Financial Data</td>
                <td style="width:50%; text-align: left;">
                    <p-dropdown [options]="yesNoOptions"  (onChange)="onOptionChange()"  [(ngModel)]="selectedNonFinancialOption" optionLabel="name" optionValue="value"></p-dropdown>              
                </td>
            </tr>
            <tr>
                <td style="width:70%; text-align: right;">Do you want to Override check</td>
                <td style="width:50%; text-align: left;">
                    <p-dropdown [options]="yesNoOptions"  (onChange)="onOptionChange()"   [(ngModel)]="selectedOverrideOption" optionLabel="name" optionValue="value"></p-dropdown>              
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="width:70%; text-align: right;">Has Passed Compliance Check</td>
                <td style="width:50%; text-align: left;">
                    <p-dropdown [options]="yesNoOptions" [(ngModel)]="selectedComplianceOption" optionLabel="name" optionValue="value"></p-dropdown>              
                </td>
            </tr>

        </table>
    </p-panel>


</ng-template>
    <p-footer>
        <div style="text-align: center;">
            <button pButton label="Save" icon="pi pi-save" (click)="onSaveCompliance()"></button>
        </div>
    </p-footer>
</p-dialog>
