<p-panel header="SYSTEM ADMIN UTILITIES" [toggleable]="false" [style]="{'font-size':'12px'}" *ngIf="isSystemAdmin">
    <div class="row">
        <a class="tile text-dark" *ngFor="let tile of systemAdminUtilities" (click)="redirectToUtility(tile)">
            <p class="heading">{{tile.name}}</p>
            <p>{{tile.description}}</p>
        </a>
    </div>
</p-panel>
<br *ngIf="isSystemAdmin">
<p-panel header="UTILITIES" [toggleable]="false" [style]="{'font-size':'12px'}">
    <div class="row">
        <a class="tile text-dark" *ngFor="let tile of utilities" (click)="redirectToUtility(tile)">
            <p class="heading">{{tile.name}}</p>
            <p>{{tile.description}}</p>
        </a>
    </div>
</p-panel>