.form-label {
    width: 25%;
    text-align: right;
    align-self: center;
}

.mandatory-content::after {
    content: "*";
    color: rgb(195, 17, 47);
}

.mandatory-content, .non-mandatory-content {
    font-size: 12px;
}

.form-text {
    width: 100%;
}

.default-font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px !important;
}