<p-panel [style]="{'font-size':'12px'}" header="Confirmation">
    <div class="p-grid p-nogutter p-justify-end">
        <button pButton type="button" class="p-button-success" icon="fa fa-handshake-o" label="View All Reviewer Satisfactions" (click)="viewReviewerSatisfaction()"></button>
    </div>    
    <div style="height: 10px;"></div>

    <div class="p-grid">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="mandatory-content">Status</span>
            </div>
        </div>
        <div class="p-col">
            <p-dropdown [options]="statuses" placeholder="Select an option" optionLabel="name" [style]="{'width':'100%'}" appendTo="body" (onChange)="statusEnumChange($event.value)"></p-dropdown>
        </div>
    </div>
    <div class="p-grid" *ngIf="approveApplication">
        <div class="p-col-fixed form-label">
            <div class="box">
                <span class="mandatory-content">Approval From</span>
            </div>
        </div>
        <div class="p-col">
            <p-dropdown [options]="approvalFromOptions" placeholder="Select an option" optionLabel="name" [style]="{'width':'100%'}" appendTo="body" (onChange)="approvedFromChange($event.value)"></p-dropdown>
        </div>
    </div>
    <div style="height: 10px;"></div>
    <div class="p-grid p-nogutter p-justify-between">
        <p-button label="Back" (onClick)="prevPage()" icon="fa fa-angle-left"></p-button>
        <p-button label="View History" (onClick)="viewAuditHistory()" icon="fa fa-history"></p-button>
    </div> 
</p-panel>

<p-dialog header="Audit History" 
          [(visible)]="displayHistory" 
          [style]="{width: '50vw'}" 
          [focusOnShow]="false"
          showEffect="fade"
          [transitionOptions]="'0ms'"
          [modal]="true">
    <p-table [rowHover]="true" [style]="{'border':'none'}" [columns]="auditCols" [paginator]="true" [rows]="10" [value]="applicationAudits" styleClass="p-datatable-sm" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr class="default-font">
                <td style="text-align: center;">{{rowIndex + 1}}</td>
                <td>{{rowData.status.name}}</td>
                <td>{{rowData.createdUser.fullName}}</td>
                <td>{{rowData.createdDateTime | date: 'yyyy-MM-dd'}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>

<p-sidebar [(visible)]="showReviewerSatisfaction" position="bottom" [style]="{height:'650px'}" [dismissible]="false" [closeOnEscape]="false">
    <p-panel header="All Reviewer Satisfactions">
        <p-panel header="Objectives">
            <p-panel *ngFor="let objective of objectives" header="Objective Name: {{objective.name}}" [toggleable]="true">
                <p-table [rowHover]="true" [style]="{'border':'none'}" [columns]="reviewerSatisfactionCols" [value]="getReviewerSatisfactionObjective(objective)" *ngIf="getReviewerSatisfactionObjective(objective)" styleClass="p-datatable-sm">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                        <tr class="default-font">
                            <td style="text-align: center;">{{rowIndex + 1}}</td>
                            <td style="text-align: center;" [ngClass]="rowData.isSatisfied === true ? 'green' : 'default' && rowData.isSatisfied === false ? 'red' : 'default'">
                                <span>{{rowData.isSatisfied ? 'Yes' : 'No'}}</span>
                            </td>
                            <td>{{rowData.createdUser.fullName}}</td>
                            <td>{{rowData.createdDateTime | date: 'yyyy-MM-dd'}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr class="default-font">
                            <td colspan="4" style="text-align: center;">No results found</td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-panel>
        </p-panel>
        <div style="height: 10px;"></div>

        <p-panel header="Activities">
            <p-panel *ngFor="let activity of activities" header="Activity Name: {{activity.activityList.name}}" [toggleable]="true">
                <p-table [rowHover]="true" [style]="{'border':'none'}" [columns]="reviewerSatisfactionCols" [value]="getReviewerSatisfactionActivity(activity)" *ngIf="getReviewerSatisfactionActivity(activity)" styleClass="p-datatable-sm">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                        <tr class="default-font">
                            <td style="text-align: center;">{{rowIndex + 1}}</td>
                            <td style="text-align: center;" [ngClass]="rowData.isSatisfied === true ? 'green' : 'default' && rowData.isSatisfied === false ? 'red' : 'default'">
                                <span>{{rowData.isSatisfied ? 'Yes' : 'No'}}</span>
                            </td>
                            <td>{{rowData.createdUser.fullName}}</td>
                            <td>{{rowData.createdDateTime | date: 'yyyy-MM-dd'}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr class="default-font">
                            <td colspan="4" style="text-align: center;">No results found</td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-panel>
        </p-panel>
        <div style="height: 10px;"></div>

        <p-panel header="Sustainability Plans">
            <p-panel *ngFor="let plan of sustainabilityPlans" header="Risk: {{plan.risk}}" [toggleable]="true">
                <p-table [rowHover]="true" [style]="{'border':'none'}" [columns]="reviewerSatisfactionCols" [value]="getReviewerSatisfactionSustainability(plan)" *ngIf="getReviewerSatisfactionSustainability(plan)" styleClass="p-datatable-sm">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                        <tr class="default-font">
                            <td style="text-align: center;">{{rowIndex + 1}}</td>
                            <td style="text-align: center;" [ngClass]="rowData.isSatisfied === true ? 'green' : 'default' && rowData.isSatisfied === false ? 'red' : 'default'">
                                <span>{{rowData.isSatisfied ? 'Yes' : 'No'}}</span>
                            </td>
                            <td>{{rowData.createdUser.fullName}}</td>
                            <td>{{rowData.createdDateTime | date: 'yyyy-MM-dd'}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr class="default-font">
                            <td colspan="4" style="text-align: center;">No results found</td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-panel>
        </p-panel>
        <div style="height: 10px;"></div>

        <p-panel header="Resourcing">
            <p-panel *ngFor="let resource of resources" header="Resource: {{resource.resourceList.name}}" [toggleable]="true">
                <p-table [rowHover]="true" [style]="{'border':'none'}" [columns]="reviewerSatisfactionCols" [value]="getReviewerSatisfactionResourcing(resource)" *ngIf="getReviewerSatisfactionResourcing(resource)" styleClass="p-datatable-sm">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                        <tr class="default-font">
                            <td style="text-align: center;">{{rowIndex + 1}}</td>
                            <td style="text-align: center;" [ngClass]="rowData.isSatisfied === true ? 'green' : 'default' && rowData.isSatisfied === false ? 'red' : 'default'">
                                <span>{{rowData.isSatisfied ? 'Yes' : 'No'}}</span>
                            </td>
                            <td>{{rowData.createdUser.fullName}}</td>
                            <td>{{rowData.createdDateTime | date: 'yyyy-MM-dd'}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr class="default-font">
                            <td colspan="4" style="text-align: center;">No results found</td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-panel>
        </p-panel>
    </p-panel>    
</p-sidebar>    

<p-dialog header="Select Reviewers" [(visible)]="displayDialog" [modal]="true" [style]="{width: '50vw'}"
    [maximizable]="false" [resizable]="false" *ngIf="reviewerForm">
    <form novalidate [formGroup]="reviewerForm">
        <div class="form-group">
            <div class="p-fluid">
                <div class="p-field p-grid">
                    <label for="selectedUser" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
                        style="font-size: 13px; font-weight: bold;">Full Name</label>
                    <div class="p-col-12 p-md-10">
                         <p-multiSelect [options]="mainReviewerlist" [(ngModel)]="selectedreviewerlist" defaultLabel="Select reviewer(s)"
                            optionLabel="email" [ngModelOptions]="{standalone: true}" appendTo="body"
                            selectedItemsLabel="{0} items selected"></p-multiSelect>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <button type="submit" [disabled]="disableSubmit()" pButton icon="fa fa-thumbs-o-up" (click)="submit()"
            class="ui-button-success" label="Submit"></button>
    </p-footer>
</p-dialog>

<p-dialog header="Select Reviewers" [(visible)]="displaySatisfactionDialog" [modal]="true" [style]="{width: '50vw'}"
    [maximizable]="false" [resizable]="false" *ngIf="mainReviewerForm">
    <form novalidate [formGroup]="mainReviewerForm">
        <div class="form-group">
            <div class="p-fluid">
                <div class="p-field p-grid">
                    <label for="selectedUser" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
                        style="font-size: 13px; font-weight: bold;">Full Name</label>
                    <div class="p-col-12 p-md-10">
                         <p-multiSelect [options]="reviewerlist" [(ngModel)]="selectedMainreviewerlist" defaultLabel="Select reviewer(s)"
                            optionLabel="email" [ngModelOptions]="{standalone: true}" appendTo="body"
                            selectedItemsLabel="{0} items selected"></p-multiSelect>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <button type="submit" [disabled]="disableMainReviewerSubmit()" pButton icon="fa fa-thumbs-o-up" (click)="submitMainReviewers()"
            class="ui-button-success" label="Submit"></button>
    </p-footer>
</p-dialog>