.default-font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px !important;
}

.action-button {
    height: 25px; 
    width: 25px;
}

.form-label {
    width: 30%;
    text-align: right;
    align-self: center;
}