<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-spin-clockwise">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<p-toast></p-toast>
<p-panel [toggleable]="false" [style]="{'font-size':'12px'}" header="Quick Capture" *ngIf="isDataAvailable">

    <div class="p-grid p-nogutter p-justify-between" *ngIf="application.createdUser && application.updatedUser">
        <div>
            <span class="ui-panel-title text-uppercase text-muted" style="font-size:10px;display:inline-block;margin-top:2px;font-weight: bold;height: 20px;">Created By: {{application.createdUser.fullName}}</span>
                <i style="vertical-align: middle; padding: 10px;"></i>
            <span class="ui-panel-title text-uppercase text-muted" style="font-size:10px;display:inline-block;margin-top:2px;font-weight: bold;height: 20px;">Created Date: {{application.createdDateTime | date:"yyyy-MM-dd HH:mm:ss"}}</span>
        </div>
        <div>
            <span class="ui-panel-title text-uppercase text-muted" style="font-size:10px;display:inline-block;margin-top:2px;font-weight: bold;height: 20px;">Updated By: {{application.updatedUser.fullName}}</span>
                <i style="vertical-align: middle; padding: 10px;"></i>
            <span class="ui-panel-title text-uppercase text-muted" style="font-size:10px;display:inline-block;margin-top:2px;font-weight: bold;height: 20px;">Updated Date: {{application.updatedDateTime | date:"yyyy-MM-dd HH:mm:ss"}}</span>
        </div>
    </div>
    <div style="height: 10px;"></div>

    <p-menubar [model]="menuActions" [style]="{'font-size':'14px', 'height': '43px'}"></p-menubar>
    <p-messages [(value)]="validationErrors" [closable]="false" [enableService]="false"></p-messages>
    <div style="height: 10px;"></div>
    <p-steps [model]="qcItems" [readonly]="false" [activeIndex]="activeStep" (activeIndexChange)="validateStep($event, activeStep)"></p-steps>

    <div style="height: 10px;"></div>
    <div>
    <app-qc-application-periods-doh-view *ngIf="activeStep == QCStepsFundedEnum.Applications"
        [(activeStep)]="activeStep"
        [npo]="npo"
        [(applicationPeriod)]="applicationPeriod"
        [(application)]="application"
        [isEdit]="false">
    </app-qc-application-periods-doh-view>
    <app-create-quick-capture *ngIf="activeStep == QCStepsFundedEnum.NpoCreate"
        [(activeStep)]="activeStep"
        [(npo)]="npo"
        [isEdit]="false">
    </app-create-quick-capture> 
    <app-qc-application-detail-view *ngIf="activeStep == QCStepsFundedEnum.ApplicationDetail"
        [(activeStep)]="activeStep"
        [applicationPeriod]="applicationPeriod"
        [application]="application"
        [(districtCouncil)]="districtCouncil"
        [(localMunicipality)]="localMunicipality"
        [(regions)]="regions"
        [(sdas)]="sdas"
        [(purposeQuestion)]="purposeQuestion"
        [(npo)]="npo"
        [(fundingApplicationDetails)]="fundingApplicationDetails">
    </app-qc-application-detail-view>
    <app-qc-objectives-view *ngIf="activeStep == QCStepsFundedEnum.Objectives" [(activeStep)]="activeStep"
    [application]="application" (objectiveChange)="loadObjectives()" [canAddComments]="true"
    [isReview]="false" [currentUserId]="profile.id"
    [isEdit]="false"></app-qc-objectives-view>
    <app-qc-activities-view *ngIf="activeStep == QCStepsFundedEnum.Activities" [(activeStep)]="activeStep"
    [application]="application" (activityChange)="loadActivities()" [canAddComments]="true"
    [isReview]="false"
    [isEdit]="false"></app-qc-activities-view>
    <app-qc-funded-document-upload-view *ngIf="activeStep == QCStepsFundedEnum.ApplicationFundedDocument"
        [(activeStep)]="activeStep"
        [application]="application"
        [isView]="true">            
    </app-qc-funded-document-upload-view>
    <app-qc-confirmation *ngIf="activeStep == QCStepsFundedEnum.ApplicationConfirmation" [(activeStep)]="activeStep" [application]="application" [(status)]="status" [profile]="profile" [approveApplication]="false"></app-qc-confirmation>
    </div>
    <div style="height: 10px;"></div>

    <p-menubar [model]="menuActions" [style]="{'font-size':'14px', 'height': '43px'}"></p-menubar>
    <p-messages [(value)]="validationErrors" [closable]="false" [enableService]="false"></p-messages>
    <div style="height: 10px;"></div>

</p-panel>
