<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-spin-clockwise">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<p-toast></p-toast>
<p-panel [toggleable]="false" [style]="{'font-size':'12px'}" header="Quick Capture">
    <p-menubar [model]="menuActions" [style]="{'font-size':'14px', 'height': '43px'}"></p-menubar>
    <p-messages [(value)]="validationErrors" [closable]="false" [enableService]="false"></p-messages>
    <div style="height: 10px;"></div>
    <p-steps [model]="qcItems" *ngIf = "this.qcFunded == 0" [readonly]="false" [activeIndex]="activeStep" (activeIndexChange)="validateStep($event, activeStep)"></p-steps>
    <p-steps [model]="qcItemsFunded" *ngIf = "this.qcFunded == 1" [readonly]="false" [activeIndex]="activeStep" (activeIndexChange)="validateStep($event, activeStep)"></p-steps>

    <div style="height: 10px;"></div>
    <div *ngIf = "this.qcFunded == 0">
        <app-qc-application-periods *ngIf="activeStep == QCStepsEnum.Applications"
            [(activeStep)]="activeStep"
            [npo]="npo"
            [(applicationPeriod)]="applicationPeriod"
            [(application)]="application"
            [isEdit]="false">
        </app-qc-application-periods>
        <app-create-quick-capture *ngIf="activeStep == QCStepsEnum.NpoCreate"
            [(activeStep)]="activeStep"
            [(npo)]="npo"
            [(applicationPeriod)]="applicationPeriod">
        </app-create-quick-capture>      
        <app-qc-application-details *ngIf="activeStep == QCStepsEnum.AmountYouApplyingFor"
            [(activeStep)]="activeStep"
            [applicationPeriod]="applicationPeriod"
            [application]="application"
            [(districtCouncil)]="districtCouncil"
            [(localMunicipality)]="localMunicipality"
            [(regions)]="regions"
            [(sdas)]="sdas"
            [(amount)]="amount"
            [(programId)]="applicationPeriod.programmeId" 
            [(subProgramId)] = "applicationPeriod.subProgrammeId"
            [(subProgramTypeId)] = "applicationPeriod.subProgrammeTypeId"
            [(sourceOfInformation)]="sourceOfInformation"
            [(affliatedOrganisationInfo)]="affliatedOrganisationInfo"
            [(fundingApplicationDetails)]="fundingApplicationDetails"
            [(npo)]="npo">
        </app-qc-application-details>
        <app-qc-document-upload-edit *ngIf="activeStep == QCStepsEnum.ApplicationDocument"
            [(activeStep)]="activeStep"
            [application]="application"
            [isView]="false"
            [(applicationPeriod)]="applicationPeriod">            
        </app-qc-document-upload-edit>
    </div>
    <div *ngIf = "this.qcFunded == 1">
    <app-qc-application-periods-doh *ngIf="activeStep == QCStepsFundedEnum.Applications"
        [(activeStep)]="activeStep"
        [npo]="npo"
        [(applicationPeriod)]="applicationPeriod"
        [(application)]="application"
        [isEdit]="false">
    </app-qc-application-periods-doh> 
    <app-create-quick-capture *ngIf="activeStep == QCStepsFundedEnum.NpoCreate"
        [(activeStep)]="activeStep"
        [(npo)]="npo">
    </app-create-quick-capture>      
    <app-qc-application-detail *ngIf="activeStep == QCStepsFundedEnum.ApplicationDetail"
        [(activeStep)]="activeStep"
        [applicationPeriod]="applicationPeriod"
        [application]="application"
        [(districtCouncil)]="districtCouncil"
        [(localMunicipality)]="localMunicipality"
        [(regions)]="regions"
        [(sdas)]="sdas"
        [(purposeQuestion)]="purposeQuestion"
        [(fundingApplicationDetails)]="fundingApplicationDetails">
    </app-qc-application-detail>
    <app-qc-objectives *ngIf="activeStep == QCStepsFundedEnum.Objectives" [(activeStep)]="activeStep"
    [application]="application" (objectiveChange)="loadObjectives()" [canAddComments]="true"
    [isReview]="false" [currentUserId]="profile.id"></app-qc-objectives>
    <app-qc-activities *ngIf="activeStep == QCStepsFundedEnum.Activities" [(activeStep)]="activeStep"
    [application]="application" (activityChange)="loadActivities()" [canAddComments]="true"
    [isReview]="false"></app-qc-activities>
    <app-qc-funded-document-upload *ngIf="activeStep == QCStepsFundedEnum.ApplicationFundedDocument"
        [(activeStep)]="activeStep"
        [application]="application"
        [isView]="false">            
    </app-qc-funded-document-upload>
    </div>

    <div style="height: 10px;"></div>
    <p-menubar [model]="menuActions" [style]="{'font-size':'14px', 'height': '43px'}"></p-menubar>
    <p-messages [(value)]="validationErrors" [closable]="false" [enableService]="false"></p-messages>
</p-panel>