.form-label {
    width: 25%;
    text-align: right;
    align-self: center;
}

.mandatory-content, .non-mandatory-content {
    font-size: 12px;
}

.form-text {
    width: 100%;
}

.action-button {
    height: 25px; 
    width: 25px;
}

.heading {
    background-color: rgb(0, 51, 153)!important;
    color: rgb(255,255,255)!important;
    padding: 1%;
    font-size: 12px;
    font-weight: bold;
}

.approval-details {
    font-weight: bold;
}