<div style="width: 100%;">
    <div style="font-size:20px;margin-top:2px;font-weight: bold;height: 26px; text-align: center;">
        Score Card Summary
    </div>
</div>

<div class="p-grid p-nogutter p-justify-end">
       
    <button pButton type="button" label="Download" icon="fa fa-download" *ngIf="hasScorecardSubmitted"
    (click)="download()"></button>
       
</div>
<div style="height: 10px;"></div>
<div class="p-grid p-nogutter p-justify-between" style="border: solid 1px rgb(172, 168, 168);">
    <div>
        <span class="ui-panel-title text-uppercase text-muted" style="font-size:12px;display:inline-block;margin-top:2px;font-weight: bold;height: 20px;">Application RefNo: <span *ngIf="application">"{{application.refNo}}"</span></span>
            <i style="vertical-align: middle; padding: 10px;"></i>
        <span class="ui-panel-title text-uppercase text-muted" style="font-size:12px;display:inline-block;margin-top:2px;font-weight: bold;height: 20px;">Financial Year: <span *ngIf="application && application.applicationPeriod">"{{application.applicationPeriod.financialYear.name}}"</span></span>
    </div>
    <div>
        <span class="ui-panel-title text-uppercase text-muted" style="font-size:12px;display:inline-block;margin-top:2px;font-weight: bold;height: 20px;">Organisation: <span *ngIf="organisation">"{{organisation}}"</span></span>
            <i style="vertical-align: middle; padding: 10px;"></i>
        <span class="ui-panel-title text-uppercase text-muted" style="font-size:12px;display:inline-block;margin-top:2px;font-weight: bold;height: 20px;">Application Name: <span *ngIf="application && application.applicationPeriod">"{{application.applicationPeriod.name}}"</span></span>
    </div>
</div>
<p-panel [style]="{'font-size':'12px', 'width':'100%'}" header="Qualitative Performance">
    <p-table [value]="allQuestionnaires" *ngIf="allQuestionnaires" [rowHover]="true" 
        styleClass="p-datatable-striped" sortMode="single" dataKey="questionSectionName">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 15%; text-align: center;">#</th>
                    <th style="width: 25%; text-align: center;">Name (Question/Statement)</th>
                    <th style="width: 8%; text-align: center;">Scorer<b> 1</b></th>
                    <th style="width: 8%; text-align: center;">Scorer<b> 2</b></th>
                    <th style="width: 8%; text-align: center;">Scorer<b> 3</b></th>
                    <th style="width: 8%; text-align: center;">Scorer<b> 4</b></th>
                    <th style="width: 10%; text-align: center; text-wrap:break-word;">Average Category Score</th>
                    <th style="width: 10%; text-align: center;">Comment</th>
                    <th style="width: 8%; text-align: center;" >Total score</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-question let-rowIndex="rowIndex">
                <tr *ngIf="updateRowGroupMetaData(allQuestionnaires)[question.questionSectionName].index === rowIndex">
                    <td>
                        <span class="p-text-bold p-ml-2"><b>{{question.questionCategoryName}}</b></span>
                    </td>
                    <td class="p-text-bold p-ml-2">{{question.questionName}}</td>                        
                    <td style="text-align: center;" class="{{getRagColour1(question.responsesO[0])}}">{{question.responsesO[0]}}</td>
                    <td style="text-align: center;" class="{{getRagColour1(question.responsesO[1])}}">{{question.responsesO[1]}}</td>
                    <td style="text-align: center;" class="{{getRagColour1(question.responsesO[2])}}">{{question.responsesO[2]}}</td>
                    <td style="text-align: center;" class="{{getRagColour1(question.responsesO[3])}}">{{question.responsesO[3]}}</td>                        
                    <td style="text-align: center;" class="{{getRagColour1((question.sumOfResponse/question.responsesO.length).toFixed(2))}}" *ngIf="question.sumOfResponse > 0 && question.responsesO.length > 0">
                        {{(question.sumOfResponse/question.responsesO.length).toFixed(2)}}
                    </td>
                    <td style="text-align: center;">
                        <button *ngIf="question.hasComment"  pButton pRipple type="button"
                        class="p-button-text action-button" icon="fa fa-comments-o"
                        pTooltip="Comments" tooltipPosition="top" (click)="onSelectViewComment(question)"></button>
                    </td>
                    <td style="text-align: center;"><span style="font-weight: bold;" class="{{getRagColour(allQuestionnaires)}}">{{question.sumOfResponse}}</span></td>
                    <td style="text-align: center;" *ngIf="question.sumOfResponse === 0 && question.responsesO.length === 0">
                        {{0}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td style="border: 1px solid #CCCCCC;"> <span class="p-text-bold p-ml-2"><b>(Score per scorer -/50)</b></span></td>
                    <td style="text-align: center; border: 1px solid #CCCCCC;">&nbsp;</td>
                    <td style="text-align: center; border: 1px solid #CCCCCC;"><b>{{socrer1OverallTotalScore}}</b></td>
                    <td style="text-align: center; border: 1px solid #CCCCCC;"><b>{{socrer2OverallTotalScore}}</b></td>
                    <td style="text-align: center; border: 1px solid #CCCCCC;"><b>{{socrer3OverallTotalScore}}</b></td>
                    <td style="text-align: center; border: 1px solid #CCCCCC;"><b>{{socrer4OverallTotalScore}}</b></td>
                    <td style="text-align: center; border: 1px solid #CCCCCC;" colspan="2"></td>
                    <td style="text-align: center; border: 1px solid #CCCCCC;"><b>{{allSocrerOverallTotalScore}}</b></td>
                </tr>
                <tr>
                    <td style="border: 1px solid #CCCCCC;border-radius: 6px 6px 6px 6px; "> <span class="p-text-bold p-ml-2"><b>Overall Qualitative Performance</b></span></td>
                    <td style="text-align: center; border: 1px solid #CCCCCC;border-radius: 6px 6px 6px 6px; ">&nbsp;</td>
                    <td style="text-align: center; border: 1px solid #CCCCCC;border-radius: 6px 6px 6px 6px; " class="{{getRagBackgroundColour1(scorer1OverallAvgScore)}}"><b>{{scorer1OverallAvgScore}}</b></td>
                    <td style="text-align: center; border: 1px solid #CCCCCC;border-radius: 6px 6px 6px 6px; " class="{{getRagBackgroundColour1(scorer2OverallAvgScore)}}"><b>{{scorer2OverallAvgScore}}</b></td>
                    <td style="text-align: center; border: 1px solid #CCCCCC;border-radius: 6px 6px 6px 6px; " class="{{getRagBackgroundColour1(scorer3OverallAvgScore)}}"><b>{{scorer3OverallAvgScore}}</b></td>
                    <td style="text-align: center; border: 1px solid #CCCCCC;border-radius: 6px 6px 6px 6px; " class="{{getRagBackgroundColour1(scorer4OverallAvgScore)}}"><b>{{scorer4OverallAvgScore}}</b></td>
                    <td style="text-align: center; border: 1px solid #CCCCCC;border-radius: 6px 6px 6px 6px; " colspan="2"></td>
                    <td style="text-align: center; border: 1px solid #CCCCCC;border-radius: 6px 6px 6px 6px; " class="{{getRagBackgroundColour1(allScorerOverallAvgScore)}}"><b>{{allScorerOverallAvgScore}}</b></td>
                </tr>
            </ng-template>
    </p-table>
</p-panel>

<div style="height: 10px;"></div>

<p-panel [style]="{'font-size':'12px', 'width':'100%'}" header="Quantitative Performance">
    <p-table [rowHover]="true" [value]="filterWorkplanIndicators()" *ngIf="filterWorkplanIndicators()">
        <ng-template pTemplate="header">
            <tr>
                <th style="text-align: center; width: 5%;">#</th>
                <th style="text-align: center; width: 43%;">Activity</th>
                <th style="text-align: center; width: 24%;">Indicator</th>
                <th style="text-align: center; width: 10%;">Target</th>
                <th style="text-align: center; width: 10%;">Actual YTD</th>
                <th style="text-align: center; width: 8%;">Performance</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-indicator let-rowIndex="rowIndex">
            <tr *ngIf="rowGroupMetadataActivities && rowGroupMetadataActivities[rowIndex].itemExists === false" class="heading">
                <td [attr.colspan]="3"><span class="p-text-bold">{{indicator.ObjectiveName}}</span></td>
                <td style="text-align: center;"><span class="p-text-bold">{{getObjectiveTargets(indicator.activity.objective)}}</span></td>
                <td style="text-align: center;"><span class="p-text-bold">{{getObjectiveActuals(indicator.activity.objective)}}</span></td>
                <td style="text-align: center;"><span class="p-text-bold">{{getPerformanceAvg(indicator.activity.objective)}}</span></td>
            </tr>
            <tr class="default-font">
                <td style="text-align: center;">{{rowIndex + 1}}</td>
                <td style="text-align: left;">{{indicator.activity.activityList.description}}</td>
                <td style="text-align: left;">{{indicator.activity.successIndicator}}</td>
                <td style="text-align: center;">{{indicator.totalTargets}}</td>
                <td style="text-align: center;">{{indicator.totalActuals}}</td>
                <td style="text-align: center;" *ngIf="indicator.totalAvg > 10" >{{10}}</td>
                <td style="text-align: center;" *ngIf="indicator.totalAvg < 10">{{(indicator.totalAvg).toFixed(2)}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr class="default-font">
                <td style="text-align: left; width: 20%;" colspan="5"><b>Overall Quantitative Performance</b></td>
                <td style="text-align: center;" class="{{getRagBackgroundColour((getOverallPerformancePercentage()/10).toFixed(2).toString())}}">{{(getOverallPerformancePercentage()/10).toFixed(2)}}</td>
            </tr>
          
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr class="default-font">
                <td colspan="6" style="text-align: center;">No results found</td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>

<div style="height: 10px;"></div>

<p-panel [style]="{'font-size':'12px', 'width':'100%'}" >
    <table styleClass="p-datatable-striped" style="width: 100%;">
        <tr>
            <td style="width: 40%; text-align: center; border: 1px solid #CCCCCC;" colspan="2"> <span class="p-text-bold p-ml-2"><b>Scorer performance Comments</b></span></td>
            <td style="width: 8%; text-align: center; border: 1px solid #CCCCCC;">
                <button  pButton pRipple type="button"
                class="p-button-text action-button" icon="fa fa-comments-o"
                pTooltip="Comments" tooltipPosition="top" (click)="performanceComment(1)"></button>
            </td>
            <td style="width: 8%; text-align: center; border: 1px solid #CCCCCC;">
                <button  pButton pRipple type="button"
                class="p-button-text action-button" icon="fa fa-comments-o"
                pTooltip="Comments" tooltipPosition="top" (click)="performanceComment(2)"></button>
            </td>
            <td style="width: 8%; text-align: center; border: 1px solid #CCCCCC;">
                <button  pButton pRipple type="button"
                class="p-button-text action-button" icon="fa fa-comments-o"
                pTooltip="Comments" tooltipPosition="top" (click)="performanceComment(3)"></button>
            </td>
            <td style="width: 8%; text-align: center; border: 1px solid #CCCCCC;">
                <button  pButton pRipple type="button"
                class="p-button-text action-button" icon="fa fa-comments-o"
                pTooltip="Comments" tooltipPosition="top" (click)="performanceComment(4)"></button>
            </td>
            <td style="width: 20%; text-align: center; border: 1px solid #CCCCCC;border-radius: 6px 6px 6px 6px;"><b>Overall Scorecard Performance</b></td>
            <td style="width: 8%; text-align: center; border: 1px solid #CCCCCC;border-radius: 6px 6px 6px 6px; " class="{{getRagBackgroundColour((((allScorerOverallAvgScore)+getOverallPerformancePercentage()/10)/2).toFixed(2).toString())}}"><b>{{(((allScorerOverallAvgScore)+getOverallPerformancePercentage()/10)/2).toFixed(2)}}</b></td>
        </tr>
    </table>
</p-panel>

<p-panel header="Reviewer Summary">
    <div class="p-grid">
        <div class="p-col-3 form-label">
            <div class="box">
                <span class="non-mandatory-content">Improvement Areas
                </span>
            </div>
        </div>
        <div class="p-col-9">
            <textarea class="form-text" [rows]="3" pInputTextarea 
            [(ngModel)]="captureImprovementArea" [ngModelOptions]="{standalone: true}" 
            [autoResize]="true" [disabled]="hascapturedImprovementArea"></textarea>
        </div>
        <div class="p-col-3 form-label">
            <div class="box">
                <span class="non-mandatory-content">Required Actions
                </span>
            </div>
        </div>
        <div class="p-col-9">
            <textarea class="form-text" [rows]="3" pInputTextarea 
            [(ngModel)]="captureRequiredAction" [ngModelOptions]="{standalone: true}" 
            [autoResize]="true" [disabled]="hasCapturedRequiredAction"></textarea>
        </div>
    </div>
    <div style="height: 10px;"></div>
    <div class="p-grid">
        <div class="p-col-3 form-label">
            <div class="box">
                <span class="non-mandatory-content">Submitted By</span>
            </div>
        </div>
        <div class="p-col-9">
            <span>{{signedByUser}}</span>
        </div>
    </div>
    <div style="height: 10px;"></div>
    <div class="p-grid">
        <div class="p-col-3 form-label">
            <div class="box">
                <span class="non-mandatory-content">Submitted Date</span>
            </div>
        </div>
        <div class="p-col-9">
            <span>{{submittedDate | date: 'yyyy-MM-dd'}}</span>
        </div>
    </div>
    <div class="p-grid p-nogutter p-justify-end" *ngIf="!hasScorecardSubmitted">
       
        <button pButton type="button" label="Submit" icon="fa fa-floppy-o" [disabled] = "disableSubmit()"
        (click)="submit()" [disabled]="disableElement()"></button>
           
    </div>
</p-panel>

<p-dialog header="Comments" [(visible)]="displayCommentDialog" [style]="{width: '50vw'}" [focusOnShow]="false"
    showEffect="fade" [transitionOptions]="'0ms'" [modal]="true">
    <p-table [rowHover]="true" [style]="{'border':'none'}"
        [value]="_responseUsers" styleClass="p-datatable-sm" [showCurrentPageReport]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Comments
                </th>
                <th>
                    Commented By
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr class="default-font">
                <td style="text-align: center;">{{rowIndex + 1}}</td>
                <td>{{rowData.comment}}</td>
                <td>{{rowData.createdUser.fullName}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>

<p-dialog header="Comments" [(visible)]="displayDialog" [style]="{width: '50vw'}" [focusOnShow]="false"
    showEffect="fade" [transitionOptions]="'0ms'" [modal]="true">
    <!-- <p-table [rowHover]="true" [style]="{'border':'none'}"
        styleClass="p-datatable-sm" [showCurrentPageReport]="true"> -->
        <div class="p-grid">
            <div class="p-col-3 form-label">
                <div class="box">
                    <span class="non-mandatory-content">Improvement Areas
                    </span>
                </div>
            </div>
            <div class="p-col-9">
                <textarea class="form-text" [rows]="3" pInputTextarea 
                [(ngModel)]="captureImprovementArea" [ngModelOptions]="{standalone: true}" 
                [autoResize]="true" [disabled]="true"></textarea>
            </div>
            <div class="p-col-3 form-label">
                <div class="box">
                    <span class="non-mandatory-content">Required Actions
                    </span>
                </div>
            </div>
            <div class="p-col-9">
                <textarea class="form-text" [rows]="3" pInputTextarea 
                [(ngModel)]="captureRequiredAction" [ngModelOptions]="{standalone: true}" 
                [autoResize]="true" [disabled]="true"></textarea>
            </div>
        </div>
        <div style="height: 10px;"></div>
        <div class="p-grid">
            <div class="p-col-3 form-label">
                <div class="box">
                    <span class="non-mandatory-content">Submitted By</span>
                </div>
            </div>
            <div class="p-col-9">
                <span>{{signedByUser}}</span>
            </div>
        </div>
        <div style="height: 10px;"></div>
        <div class="p-grid">
            <div class="p-col-3 form-label">
                <div class="box">
                    <span class="non-mandatory-content">Submitted Date</span>
                </div>
            </div>
            <div class="p-col-9">
                <span>{{submittedDate | date: 'yyyy-MM-dd'}}</span>
            </div>
        </div>
    <!-- </p-table> -->
</p-dialog>