<p-toast></p-toast>
<p-messages [(value)]="validationErrors" [closable]="false" [enableService]="false" *ngIf="showWarningMessage"></p-messages>
<p-panel [style]="{'font-size':'12px'}" header="Organisation Details" *ngIf="application">
    <div style="height: 10px;"></div>
    <app-view-npo
        [npoId]="application.npoId"
        (retrievedNpo)="updateNpo($event)">
    </app-view-npo>
    <div style="height: 10px;"></div>
    <app-view-profile
        [npoId]="application.npoId"
        [source]="source"
        (retrievedNpoProfile)="updateNpoProfile($event)">
    </app-view-profile>
    <div style="height: 10px;"></div>
    <div class="p-grid p-nogutter p-justify-end" *ngIf="showConfirmationButton">
        <p-button label="Next" (onClick)="nextPage()" icon="fa fa-angle-right" iconPos="right"></p-button>
    </div>
</p-panel>