<div>
    <div class="navbar navbar-default navbar-fixed-top navbar-white bg-white shadow-sm">      
        <div id="navbar-container">
            <div class="navbar-header">
                <a target="_blank" class="navbar-brand" href="https://www.westerncape.gov.za/" style="display:flex;">
                    <img src="../../assets/Images/wc_logo-small.png" class="d-lg-none" alt=""/>
                    <img src="../../assets/Images/wc_logo-small.png" class="d-none d-lg-block" alt=""/>
                    <span class="navbar-text" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold; font-size: 1.5em">NPO Management System</span>
                  </a>
            </div>
        </div>
    </div>
    <app-navigation></app-navigation>
</div>