<p-panel [toggleable]="false" [style]="{'font-size':'12px'}" header="Create Funding Capture" *ngIf="entity">
    <p-menubar [model]="menuActions" [style]="{'font-size':'14px', 'height': '43px'}" *ngIf="IsAuthorized(PermissionsEnum.ShowFundingCaptureActions)"></p-menubar>
    <p-messages [(value)]="validationErrors" [closable]="false" [enableService]="false"></p-messages>
    <div style="height: 10px;"></div>

    <app-fc-funding-detail [entity]="entity" [(fundingDetail)]="fundingDetail" [toggleable]="true"></app-fc-funding-detail>
    <div style="height: 10px;"></div>
    
    <app-fc-sda [toggleable]="true"></app-fc-sda>
    <div style="height: 10px;"></div>
    
    <app-fc-payment-schedule [toggleable]="true"></app-fc-payment-schedule>
    <div style="height: 10px;"></div>
    
    <app-fc-bank-detail [toggleable]="true"></app-fc-bank-detail>
    <div style="height: 10px;"></div>
    
    <app-fc-document [toggleable]="true"></app-fc-document>
</p-panel>