<p-panel [toggleable]="false" [style]="{'font-size':'12px'}" header="Email Account">
    <div class="p-grid">
        <div class="p-col-fixed">
            <button pButton pRipple type="button" label="Add" class="p-button-text black-button" icon="fa fa-plus" (click)="add()" *ngIf="IsAuthorized(PermissionsEnum.AddUtilities)"></button>
            <button pButton pRipple type="button" label="Go Back" class="p-button-text black-button" icon="fa fa-step-backward" (click)="goBack()"></button>
        </div>
        <div class="p-col">
            <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="fa fa-search"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search Keyword" />
                </span>
            </div>
        </div>
    </div>
</p-panel>