<p-toast></p-toast>
<p-panel [toggleable]="false" [style]="{'font-size':'12px'}" header="Edit Application" *ngIf="isApplicationAvailable">
    <p-menubar [model]="menuActions" [style]="{'font-size':'14px', 'height': '43px'}" *ngIf="IsAuthorized(PermissionsEnum.ShowApplicationActions)"></p-menubar>
    <p-messages [(value)]="validationErrors" [closable]="false" [enableService]="false"></p-messages>
    <div style="height: 10px;"></div>
    <p-steps [model]="items" [readonly]="true" [activeIndex]="activeStep"></p-steps>
    <div style="height: 10px;"></div>
    <div *ngIf="application.applicationPeriod.applicationTypeId == ApplicationTypeEnum.FA">
        this is the funding application portion
    </div>
    <div *ngIf="application.applicationPeriod.applicationTypeId == ApplicationTypeEnum.SP">
        <app-npo-details *ngIf="activeStep == ServiceProvisionStepsEnum.NpoConfirmation" [(activeStep)]="activeStep" [application]="application" [newApplication]="false"></app-npo-details>
        <app-objectives *ngIf="activeStep == ServiceProvisionStepsEnum.Objectives" [(activeStep)]="activeStep" [application]="application" (objectiveChange)="loadObjectives()" [canAddComments]="true" [isReview]="false"></app-objectives>
        <app-activities *ngIf="activeStep == ServiceProvisionStepsEnum.Activities" [(activeStep)]="activeStep" [application]="application" (activityChange)="loadActivities()" [canAddComments]="true" [isReview]="false"></app-activities>
        <app-sustainability *ngIf="activeStep == ServiceProvisionStepsEnum.Sustainability" [(activeStep)]="activeStep" [application]="application" (sustainabilityPlanChange)="loadSustainabilityPlans()" [canAddComments]="true" [isReview]="false"></app-sustainability>
        <app-resourcing *ngIf="activeStep == ServiceProvisionStepsEnum.Resourcing" [(activeStep)]="activeStep" [application]="application" (resourceChange)="loadResources()" [reviewApplication]="false" [canReviewOrApprove]="false" [canAddComments]="true" [isReview]="false"></app-resourcing>
    </div>
    <div style="height: 10px;"></div>
    <p-menubar [model]="menuActions" [style]="{'font-size':'14px', 'height': '43px'}" *ngIf="IsAuthorized(PermissionsEnum.ShowApplicationActions)"></p-menubar>
</p-panel>