<div class="home-body">
    <div class="home-content">
        <div class="section1">
            <h1><span class="bold-text">Welcome to the NPO Service Providers Platform</span></h1>
            This platform is an innovative way that introduces efficiencies in the way we onboard an NPO, how we do NPO Performance Management and enabling NPO’s to make an on-line application for Funding.  In addition, this platform will allow for broader and efficient engagements around contracts and services.
        </div>
        <div>          
            <div class="p-grid">
                <div class="p-col-12">
                    <div class="process3">
                        <div>
                            <h1><span style="color: aliceblue; vertical-align: middle; text-align: center;">Department of Social Development – NPO Call for Proposals</span></h1>
                        </div>
                    </div>
                </div>
                <div class="p-col-12">
                    <div class="branding1-box">
                        <div class="box branding1"><br>
                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
                    </div>
                </div>    
                <div class="p-col-12">
                    <div class="process4">
                        <div  style="vertical-align: middle;">
                            <h4><span style="color: aliceblue; vertical-align: middle; text-align: center;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                FOR TECHNICAL SUPPORT CONTACT</span>&nbsp;&nbsp;
                                <a style="color: rgb(205, 226, 124); vertical-align: middle; text-align: center;" href="mailto://DSD.SYSADMIN@westerncape.gov.za?subject=re: Support Needed" target="_blank">DSD.SYSADMIN@WESTERNCAPE.GOV.ZA</a></h4>
                        </div>
                    </div>  
                </div>          
                <div class="p-col-12">
                    <div class="process2">
                        <div  style="vertical-align: middle;">
                            <h1><span style="color: aliceblue; vertical-align: middle; text-align: center;">Department of Health - NPO Work Plan Submission and Approval Process</span></h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div> -->
                <div class="p-grid">
                    <div class="p-col-6">
                        <div class="branding-box">
                            <div class="box branding"><br><br><br><br><br><br><br><br><br><br><br><br></div>
                        </div>
                    </div>
                    <div class="p-col-6">
                        <div class="p-grid">
                        <div class="p-col-6">
                            <div class="process">
                                <div class="box process-number" style="text-align: center;">01</div>
                                <div class="box process-description" style="text-align: center;">sign-up and load organisational profile (+/- 1 day)</div>
                            </div>
                        </div>
                        <div class="p-col-6">
                            <div class="process">
                                <div class="box process-number" style="text-align: center;">02</div>
                                <div class="box process-description" style="text-align: center;">create work plan (+/- 10 days)</div>
                            </div>
                        </div>
                        <div class="p-col-6">
                            <div class="process">
                                <div class="box process-number" style="text-align: center;">03</div>
                                <div class="box process-description" style="text-align: center;">review of work plan (+/- 35 days)</div>
                            </div>
                        </div>
                        <div class="p-col-6">
                            <div class="process">
                                <div class="box process-number" style="text-align: center;">04</div>
                                <div class="box process-description" style="text-align: center;">moa/approval (+/- 15 days)</div>
                            </div>
                        </div>
                        <div class="p-col-6">
                            <div class="process">
                                <div class="box process-number" style="text-align: center;">05</div>
                                <div class="box process-description" style="text-align: center;">monthly reports</div>
                            </div>
                        </div>
                        <div class="p-col-6">
                            <div class="process">
                                <div class="box process-number" style="text-align: center;">06</div>
                                <div class="box process-description" style="text-align: center;">yearly score card</div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
            <div style="height: 10px;"></div>
            <div class="p-grid">
                <div class="p-col-6">
                    <div class="process1">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-10">
                                <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 contact-icon"></label><br>
                                <span style="color: aliceblue; vertical-align: middle; text-align: center;">Contact Persons:<br>MHS: Sebastian Gelderbloem, RHS: Sandra Smit, CH: Christalien Crowe<br></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-col-6">
                    <div class="process1">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-10">
                                <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 email-icon"></label><br>
                                <span class="contact-heading" style="vertical-align: middle; text-align: center;">Email:<br>
                                <a href="mailto://HSPP@westerncape.gov.za?subject=re: Support Needed" target="_blank">HSPP@westerncape.gov.za</a></span>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>