<div class="home-body">
    <div class="home-content">
        <div class="section1">
            <h1><span class="bold-text">Welcome to the Health Service Provider Platform</span></h1>
            This platform is an innovative way that introduces efficiencies in how we onboard NPO, how NPO's create and submit work plans for review 
            and approval and how we monitor and evaluate the services NPO's provide.
            In addition this platform will allow for broader and efficient engagements around contracts and services.
        </div>

        <div class="section2">
            <h1><span class="bold-text">NPO Work Plan Submission and Approval Process</span></h1>
            <div style="height: 10px;"></div>

            <div class="p-grid">
                <div class="p-col-4">
                    <div class="process">
                        <div class="box process-number">01</div>
                        <div class="box process-description">sign-up and load organisational profile (+/- 1 day)</div>
                    </div>
                </div>
                <div class="p-col-4">
                    <div class="process">
                        <div class="box process-number">02</div>
                        <div class="box process-description">create work plan (+/- 10 days)</div>
                    </div>
                </div>
                <div class="p-col-4">
                    <div class="process">
                        <div class="box process-number">03</div>
                        <div class="box process-description">review of work plan (+/- 35 days)</div>
                    </div>
                </div>

                <div class="p-col-4">
                    <div class="process">
                        <div class="box process-number">04</div>
                        <div class="box process-description">moa/approval (+/- 15 days)</div>
                    </div>
                </div>
                <div class="p-col-4">
                    <div class="process">
                        <div class="box process-number">05</div>
                        <div class="box process-description">monthly reports</div>
                    </div>
                </div>
                <div class="p-col-4">
                    <div class="process">
                        <div class="box process-number">06</div>
                        <div class="box process-description">yearly score card</div>
                    </div>
                </div>

                <div class="p-col-8">
                    <div class="branding-box">
                        <div class="box branding"></div>
                    </div>
                </div>
                <div class="p-col-4" style="padding-bottom: 0px; padding-top: 10px;">
                    <div class="p-col-12 contact-box">
                        <div class="box">
                            <div class="p-fluid">
                                <div class="p-field p-grid">
                                    <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 contact-icon"></label>
                                    <div class="p-col-12 p-md-10">
                                        <span class="contact-heading">Contact Persons:</span><br>
                                        MHS: Sebastian Gelderbloem<br>
                                        RHS: Sandra Smit<br>
                                        CH: Christalien Crowe<br>
                                    </div>
                                </div>
                                <div class="p-field p-grid">
                                    <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 email-icon"></label>
                                    <div class="p-col-12 p-md-10">
                                        <span class="contact-heading">Email:</span><br>
                                        <a href="mailto://HSPP@westerncape.gov.za?subject=re: Support Needed" target="_blank">HSPP@westerncape.gov.za</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="height: 10px;"></div>
                    
                    <div class="p-col-12 calendar-box">
                        <div class="box calendar-icon"></div>
                    </div>
                </div>
            </div>

            <!-- <div class="p-grid">
                <div class="p-col process">
                    <div class="box process-number">01</div>
                    <div class="box process-description">sign-up and load organisational profile (+/- 1 day)</div>
                </div>
                <div class="p-col process">
                    <div class="box process-number">02</div>
                    <div class="box process-description">create work plan (+/- 10 days)</div>
                </div>
                <div class="p-col process">
                    <div class="box process-number">03</div>
                    <div class="box process-description">review of work plan (+/- 35 days)</div>
                </div>
            </div> -->

            <!-- <div class="p-grid">
                <div class="p-col process">
                    <div class="box process-number">04</div>
                    <div class="box process-description">moa/approval (+/- 15 days)</div>
                </div>
                <div class="p-col process">
                    <div class="box process-number">05</div>
                    <div class="box process-description">monthly reports</div>
                </div>
                <div class="p-col process">
                    <div class="box process-number">06</div>
                    <div class="box process-description">yearly score card</div>
                </div>
            </div> -->

            <div style="height: 10px;"></div>

            <!-- <div class="p-grid">
                <div class="p-col-8 p-xl-8 p-lg-8 p-md-8 p-sm-8">
                    <div class="box branding"></div>
                </div>
                <div class="p-col-4 p-xl-4 p-lg-4 p-md-4 p-sm-4" style="padding-top: 0.5%!important; padding-bottom: 0%!important;">
                    <div class="p-grid">
                        <div class="p-col-12 contact-box">
                            <div class="box">
                                <div class="p-fluid">
                                    <div class="p-field p-grid">
                                        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 contact-icon"></label>
                                        <div class="p-col-12 p-md-10">
                                            <span class="contact-heading">Contact Persons:</span><br>
                                            MHS: Sebastian Gelderbloem<br>
                                            RHS: Sandra Smit<br>
                                            CH: Christalien Crowe<br>
                                        </div>
                                    </div>
                                    <div class="p-field p-grid">
                                        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 email-icon"></label>
                                        <div class="p-col-12 p-md-10">
                                            <span class="contact-heading">Email:</span><br>
                                            <a href="mailto://HSPP@westerncape.gov.za?subject=re: Support Needed" target="_blank">HSPP@westerncape.gov.za</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="height: 10px;"></div>
                        
                        <div class="p-col-12 calendar-box">
                            <div class="box calendar-icon"></div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>