<p-panel [toggleable]="false" [style]="{'font-size':'12px'}" header="Application Details">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
            <label class="mandatory-content">Department</label>
            <input type="text" class="form-text" pInputText [(ngModel)]="department.name" [ngModelOptions]="{standalone: true}" [disabled]="true">
        </div>
        <div class="p-field p-col-12 p-md-6">
            <label class="mandatory-content">Application Type</label>
            <input type="text" class="form-text" pInputText [(ngModel)]="applicationType.name" [ngModelOptions]="{standalone: true}" [disabled]="true">
        </div>
        <div class="p-field p-col-12 p-md-6">
            <label class="mandatory-content">Programme</label>
            <input type="text" class="form-text" pInputText [(ngModel)]="programme.name" [ngModelOptions]="{standalone: true}" [disabled]="true">
        </div>
        <div class="p-field p-col-12 p-md-6">
            <label class="mandatory-content">Financial Year</label>
            <input type="text" class="form-text" pInputText [(ngModel)]="financialYear.name" [ngModelOptions]="{standalone: true}" [disabled]="true">
        </div>
        <div class="p-field p-col-12 p-md-6">
            <label class="mandatory-content">Sub-Programme</label>
            <input type="text" class="form-text" pInputText [(ngModel)]="subProgramme.name" [ngModelOptions]="{standalone: true}" [disabled]="true">
        </div>
        <div class="p-field p-col-12 p-md-6">
            <label class="mandatory-content">Sub-ProgrammeType</label>
            <input type="text" class="form-text" pInputText [(ngModel)]="applicationPeriod.name" [ngModelOptions]="{standalone: true}" [disabled]="true">
        </div>
        <div class="p-field p-col-12 p-md-6">
            <label class="mandatory-content">Name</label>
            <input type="text" class="form-text" pInputText [(ngModel)]="applicationPeriod.name" [ngModelOptions]="{standalone: true}" [disabled]="true">
        </div>
        <div style="height: 10px;"></div>

        <p-panel [toggleable]="true" [style]="{'font-size':'12px'}" header="Facility and/or Community Place Information">
            <p-table [rowHover]="true" [columns]="facilityInfoCols" [value]="npoProfileFacilityLists" *ngIf="npoProfileFacilityLists" styleClass="p-datatable-sm">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                            {{col.header}}
                        </th>
                        <!-- <th style="width: 7%;">Actions</th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                    <tr class="heading">
                        <td *ngIf="rowGroupMetadata[rowIndex].itemExists === false" [attr.colspan]="4">
                            <span class="p-text-bold">{{rowData.facilityList.facilityType.name}}</span>
                        </td>
                    </tr>
                    <tr class="default-font">                    
                        <td>{{rowData.facilityList.facilitySubDistrict.name}}</td>
                        <td>{{rowData.facilityList.name}}</td>
                        <td>{{rowData.facilityList.facilityClass.name}}</td>
                        <td>{{rowData.facilityList.address}}</td>
                        <!-- <td style="text-align: center;">
                            <button pButton pRipple type="button" class="p-button-text action-button" icon="fa fa-pencil-square-o" (click)="editFacilityInformation(rowData)" pTooltip="Edit" tooltipPosition="top"></button>
                            <button pButton pRipple type="button" class="p-button-text p-button-danger action-button" icon="fa fa-trash" (click)="deleteFacilityInformation(rowData)" pTooltip="Delete" tooltipPosition="top"></button>
                        </td> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="default-font">
                        <td colspan="4" style="text-align: center;">No results found</td>
                    </tr>
                </ng-template>
                <!-- <ng-template pTemplate="summary" let-rowData>
                    <div style="text-align:left">
                        <button pButton pRipple type="button" label="Add Facility or Community Place Information" class="p-button-text" icon="fa fa-plus" (click)="addFacilityInformation()"></button>
                    </div>
                </ng-template> -->
            </p-table>
        </p-panel>     
    </div>


    <p-panel [style]="{'font-size':'12px'}" header="Project Vision">
          <div style="height: 15px;"></div>
          <div class="p-fluid">
            <div class="p-field">
              <label for="purposeQuestion" style="font-weight:bold">What is the purpose of the project? 
             </label>
                  <div style="height: 15px;"></div>
              <p-editor pInputText [(ngModel)]="purposeQuestion" [ngModelOptions]="{standalone: true}"
              (ngModelChange)="onPurposeQuestionChange($event)">
              </p-editor>
            </div>
          </div>
          <div style="height: 15px;"></div>
      </p-panel>

    <div style="height: 10px;"></div>
    <div class="p-grid p-nogutter p-justify-between" *ngIf="headerTitle !== 'reviewAdjudicatedNpo'">
        <p-button label="Back" (onClick)="prevPage()" icon="fa fa-angle-left" *ngIf ="headerTitle !== 'view'"></p-button>
        <p-button label="Next" (onClick)="nextPage()" icon="fa fa-angle-right" iconPos="right" *ngIf ="headerTitle !== 'view'"></p-button>
    </div>
</p-panel>
